force-app/main/default/flows/Account_System_ID_Add_from_Service_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Entry_To_Collection</name>
        <label>Add Entry To Collection</label>
        <locationX>301</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>colAccountSysIdEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAccountSystemID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SystemID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_To_Collection_0</name>
        <label>Add Entry To Collection</label>
        <locationX>359</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>colAccountSysIdEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAccountSystemID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_System_ID_s_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_System_ID_entries</name>
        <label>Create Account System ID entries</label>
        <locationX>303</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>objAccountSystemID.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objServiceAddress.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountSystemID.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSystemID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountSystemID.System_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objServiceAddress.System_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Entry_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_System_ID_entries_0</name>
        <label>Create Account System ID entries</label>
        <locationX>215</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>objAccountSystemID.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objServiceAddress.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountSystemID.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSystemID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountSystemID.System_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objServiceAddress.System_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Entry_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>22</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>vServiceAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0S3200000NbU5F</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Service_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>See_if_Collection_is_Empty</name>
        <label>See if Collection is Empty</label>
        <locationX>27</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SystemID_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAccountSystemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_System_ID_entries_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_ID_already_Exists</name>
        <label>System ID already Exists</label>
        <locationX>283</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Create_Account_System_ID_entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objServiceAddress.System_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objAccountSystemID.System_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_SystemID_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Account System ID - Add from Service Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account System ID - Add from Service Address</label>
    <loops>
        <name>Loop_Through_SystemID_s</name>
        <label>Loop Through SystemID&#39;s</label>
        <locationX>31</locationX>
        <locationY>636</locationY>
        <assignNextValueToReference>objAccountSystemID</assignNextValueToReference>
        <collectionReference>colAccountSystemID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>System_ID_already_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Account_System_ID_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_System_ID_s</name>
        <label>Create Account System ID&#39;s</label>
        <locationX>30</locationX>
        <locationY>817</locationY>
        <inputReference>colAccountSysIdEntries</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_System_ID_s_0</name>
        <label>Create Account System ID&#39;s</label>
        <locationX>500</locationX>
        <locationY>525</locationY>
        <inputReference>colAccountSysIdEntries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>29</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_System_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceAddress.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_System_ID_s</name>
        <label>Lookup Account System ID&#39;s</label>
        <locationX>27</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>See_if_Collection_is_Empty</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceAddress.Account__c</elementReference>
            </value>
        </filters>
        <object>Account_System_ID__c</object>
        <outputReference>colAccountSystemID</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>System_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Address</name>
        <label>Lookup Service Address</label>
        <locationX>25</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vServiceAddressId</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputReference>objServiceAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>System_ID__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_System_ID</name>
        <label>Lookup System ID</label>
        <locationX>29</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_System_ID_s</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objServiceAddress.System_ID__c</elementReference>
            </value>
        </filters>
        <object>System_ID__c</object>
        <outputReference>objSystemID</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Service_Address</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAccountSysIdEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_System_ID__c</objectType>
    </variables>
    <variables>
        <name>colAccountSystemID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_System_ID__c</objectType>
    </variables>
    <variables>
        <name>colServiceAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Address__c</objectType>
    </variables>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAccountSysIDentries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_System_ID__c</objectType>
    </variables>
    <variables>
        <name>objAccountSysIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_System_ID__c</objectType>
    </variables>
    <variables>
        <name>objAccountSystemID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_System_ID__c</objectType>
    </variables>
    <variables>
        <name>objServiceAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Address__c</objectType>
    </variables>
    <variables>
        <name>objSystemID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>System_ID__c</objectType>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountSystemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vServiceAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSystemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSystemIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
