force-app/main/default/flows/Account_Create_New_Opportunity_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_New_Opportunity</name>
        <label>Open New Opportunity</label>
        <locationX>1013</locationX>
        <locationY>917</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>33</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0013200001E1i3h</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incr_Counter</name>
        <label>Incr Counter</label>
        <locationX>808</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>vActiveCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Contract_ID</name>
        <label>Save Contract ID</label>
        <locationX>1187</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>vContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Commercial_Fields</name>
        <label>Set Commercial Fields</label>
        <locationX>582</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>vRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCommercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message</name>
        <label>Set Message</label>
        <locationX>376</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttNewAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_0</name>
        <label>Set Message</label>
        <locationX>180</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttNoActivated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Type_to_A_M_C</name>
        <label>Set Opp Type to A/M/C</label>
        <locationX>797</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add/Move/Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttAMC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Residential_Fields</name>
        <label>Set Residential Fields</label>
        <locationX>582</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>vRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vResidential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttResidentialCustomer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Values</name>
        <label>Update Values</label>
        <locationX>405</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vGetAcctId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStartMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_New_Products_Only</name>
        <choiceText>Add New Products Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Products Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Order_Service_Reduction_or_Renewal_from_existing_Contract</name>
        <choiceText>Add/Move/Change, Service Reduction or Renewal from existing Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AMC</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Agreement_with_a_New_Contract</name>
        <choiceText>New Agreement with a New Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type?</label>
        <locationX>379</locationX>
        <locationY>905</locationY>
        <defaultConnector>
            <targetReference>Set_Commercial_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>COMMERCIAL</defaultConnectorLabel>
        <rules>
            <name>RESIDENTIAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSupportAccountType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Residential_Fields</targetReference>
            </connector>
            <label>RESIDENTIAL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activated_Contract_s</name>
        <label>Activated Contract(s)?</label>
        <locationX>181</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Set_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Type</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mode</name>
        <label>Check Mode</label>
        <locationX>179</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACCOUNT</defaultConnectorLabel>
        <rules>
            <name>OPPORTUNITY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fLeft3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>OPPORTUNITY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Mode</name>
        <label>Flow Mode</label>
        <locationX>183</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BUTTON</defaultConnectorLabel>
        <rules>
            <name>TAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fUpperMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Types</targetReference>
            </connector>
            <label>TAB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Contracts</name>
        <label>Multiple Contracts?</label>
        <locationX>1002</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Opp_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vActiveCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Contract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Type</name>
        <label>Opp Type?</label>
        <locationX>559</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Set_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NEW AGREEMENT</defaultConnectorLabel>
        <rules>
            <name>FROM_CONTRACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Order_Service_Reduction_or_Renewal_from_existing_Contract</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Type0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_New_Products_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Multiple</targetReference>
            </connector>
            <label>FROM CONTRACT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Type_0</name>
        <label>Opp Type?</label>
        <locationX>1190</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Menu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHANGES</defaultConnectorLabel>
        <rules>
            <name>ADD_ONLY</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_New_Products_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Type_to_A_M_C</targetReference>
            </connector>
            <label>ADD ONLY</label>
        </rules>
    </decisions>
    <description>Lightning Only version of the create new Opportunity flow</description>
    <dynamicChoiceSets>
        <name>ActiveContract</name>
        <dataType>String</dataType>
        <displayField>Selection_Text__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <sortField>Selection_Text__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fClickHere</name>
        <dataType>String</dataType>
        <expression>&#39;&lt;A HREF=&quot;&#39; &amp; {!$Label.GWI_Salesforce_Domain} &amp; {!vOppId} &amp; &#39;/e?retURL=%2F006%2Fo&amp;ent=Opportunity &quot; TARGET=&quot;_blank&quot;&gt;&#39; &amp; 
&#39;&lt;img src=&quot;/resource/Opportunity_Logo&quot; /&gt;&lt;/A&gt;&#39;</expression>
    </formulas>
    <formulas>
        <name>fLeft3</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!vStartMode},3))</expression>
    </formulas>
    <formulas>
        <name>fOppMode</name>
        <dataType>String</dataType>
        <expression>RIGHT({!vStartMode},LEN({!vStartMode})-3)</expression>
    </formulas>
    <formulas>
        <name>fOppName</name>
        <dataType>String</dataType>
        <expression>{!vAccountName} &amp; &quot; - &quot;</expression>
    </formulas>
    <formulas>
        <description>120 character max for Opp Name</description>
        <name>fOppName120</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!ttOppName})&lt;121,{!ttOppName},
LEFT({!ttOppName},59) &amp; &quot;...&quot; &amp; RIGHT({!ttOppName},58))</expression>
    </formulas>
    <formulas>
        <name>fOppType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vPlatID}),&quot;New Customer&quot;, &quot;New Agreement&quot;)</expression>
    </formulas>
    <formulas>
        <name>fUpperMode</name>
        <dataType>String</dataType>
        <expression>UPPER({!vStartMode})</expression>
    </formulas>
    <interviewLabel>Account - Create New Opportunity (Lightning) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create New Opportunity (Lightning)</label>
    <loops>
        <name>Check_for_Multiple</name>
        <label>Check for Multiple</label>
        <locationX>809</locationX>
        <locationY>521</locationY>
        <assignNextValueToReference>objContract</assignNextValueToReference>
        <collectionReference>colContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Incr_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Multiple_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <description>Record type will need to change when implementing Residential</description>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>797</locationX>
        <locationY>914</locationY>
        <assignRecordIdToReference>vOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fOppName120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vCommercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_months__c</field>
            <value>
                <stringValue>36</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vOppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>406</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vGetAcctId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>180</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPlatID</assignToReference>
            <field>Plat_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSupportAccountType</assignToReference>
            <field>Support_Account_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>181</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activated_Contract_s</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>colContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Selection_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>378</locationX>
        <locationY>793</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <object>Record_IDs__mdt</object>
        <outputAssignments>
            <assignToReference>vCommercial</assignToReference>
            <field>Opp_Record_Type_Commercial__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vResidential</assignToReference>
            <field>Opp_Record_Type_Residential__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>181</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
        <fields>
            <name>fOppName1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fOppName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Opportunity</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Create Opportunity?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_0</name>
        <label>Confirm</label>
        <locationX>795</locationX>
        <locationY>1009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <fields>
            <name>fOppName1_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fOppName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>msg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next</name>
            <fieldText>Click Next to create your new Opportunity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>374</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opp_Type</targetReference>
        </connector>
        <fields>
            <name>Msg1</name>
            <fieldText>{!vAccountName} has one or more activated Contracts.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Msg2</name>
            <fieldText>Are you creating a New Agreement or are you processing an Add/Move/Change, Termination or Renewal?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Type0</name>
            <choiceReferences>Add_New_Products_Only</choiceReferences>
            <choiceReferences>Change_Order_Service_Reduction_or_Renewal_from_existing_Contract</choiceReferences>
            <choiceReferences>New_Agreement_with_a_New_Contract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompleteName</name>
            <fieldText>Please complete your New Opportunity Name (Just for Add Only or New Agreement):</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fOppName0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fOppName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contract</name>
        <label>Select Contract</label>
        <locationX>1185</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Contract_ID</targetReference>
        </connector>
        <fields>
            <name>Acct</name>
            <fieldText>{!vAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract</name>
            <choiceReferences>ActiveContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Active Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_Mode</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Opportunity_Menu</name>
        <label>Create Opportunity Menu</label>
        <locationX>1193</locationX>
        <locationY>914</locationY>
        <flowName>Contract_Create_Opportunity_Menu</flowName>
        <inputAssignments>
            <name>vContractId</name>
            <value>
                <elementReference>vContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppNameSuffix</name>
            <value>
                <elementReference>fOppName0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ttAMC</name>
        <text>Create a new Add/Move/Change Opportunity for {!vAccountName}.</text>
    </textTemplates>
    <textTemplates>
        <name>ttNewAgreement</name>
        <text>{!vAccountName} already has existing Contract(s).  You will be creating a New Agreement on this Account.</text>
    </textTemplates>
    <textTemplates>
        <name>ttNoActivated</name>
        <text>There are currently no activated Contracts for {!vAccountName}.</text>
    </textTemplates>
    <textTemplates>
        <description>Either but not both fOppName0 and fOppName1 will have a value</description>
        <name>ttOppName</name>
        <text>{!fOppName}{!fOppName0}{!fOppName1}</text>
    </textTemplates>
    <textTemplates>
        <name>ttResidentialCustomer</name>
        <text>{!vAccountName} is a Residential Customer</text>
    </textTemplates>
    <variables>
        <name>colContract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vActiveCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCommercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGetAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPlatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResidential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set to Tab or Button.  Flow will not create new Opportunity fwithout confirmation when called from a Tab. (Default: Button)</description>
        <name>vStartMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Button</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSupportAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
