force-app/main/default/flows/Account_Create_Opportunity_from_Active_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>31</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0013200001E1i3hAAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incr_Counter</name>
        <label>Incr Counter</label>
        <locationX>363</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>vActiveCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Contract_ID</name>
        <label>Save Contract ID</label>
        <locationX>740</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>vContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Menu</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activated_Contract_s</name>
        <label>Activated Contract(s)?</label>
        <locationX>170</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Multiple</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Contracts</name>
        <label>Multiple Contracts?</label>
        <locationX>551</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Menu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vActiveCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Contract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveContract</name>
        <dataType>String</dataType>
        <displayField>Selection_Text__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <sortField>Selection_Text__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Account - Create Opportunity from Active Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create Opportunity from Active Contract</label>
    <loops>
        <name>Check_for_Multiple</name>
        <label>Check for Multiple</label>
        <locationX>364</locationX>
        <locationY>247</locationY>
        <assignNextValueToReference>objContract</assignNextValueToReference>
        <collectionReference>colContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Incr_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Multiple_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>170</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activated_Contract_s</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>colContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Selection_Text__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>171</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Account has no activated Contracts to create an Opportunity from!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contract</name>
        <label>Select Contract</label>
        <locationX>554</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Contract_ID</targetReference>
        </connector>
        <fields>
            <name>Contract</name>
            <choiceReferences>ActiveContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Active Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contracts</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Opportunity_Menu</name>
        <label>Create Opportunity Menu</label>
        <locationX>736</locationX>
        <locationY>246</locationY>
        <flowName>Contract_Create_Opportunity_Menu</flowName>
        <inputAssignments>
            <name>vContractId</name>
            <value>
                <elementReference>vContractId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colContract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vActiveCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
