force-app/main/default/flows/ADMIN_TOOL_Opportunity_Set_Stage_To_Design_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>12</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>vCurrentOppID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GetOppID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMessageComplete</name>
        <label>SetMessageComplete</label>
        <locationX>538</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>vScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Completed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMessageNotFound</name>
        <label>SetMessageNotFound</label>
        <locationX>342</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>vScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found. Try Again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OppIdExists</name>
        <label>OppIdExists</label>
        <locationX>344</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>SetMessageNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INVALID ID</defaultConnectorLabel>
        <rules>
            <name>Valid_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReverseTime</targetReference>
            </connector>
            <label>VALID ID</label>
        </rules>
    </decisions>
    <description>Reset Opportunity To Design Stage From Any Stage. 
Input Opportunity ID, Set stage to Design Approval, 
Clear 9 flags, 
Clears: Closed Lost Notes, Closed Lost Reason, and Closed Lost to Competitor 
Ends with confirmation on the staring screen.</description>
    <interviewLabel>ADMIN TOOL: Opportunity - Set Stage To Design Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADMIN TOOL: Opportunity - Set Stage To Design Approval</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>StandAloneValidation</name>
        <label>StandAloneValidation</label>
        <locationX>169</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppIdExists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vCurrentOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ReverseTime</name>
        <label>ReverseTime</label>
        <locationX>539</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>SetMessageComplete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrentOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Granted_Design__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Granted_Finance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Rejected_Design__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Rejected_Finance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Lost_To__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Design Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Lost__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WF_Closed_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WF_PDT_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>GetOppID</name>
        <label>GetOppID</label>
        <locationX>168</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StandAloneValidation</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vScreenMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CAUTION</name>
            <fieldText>CAUTION - This Flow Will Reset The Selected Opportunity Back To A Status Of, &quot;Design Approval.&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_ID</name>
            <dataType>String</dataType>
            <fieldText>Opportunity ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Do_Nothing</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Current Opportunity ID</description>
        <name>vCurrentOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Message to be shown on the screen to inform the user of the status of the flow.</description>
        <name>vScreenMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
