force-app/main/default/flows/Asset_Create_New_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>21</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>vAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0016000000HTh7n</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t32000005KxSP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_CPE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Filter0</name>
        <label>Filter?</label>
        <locationX>363</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CONTINUE</defaultConnectorLabel>
        <rules>
            <name>FILTER00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Product_CPE</targetReference>
            </connector>
            <label>FILTER</label>
        </rules>
    </decisions>
    <description>Create new Asset from Asset related list button on an Account</description>
    <dynamicChoiceSets>
        <name>CPE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPE</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Filter</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vProdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Create New (Account)</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Asset</name>
        <label>New Asset</label>
        <locationX>544</locationX>
        <locationY>361</locationY>
        <assignRecordIdToReference>vAssetId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <stringValue>CPE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type__c</field>
            <value>
                <elementReference>vEqt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>vMfg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mfr_Part_Number__c</field>
            <value>
                <elementReference>vMpn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>vMod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vProdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>vProdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Information</name>
        <label>Get Product Information</label>
        <locationX>364</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPE</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vEqt</assignToReference>
            <field>Equipment_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMfg</assignToReference>
            <field>Manufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMpn</assignToReference>
            <field>Mfr_Part_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMod</assignToReference>
            <field>Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProdName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Select_Product_CPE</name>
        <label>Select Product (CPE)</label>
        <locationX>175</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter0</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <choiceReferences>CPE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dash</name>
            <fieldText>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prompt</name>
            <fieldText>[ Enter a value below, Check the box and Select Finish only if you want to filter the above Product selection list. ]</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filter</name>
            <dataType>String</dataType>
            <fieldText>Filter (If Needed)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Process_Filter</name>
            <dataType>Boolean</dataType>
            <fieldText>Process Filter</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check this box and click Next to apply the filter.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Product_CPE</startElementReference>
    <status>Active</status>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEqt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMfg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMpn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
