force-app/main/default/flows/Asset_Replace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>17</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>vAssetID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02iV0000005qnyl</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Asset</name>
        <label>Update Old Asset</label>
        <locationX>685</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>objAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.In_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Removal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Replacement_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewAssetID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Old_Asset</targetReference>
        </connector>
    </assignments>
    <description>Clone and update an Asset that is replaced. *** This VWF will need to be updated as Asset fields are added or removed. ***</description>
    <formulas>
        <name>fGWI_URL</name>
        <dataType>String</dataType>
        <expression>{!$Label.GWI_Salesforce_Domain}</expression>
    </formulas>
    <interviewLabel>Asset Replace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Replace</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Replacement_Asset</name>
        <label>Create Replacement Asset</label>
        <locationX>508</locationX>
        <locationY>140</locationY>
        <assignRecordIdToReference>vNewAssetID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Old_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objAsset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <elementReference>objAsset.Asset_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CO__c</field>
            <value>
                <elementReference>objAsset.CO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Notes__c</field>
            <value>
                <elementReference>objAsset.Configuration_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>objAsset.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>objAsset.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ttNewDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type__c</field>
            <value>
                <elementReference>objAsset.Equipment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Notes__c</field>
            <value>
                <elementReference>objAsset.Installation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Description__c</field>
            <value>
                <elementReference>objAsset.Location_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>objAsset.Manufacturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mfr_Part_Number__c</field>
            <value>
                <elementReference>objAsset.Mfr_Part_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>objAsset.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAsset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oli_Id__c</field>
            <value>
                <elementReference>objAsset.Oli_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orion_Name__c</field>
            <value>
                <elementReference>objAsset.Orion_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objAsset.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price</field>
            <value>
                <elementReference>objAsset.Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>objAsset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>objAsset.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address__c</field>
            <value>
                <elementReference>objAsset.Service_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Asset__c</field>
            <value>
                <elementReference>objAsset.Shared_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Asset_Price__c</field>
            <value>
                <elementReference>objAsset.Total_Asset_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Open_Asset</name>
        <label>Open Asset</label>
        <locationX>337</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Replacement_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>objAsset</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>RootAssetId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>CO__c</queriedFields>
        <queriedFields>Configuration_Notes__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <queriedFields>Equipment_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Installation_Notes__c</queriedFields>
        <queriedFields>Location_Description__c</queriedFields>
        <queriedFields>Manufacturer__c</queriedFields>
        <queriedFields>Mfr_Part_Number__c</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Oli_Id__c</queriedFields>
        <queriedFields>Orion_Name__c</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Replacement_Asset__c</queriedFields>
        <queriedFields>RMA_RT_Number__c</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Shared_Asset__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Old_Asset</name>
        <label>Save Old Asset</label>
        <locationX>859</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>Link_to_New_Asset</targetReference>
        </connector>
        <inputReference>objAsset</inputReference>
    </recordUpdates>
    <screens>
        <name>Link_to_New_Asset</name>
        <label>Link to New Asset</label>
        <locationX>863</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Hyperlink</name>
            <fieldText>&lt;a href=&quot;{!fGWI_URL}/{!vNewAssetID}/e&quot;&gt;Edit Replacement Asset&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Open_Asset</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <description>Prepend replacement information to the description on the new Asset</description>
        <name>ttNewDescription</name>
        <text>[{!$Flow.CurrentDate}] Replaced ({!objAsset.Id}) --{!objAsset.Description}</text>
    </textTemplates>
    <variables>
        <description>Original Asset Record</description>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
