force-app/main/default/flows/Assets_Phase_1_Set_Post_Deploy_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>34</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>vFirstofLastMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2017-04-01</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing_0</name>
        <label>Test ID</label>
        <locationX>216</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>vTestID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0063200001ongVx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Opps_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_OLI_Changes</name>
        <label>Save OLI Changes</label>
        <locationX>444</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>colUpdOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OLI_Fields</name>
        <label>Set OLI Fields</label>
        <locationX>443</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>objOLI.Billing_Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.IsConverted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Date_Sent_to_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOpp.Billable_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_OLI_Changes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cDays</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <description>Update fields for Billed current &amp; last month - May have to disable lookup filters in Opp and OLI first</description>
    <interviewLabel>Assets Phase 1 - Set Post Deploy Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assets Phase 1 - Set Post Deploy Values</label>
    <loops>
        <name>Process_OLIs</name>
        <label>Process OLIs</label>
        <locationX>240</locationX>
        <locationY>415</locationY>
        <assignNextValueToReference>objOLI</assignNextValueToReference>
        <collectionReference>colOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OLI_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Opps</name>
        <label>Process Opps</label>
        <locationX>35</locationX>
        <locationY>274</locationY>
        <assignNextValueToReference>objOpp</assignNextValueToReference>
        <collectionReference>colOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_OLIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_Changes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Opps</name>
        <label>Get Current Opps</label>
        <locationX>34</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Opps</targetReference>
        </connector>
        <filters>
            <field>Billable_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2017-04-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Billable_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <dateValue>2017-04-05</dateValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>colOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billable_Date__c</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opps_0</name>
        <label>Test Opp</label>
        <locationX>217</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Opps</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTestID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>colOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billable_Date__c</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>241</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_OLIs</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOpp.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>colOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Enabled__c</queriedFields>
        <queriedFields>IsConverted__c</queriedFields>
        <queriedFields>Date_Sent_to_Billing__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Write_Changes</name>
        <label>Write Changes</label>
        <locationX>34</locationX>
        <locationY>421</locationY>
        <inputReference>colUpdOLI</inputReference>
    </recordUpdates>
    <startElementReference>Do_Nothing</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>colUpdOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vFirstofLastMonth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
