force-app/main/default/flows/Assigned_ProvTicket_Process_Completed_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Parent_Object</name>
        <label>Parent Object?</label>
        <locationX>297</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_Flag_0</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_Flag</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Handle updates when an Assigned ProvTicket is Closed</description>
    <formulas>
        <name>fCase</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!vCaseId})&gt;0</expression>
    </formulas>
    <formulas>
        <name>fOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!vOpportunityId})&gt;0</expression>
    </formulas>
    <interviewLabel>Assigned ProvTicket - Process Completed Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned ProvTicket - Process Completed Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Completed_Flag</name>
        <label>Set Completed Flag</label>
        <locationX>421</locationX>
        <locationY>357</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_ProvTicket_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Completed_Flag_0</name>
        <label>Set Completed Flag</label>
        <locationX>199</locationX>
        <locationY>361</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_ProvTicket_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Parent_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEnter</name>
        <text>&lt;p&gt;Enter Flow&lt;/p&gt;&lt;p&gt;Case: {!vCaseId}&lt;/p&gt;&lt;p&gt;Opp: {!vOpportunityId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
