force-app/main/default/flows/Billing_Enable_OLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Asset</name>
        <label>Add Asset</label>
        <locationX>475</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>colAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_0</name>
        <label>Add Asset</label>
        <locationX>822</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>colAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>466</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>colOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>982</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>colUpdAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_First_Flag</name>
        <label>Clear First Flag</label>
        <locationX>172</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>vFirst</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRenewal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OLI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Date</name>
        <label>Convert Date</label>
        <locationX>170</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>vBillDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fConvertDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>11</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>colIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$GlobalConstant.False}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Fields</name>
        <label>Set Asset Fields</label>
        <locationX>1192</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>objAsset.In_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOLI.Date_Sent_to_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Instead of setting Status to Removed / Disposed, leaving at Selected for Turn-Down</description>
        <name>Set_Asset_Fields_0</name>
        <label>Set Asset Fields</label>
        <locationX>1412</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>objAsset.In_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Removal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOLI.Date_Sent_to_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Selected for Turn-Down</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOLI.Date_Sent_to_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Flag</name>
        <label>Set Date &amp; Flag</label>
        <locationX>467</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>objOLI.Billing_Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Date_Sent_to_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBillDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Instead of setting Status to Inactive - To be Reclaimed, leaving at Selected for Turn-Down</description>
        <name>To_be_Reclaimed</name>
        <label>To be Reclaimed</label>
        <locationX>1402</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>objAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Selected for Turn-Down</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_in_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_or_Disconnect</name>
        <label>Add or Disconnect?</label>
        <locationX>1197</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Set_Asset_Fields_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TURN-DOWN</defaultConnectorLabel>
        <rules>
            <name>TURN_UP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAsset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Turn-Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Fields</targetReference>
            </connector>
            <label>TURN-UP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_in_Collection</name>
        <label>Already in Collection?</label>
        <locationX>983</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colUpdAsset</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>objAsset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Assets</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Status</name>
        <label>Asset Status</label>
        <locationX>990</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Add_or_Disconnect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT RENEWAL</defaultConnectorLabel>
        <rules>
            <name>RENEWAL_ACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAsset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_in_Collection</targetReference>
            </connector>
            <label>RENEWAL-ACTIVE</label>
        </rules>
        <rules>
            <name>RENEWAL_TURNDOWN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAsset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected for Turn-Down</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Fields_0</targetReference>
            </connector>
            <label>RENEWAL-TURNDOWN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Type</name>
        <label>Asset Type?</label>
        <locationX>1406</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Already_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SERVICE/FEE</defaultConnectorLabel>
        <rules>
            <name>EQUIPMENTCPE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objAsset.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAsset.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_be_Reclaimed</targetReference>
            </connector>
            <label>EQUIPMENT/CPE</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Record</name>
        <label>First Record?</label>
        <locationX>173</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Get_OLI_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CONTINUE</defaultConnectorLabel>
        <rules>
            <name>FIRST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFirst</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OLI</targetReference>
            </connector>
            <label>FIRST</label>
        </rules>
    </decisions>
    <description>Set fields in OpportunityLineItems and converted Assets with IDs from passed list from the Billing Enable VFP/Apex</description>
    <formulas>
        <name>fConvertDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!vTextDate})</expression>
    </formulas>
    <formulas>
        <name>fRenewal</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!vOppType},3)=&quot;Ren&quot;,True,False)</expression>
    </formulas>
    <interviewLabel>Billing Enable OLIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Enable OLIs</label>
    <loops>
        <name>Loop_Selected</name>
        <label>Loop Selected</label>
        <locationX>472</locationX>
        <locationY>675</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colSelectedAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset_Record_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_0</name>
        <label>Loop Selected</label>
        <locationX>817</locationX>
        <locationY>678</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colSelectedAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Asset_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Assets</name>
        <label>Process Assets</label>
        <locationX>650</locationX>
        <locationY>195</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_OLIs</name>
        <label>Process OLIs</label>
        <locationX>169</locationX>
        <locationY>195</locationY>
        <assignNextValueToReference>vOLIid</assignNextValueToReference>
        <collectionReference>colIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_OLI_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Record_0</name>
        <label>Get Asset Records</label>
        <locationX>641</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Record_0_0</targetReference>
        </connector>
        <filters>
            <field>Oli_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOLI.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Oli_Id__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record_0_0</name>
        <label>Get Turn-Down Asset Records</label>
        <locationX>645</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <filters>
            <field>Disconnect_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOLI.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected for Turn-Down</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colSelectedAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Oli_Id__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record_0_0_0</name>
        <label>Get Turn-Up Asset Records</label>
        <locationX>649</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Selected_0</targetReference>
        </connector>
        <filters>
            <field>Oli_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOLI.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Turn-Up</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colSelectedAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Oli_Id__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OLI</name>
        <label>Get OLI</label>
        <locationX>171</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOLIid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>vOppId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OLI_Record</name>
        <label>Get OLI Record</label>
        <locationX>466</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Date_Flag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOLIid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>objOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Enabled__c</queriedFields>
        <queriedFields>Date_Sent_to_Billing__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>173</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_First_Flag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOppType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Save_Asset_Updates_0</name>
        <label>Save Asset Updates</label>
        <locationX>650</locationX>
        <locationY>93</locationY>
        <inputReference>colUpdAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_OLI_Updates</name>
        <label>Save OLI Updates</label>
        <locationX>454</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Save_Asset_Updates_0</targetReference>
        </connector>
        <inputReference>colOLI</inputReference>
    </recordUpdates>
    <startElementReference>Convert_Date</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colSelectedAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colUpdAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vBillDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>input parameter in the format of &quot;YYYY-MM-DD&quot;</description>
        <name>vTextDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
