force-app/main/default/flows/Bulk_Chatter_Add.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_User_To_Collection</name>
        <label>Add_User_To_Collection</label>
        <locationX>379</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>NewChatterMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMemberToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>See_If_User_Is_In_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_User_To_Add</name>
        <label>Create User To Add</label>
        <locationX>381</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>SingleMemberToAdd.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneChatterSettings.Chatter_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMemberToAdd.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserLoopId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>See_If_Record_Was_Found</name>
        <label>See If Record Was Found</label>
        <locationX>629</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>See_If_User_Is_In_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreationDate.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_To_Add</targetReference>
            </connector>
            <label>Record Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>Bulk Chatter Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Chatter Add</label>
    <loops>
        <name>Loop_Through_Settings</name>
        <label>Loop Through Settings</label>
        <locationX>448</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>OneChatterSettings</assignNextValueToReference>
        <collectionReference>ChatterSettings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Users_In_Profile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Users_To_Chatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>See_If_User_Is_In_Chatter</name>
        <label>See If User Is In Chatter</label>
        <locationX>620</locationX>
        <locationY>349</locationY>
        <assignNextValueToReference>UserLoopId</assignNextValueToReference>
        <collectionReference>Potential_Additions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User_In_Chatter_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Settings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Users_To_Chatter</name>
        <label>Add Users To Chatter</label>
        <locationX>811</locationX>
        <locationY>353</locationY>
        <inputReference>NewChatterMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Chatter_Settings</name>
        <label>Chatter Settings</label>
        <locationX>285</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Settings</targetReference>
        </connector>
        <filters>
            <field>Chatter_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Chatter_Group_Assignment__c</object>
        <outputReference>ChatterSettings</outputReference>
        <queriedFields>Chatter_Group__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_User_In_Chatter_Group</name>
        <label>Check User In Chatter Group</label>
        <locationX>803</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>See_If_Record_Was_Found</targetReference>
        </connector>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OneChatterSettings.Chatter_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLoopId.Id</elementReference>
            </value>
        </filters>
        <object>CollaborationGroupMember</object>
        <outputAssignments>
            <assignToReference>CreationDate.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Users_In_Profile</name>
        <label>Get All Users In Profile</label>
        <locationX>451</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>See_If_User_Is_In_Chatter</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OneChatterSettings.Role__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Potential_Additions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Chatter_Settings</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Chatter Settings</description>
        <name>ChatterSettings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chatter_Group_Assignment__c</objectType>
    </variables>
    <variables>
        <name>CreationDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>NewChatterMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>OneChatterSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chatter_Group_Assignment__c</objectType>
    </variables>
    <variables>
        <name>Potential_Additions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SingleMemberToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>UserLoopId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
