force-app/main/default/flows/Case_New_Email_on_Closed_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Assignment_Rules</name>
        <label>Run Assignment Rules</label>
        <locationX>78</locationX>
        <locationY>532</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_New_Case_Email</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>vNewCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Case_Email</name>
        <label>Send New Case Email</label>
        <locationX>73</locationX>
        <locationY>626</locationY>
        <actionName>Case.New_Case_Created_Email_Support</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vNewCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>78</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>vOldBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objEmailMessage.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOldSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objEmailMessage.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>82</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>vEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02sq00000049lDt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Info</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fNewbody</name>
        <dataType>String</dataType>
        <expression>LEFT({!vOldBody},FIND(&quot;ref:_&quot;,{!vOldBody})-1)</expression>
    </formulas>
    <formulas>
        <name>fNewSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!vOldSubject},FIND(&quot;[ ref:_&quot;,{!vOldSubject})-1)</expression>
    </formulas>
    <interviewLabel>Case - New Email on Closed Case  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - New Email on Closed Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>75</locationX>
        <locationY>453</locationY>
        <assignRecordIdToReference>vNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Run_Assignment_Rules</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>objCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ttBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_from_Closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G32000002KtIs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address__c</field>
            <value>
                <elementReference>objCase.Service_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ttSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>80</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objEmailMessage.RelatedToId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Info</name>
        <label>Get Email Info</label>
        <locationX>82</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmailId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>objEmailMessage</outputReference>
        <queriedFields>ToAddress</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>RelatedToId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Email_Info</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttBody</name>
        <text>{!fNewbody}</text>
    </textTemplates>
    <textTemplates>
        <name>ttSubject</name>
        <text>{!fNewSubject}</text>
    </textTemplates>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>objQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>objQueue1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOldBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOldSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
