force-app/main/default/flows/Case_Bulk_Co_Add.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Entry_To_Collection</name>
        <label>Add Entry To Collection</label>
        <locationX>851</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>colCaseCoEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCaseCos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Co</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Case_Co_Entries</name>
        <label>Create Case Co Entries</label>
        <locationX>852</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>objCaseCos.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseCos.CO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Entry_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>22</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>vCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5000e00001KWJeF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_Co_Tool</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_or_Remove</name>
        <label>Add or Remove</label>
        <locationX>196</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Case_Co</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <description>Case#49950 - This flow is kicked off by Add_Remove_All_PoP_s Button to Add All or Remove All PoP&#39;s to/from an NE- Maintenance or NE - Outage Case.</description>
    <interviewLabel>Case - Bulk Co Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case PoP- Bulk PoP Add</label>
    <loops>
        <name>Loop_Through_Co</name>
        <label>Loop Through Co</label>
        <locationX>657</locationX>
        <locationY>227</locationY>
        <assignNextValueToReference>objCo</assignNextValueToReference>
        <collectionReference>colCo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Case_Co_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Cos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Cos</name>
        <label>Create Case Cos</label>
        <locationX>667</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Update_All_Pop_Flag</targetReference>
        </connector>
        <inputReference>colCaseCoEntries</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Case_Co</name>
        <label>Delete All Case Co</label>
        <locationX>201</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Remove_All_Pop_Flag</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case_CO__c</object>
    </recordDeletes>
    <recordLookups>
        <name>CO_s</name>
        <label>CO&#39;s</label>
        <locationX>494</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Co</targetReference>
        </connector>
        <object>CO__c</object>
        <outputReference>colCo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>349</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_s</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Remove_All_Pop_Flag</name>
        <label>Remove All Pop Flag</label>
        <locationX>203</locationX>
        <locationY>441</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NEO_All_PoP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Pop_Flag</name>
        <label>Update All Pop Flag</label>
        <locationX>670</locationX>
        <locationY>425</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NEO_All_PoP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Bulk_Co_Tool</name>
        <label>Bulk Co Tool</label>
        <locationX>195</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Remove</targetReference>
        </connector>
        <fields>
            <name>Add</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remove</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Remove</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Bulk_Co_Tool</startElementReference>
    <status>Active</status>
    <variables>
        <name>colCaseCoEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_CO__c</objectType>
    </variables>
    <variables>
        <name>colCo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CO__c</objectType>
    </variables>
    <variables>
        <name>colPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>colPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objCaseCos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_CO__c</objectType>
    </variables>
    <variables>
        <name>objCo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CO__c</objectType>
    </variables>
    <variables>
        <name>objCOs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CO__c</objectType>
    </variables>
    <variables>
        <name>objPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>objPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStdPBID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
