force-app/main/default/flows/CircuitID_Select_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>24</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>vCID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Vn0000000cAhK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Circuit_ID_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Assets</name>
        <label>Found Assets?</label>
        <locationX>181</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Nothing_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Address</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Service_Address</name>
        <label>Found Service Address?</label>
        <locationX>183</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Nothing_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Select an Asset from the Same Service Address linked to this CID</description>
    <dynamicChoiceSets>
        <name>SA_Assets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Service_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSA</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vAsset</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CircuitID - Select Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CircuitID - Select Asset</label>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get all assets that are on the same Service Address</description>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>181</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Assets</targetReference>
        </connector>
        <filters>
            <field>Service_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSA</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Circuit_ID_Record</name>
        <label>Get Circuit ID Record</label>
        <locationX>185</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Service_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCID</elementReference>
            </value>
        </filters>
        <object>Circuit_ID__c</object>
        <outputAssignments>
            <assignToReference>vSA</assignToReference>
            <field>Service_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Address</name>
        <label>Get Service Address</label>
        <locationX>351</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSA</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputAssignments>
            <assignToReference>vSA_Desc</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSA_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CID</name>
        <label>Update CID</label>
        <locationX>672</locationX>
        <locationY>320</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>SA_Assets</elementReference>
            </value>
        </inputAssignments>
        <object>Circuit_ID__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Asset</name>
        <label>Choose Asset</label>
        <locationX>514</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_CID</targetReference>
        </connector>
        <fields>
            <name>SrvAdr</name>
            <fieldText>Service Address: {!vSA_Name}
Description: {!vSA_Desc}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assets</name>
            <choiceReferences>SA_Assets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assets</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nothing_Found</name>
        <label>Nothing Found</label>
        <locationX>14</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nothing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No Assets found for this Circuit ID&amp;apos;s Service Address!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Circuit_ID_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSA_Desc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSA_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
