force-app/main/default/flows/Contract_Test_for_Attachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>51</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>vCid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8000e0000017Fkn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Attachment_Flag</name>
        <label>Update Attachment Flag</label>
        <locationX>463</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>vAnyAttachments</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attachment_Flag_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Attachment_Found</name>
        <label>Attachment Found?</label>
        <locationX>309</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Find_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAttachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attachment_Flag</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Found</name>
        <label>File Found?</label>
        <locationX>309</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Update_Attachment_Flag_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFiles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attachment_Flag</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Check for 1 or more attachements or files.
8/2/18 - ers - Update Opp field instead of Contract field [SCO-000019]</description>
    <interviewLabel>Contract - Test for Attachment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Test for Attachment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Attachments</name>
        <label>Find Attachments</label>
        <locationX>154</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attachment_Found</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCid</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputReference>colAttachments</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Find_Files</name>
        <label>Find Files</label>
        <locationX>154</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>File_Found</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCid</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>colFiles</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attachment_Flag_Field</name>
        <label>Update Attachment Flag Field</label>
        <locationX>464</locationX>
        <locationY>340</locationY>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Files_Attached__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>vAnyAttachments</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Files_Attached__c</field>
            <value>
                <elementReference>vAnyAttachments</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Find_Attachments</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAttachments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>colFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>vAnyAttachments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
