force-app/main/default/flows/Create_Test_Opportunity_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Change_Asset</name>
        <label>Change Asset</label>
        <locationX>577</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>objNewAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewContractID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Purchase_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDlvrToServiceAddr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Additional_Phone_Numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GWI Test Asset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.InstallDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Turn-Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.In_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_OLI</name>
        <label>Change OLI</label>
        <locationX>564</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>objNewOLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBillToAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.Deliver_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDlvrToAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDlvrToServiceAddr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.Billing_Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewOLI.Date_Sent_to_Billing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Save_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CPE</name>
        <label>Create CPE</label>
        <locationX>1146</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>objNewAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewContractID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Purchase_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDlvrToServiceAddr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Additional_Phone_Numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GWI Test Asset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.InstallDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Turn-Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objNewAsset.In_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_CPE_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>39</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>vAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001W000000ZMgCj</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBillToAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001W000000ZMgCj</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBillToContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003W000000ithdg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDlvrToAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001W000000ZMgCj</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDlvrToContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003W000000ithdg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDlvrToServiceAddr</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0SW00000016sC8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GWI Account - 01</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Master_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_CPE_Asset</name>
        <label>Save CPE Asset</label>
        <locationX>1150</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>colUpdAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objNewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CPE_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Update</name>
        <label>Save Update</label>
        <locationX>566</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>colUpdOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objNewOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Update_0</name>
        <label>Save Update</label>
        <locationX>581</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>colUpdAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objNewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assets</targetReference>
        </connector>
    </assignments>
    <description>Test Opp for CSD Contract Activation</description>
    <interviewLabel>Create Test Opportunity 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Opportunity 2</label>
    <loops>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>366</locationX>
        <locationY>644</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Master_CPEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_CPE_Assets</name>
        <label>Update CPE Assets</label>
        <locationX>929</locationX>
        <locationY>543</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_OLI</name>
        <label>Update OLI</label>
        <locationX>358</locationX>
        <locationY>236</locationY>
        <assignNextValueToReference>objOLI</assignNextValueToReference>
        <collectionReference>colOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Assets</name>
        <label>Create New Assets</label>
        <locationX>930</locationX>
        <locationY>666</locationY>
        <inputReference>colUpdAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contract0</name>
        <label>Create New Contract</label>
        <locationX>363</locationX>
        <locationY>448</locationY>
        <assignRecordIdToReference>vNewContractID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opp_w_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>objContract.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedDate</field>
            <value>
                <elementReference>objContract.CompanySignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference>objContract.CompanySignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>objContract.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>objContract.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Version__c</field>
            <value>
                <elementReference>objContract.Contract_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>objContract.CustomerSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>vBillToContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>objContract.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_ETF_s__c</field>
            <value>
                <elementReference>objContract.Old_ETF_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract_Amount__c</field>
            <value>
                <elementReference>objContract.Original_Contract_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Start_Date__c</field>
            <value>
                <elementReference>objContract.Original_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <stringValue>GWI Test Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>objContract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_on_Installation__c</field>
            <value>
                <elementReference>objContract.Start_on_Installation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_OLI</name>
        <label>Create New OLI</label>
        <locationX>360</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Clear_Delivery_Stage</targetReference>
        </connector>
        <inputReference>colUpdOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>360</locationX>
        <locationY>124</locationY>
        <assignRecordIdToReference>vOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Granted_Design__c</field>
            <value>
                <elementReference>objOpportunity.Approval_Granted_Design__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Granted_Finance__c</field>
            <value>
                <elementReference>objOpportunity.Approval_Granted_Finance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>vBillToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>objOpportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_r__c</field>
            <value>
                <elementReference>vBillToContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>objOpportunity.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Stage__c</field>
            <value>
                <stringValue>Customer Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>objOpportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <elementReference>objOpportunity.Opportunity_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>objOpportunity.Plat_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <elementReference>objOpportunity.Plat_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>objOpportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Dlvr_To_Acct__c</field>
            <value>
                <elementReference>vDlvrToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service_Address__c</field>
            <value>
                <elementReference>vDlvrToServiceAddr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objOpportunity.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>objOpportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted__c</field>
            <value>
                <elementReference>objOpportunity.Submitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_months__c</field>
            <value>
                <elementReference>objOpportunity.Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>objOpportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WFR_Delivery_Contact__c</field>
            <value>
                <elementReference>vBillToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Master_Assets</name>
        <label>Master Assets</label>
        <locationX>172</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Assets</targetReference>
        </connector>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContract.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Converted_Asset__c</queriedFields>
        <queriedFields>Equipment_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Purchase_Opportunity__c</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>MAC_Address__c</queriedFields>
        <queriedFields>Phone_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Master_Contract</name>
        <label>Master Contract</label>
        <locationX>176</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Contract0</targetReference>
        </connector>
        <filters>
            <field>ContractNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00001327</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>objContract</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ActivatedById</queriedFields>
        <queriedFields>ActivatedDate</queriedFields>
        <queriedFields>CompanySignedDate</queriedFields>
        <queriedFields>CompanySignedId</queriedFields>
        <queriedFields>ContractTerm</queriedFields>
        <queriedFields>CustomerSignedDate</queriedFields>
        <queriedFields>CustomerSignedId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCode</queriedFields>
        <queriedFields>Auto_Renew__c</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>Old_ETF_s__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Original_Contract_Amount__c</queriedFields>
        <queriedFields>Original_Start_Date__c</queriedFields>
        <queriedFields>Start_on_Installation__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Master_CPEs</name>
        <label>Master CPEs</label>
        <locationX>729</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CPE_Assets</targetReference>
        </connector>
        <filters>
            <field>Additional_Phone_Numbers__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master CPE Asset</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Converted_Asset__c</queriedFields>
        <queriedFields>Equipment_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Purchase_Opportunity__c</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>MAC_Address__c</queriedFields>
        <queriedFields>Phone_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Master_Opportunity</name>
        <label>Master Opportunity</label>
        <locationX>169</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master - New Opportunity - Closed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Approval_Granted_Design__c</queriedFields>
        <queriedFields>Approval_Granted_Finance__c</queriedFields>
        <queriedFields>Bill_To_Account__c</queriedFields>
        <queriedFields>Opportunity_Source__c</queriedFields>
        <queriedFields>Plat_ID__c</queriedFields>
        <queriedFields>Plat_Version__c</queriedFields>
        <queriedFields>Submitted__c</queriedFields>
        <queriedFields>Term_months__c</queriedFields>
        <queriedFields>WFR_Delivery_Contact__c</queriedFields>
        <queriedFields>CSD_Rep__c</queriedFields>
        <queriedFields>Inst_Date__c</queriedFields>
        <queriedFields>Billable_Date__c</queriedFields>
        <queriedFields>CSD_Locations__c</queriedFields>
        <queriedFields>Delivery_Stage__c</queriedFields>
        <queriedFields>CSD_Completion_Date__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Master_Products</name>
        <label>Master Products</label>
        <locationX>170</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OLI</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOpportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>colOLI</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Billing_Enabled__c</queriedFields>
        <queriedFields>Bulk_Asset__c</queriedFields>
        <queriedFields>Date_Sent_to_Billing__c</queriedFields>
        <queriedFields>Deliver_to_Account__c</queriedFields>
        <queriedFields>IsConverted__c</queriedFields>
        <queriedFields>QT_Line__c</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Delivery_Stage</name>
        <label>Clear Delivery Stage</label>
        <locationX>174</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Master_Contract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Stage__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>557</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Master_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_w_Contract</name>
        <label>Update Opp w/ ContractID</label>
        <locationX>363</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Master_Assets</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>vNewContractID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Master_Opportunity</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttOppName</name>
        <text>{!vAccountName} - New Opportunity - Closed CSD</text>
    </textTemplates>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colUpdAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colUpdOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objNewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objNewContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDlvrToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDlvrToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDlvrToServiceAddr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>xx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
