force-app/main/default/flows/Create_OLI_from_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collections</name>
        <label>Add to Collections</label>
        <locationX>176</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>colAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colProds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPrevProdID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Rec_ID_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Quantity</name>
        <label>Clear Quantity</label>
        <locationX>702</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>objOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>30</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>colIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006W000000BO0H3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Rec_ID_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OLI_Record</name>
        <label>OLI Record</label>
        <locationX>1250</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>objOLI.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset.Asset_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.IsConverted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Quantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>objAsset.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset.Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPricebookEntryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset.Service_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Deliver_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAsset.Service_Address_Account_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Assets0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ID</name>
        <label>Save ID</label>
        <locationX>698</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>vPrevProdID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colProdUniq</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Unique_Product_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_OLI_Record</name>
        <label>Save OLI Record</label>
        <locationX>1056</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>colOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_by_Unique_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate</name>
        <label>Duplicate?</label>
        <locationX>543</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Save_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProdID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vPrevProdID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Unique_Product_List</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Match0</name>
        <label>Product Match?</label>
        <locationX>1244</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Process_Assets0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAsset.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vProdID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLI_Record</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Create OpportunityLineItems from selected Assets with IDs from passed list from the OLI_SelectC VFP/Apex</description>
    <interviewLabel>Create OLI from Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OLI from Assets</label>
    <loops>
        <name>Build_Unique_Product_List</name>
        <label>Build Unique Product List</label>
        <locationX>539</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>vProdID</assignNextValueToReference>
        <collectionReference>colProds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_by_Unique_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_by_Unique_Product</name>
        <label>Loop by Unique Product</label>
        <locationX>540</locationX>
        <locationY>285</locationY>
        <assignNextValueToReference>vProdID</assignNextValueToReference>
        <collectionReference>colProdUniq</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_OLI_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Assets0</name>
        <label>Process Assets</label>
        <locationX>1050</locationX>
        <locationY>288</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Match0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_OLI_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Rec_ID_List</name>
        <label>Process Rec ID List</label>
        <locationX>175</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>vAssetID</assignNextValueToReference>
        <collectionReference>colIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Write_OLI_Records</name>
        <label>Write OLI Records</label>
        <locationX>543</locationX>
        <locationY>405</locationY>
        <inputReference>colOLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>25</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Collections</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>objAsset</outputReference>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Service_Address_Account_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>363</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Unique_Product_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOppPricebook</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>875</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Assets0</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppPricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>vPricebookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Process_Rec_ID_List</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colProds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Unique Product IDs in Asset collection</description>
        <name>colProdUniq</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUpdAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPrevProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPricebookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProdQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
