force-app/main/default/flows/Create_Renewal_Opportunity_from_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Renewal_Opp</name>
        <label>Create Renewal Opp</label>
        <locationX>403</locationX>
        <locationY>871</locationY>
        <actionName>CreateRenewalOppFromContract</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>contract</name>
            <value>
                <elementReference>objContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newOpp</name>
            <value>
                <elementReference>newopp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prodAssets</name>
            <value>
                <elementReference>colAsset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startOnInstall</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cpeAssets</name>
            <value>
                <elementReference>colCPE</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vApexMessage</assignToReference>
            <name>msg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vApexSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Renewal_Created_EMail</name>
        <label>Renewal Created EMail</label>
        <locationX>762</locationX>
        <locationY>875</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ttEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vOwnerEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>12</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>vContractID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>800W0000000f8Ee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppNameSuffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Opp</name>
        <label>Init New Opp</label>
        <locationX>365</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>newopp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Approval_Granted_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Approval_Granted_Finance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Auto_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.Auto_Renew__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Created_from_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppName120</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Previous_contract_end_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objContract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppPricebook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Term_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Term_Months_pl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal/NO Changes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopp.Update_NRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CPE_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Asset_Update_0</name>
        <label>Save Asset Update</label>
        <locationX>198</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>colUpdAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_CPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assets_0</name>
        <label>Update Assets</label>
        <locationX>26</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>objAsset.Renewal_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Asset_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Variables</name>
        <label>Update Variables</label>
        <locationX>907</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>vTermChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTermChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Start_on_Expiration</name>
        <choiceText>Start on Expiration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>Start_on_Installation</name>
        <choiceText>Start on Installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I</stringValue>
        </value>
    </choices>
    <choices>
        <name>vOwnerName_0</name>
        <choiceText>{!vOwnerName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vOwnerID</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Any_Active_Assets</name>
        <label>Any Active Assets?</label>
        <locationX>194</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colCPE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Active_Assets</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice</name>
        <label>Choice?</label>
        <locationX>900</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CONTINUE0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContinueQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>CONTINUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status</name>
        <label>Contract Status?</label>
        <locationX>187</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Existing_Renewal_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VALID</defaultConnectorLabel>
        <rules>
            <name>INVALID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Void</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Approval Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Status</targetReference>
            </connector>
            <label>INVALID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Renewal_Opp</name>
        <label>Existing Renewal Opp?</label>
        <locationX>545</locationX>
        <locationY>103</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContract.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContract.Renewal_Opp_Delivery_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objContract.Renewal_Opp_Created_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>objContract.StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_CPE</name>
        <label>Found CPE?</label>
        <locationX>197</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YEScpe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCPE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_CPE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner0</name>
        <label>New Owner?</label>
        <locationX>726</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Get_New_Opportunity_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DIFFERENT</defaultConnectorLabel>
        <rules>
            <name>SAME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOwnerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vSelOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_New_Opp</targetReference>
            </connector>
            <label>SAME</label>
        </rules>
    </decisions>
    <decisions>
        <name>PriceBook_Found</name>
        <label>PriceBook Found?</label>
        <locationX>903</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>PriceBook_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppPricebook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Variables</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_decision</name>
        <label>Success?</label>
        <locationX>573</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vApexSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Created_EMail</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Create Renewal Opportunity &amp; OpportunityLineItems from all Assets on a Contract.
8/6/18 - OpFocus - Adding apex flow extension. fix for assets passed to assets
4/20/18 - ers - Assignment OLI Record changed to calculate correct Asset price to 2 decimal places.
4/20/18 - ers - Included Service Address with ProdID to determine unique entries for OLI.</description>
    <dynamicChoiceSets>
        <name>AccountManager</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vSelOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plContractTerm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term_months__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fAccountId</name>
        <dataType>String</dataType>
        <expression>MID({!vUniqueProd},37,18)</expression>
    </formulas>
    <formulas>
        <name>fAssetPrice</name>
        <dataType>Currency</dataType>
        <expression>{!objAsset.Total_Asset_Price__c} / {!objAsset.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculate CloseDate for newly created Renewal Opportunity</description>
        <name>fCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>fCRLF</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ttCRLF},&quot;&#39;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fNewEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!fNewStartDate})+(VALUE({!Contract_Term_Months_pl})/12),MONTH({!fNewStartDate}),DAY({!fNewStartDate}))-1</expression>
    </formulas>
    <formulas>
        <name>fNewStartDate</name>
        <dataType>Date</dataType>
        <expression>{!objContract.EndDate} + 1</expression>
    </formulas>
    <formulas>
        <description>Restrict Opportunity Name to a maximum of 120 characters.</description>
        <name>fOppName120</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!ttOppName})&lt;121,{!ttOppName},
LEFT({!ttOppName},59) &amp; &quot;...&quot; &amp; RIGHT({!ttOppName},58))</expression>
    </formulas>
    <formulas>
        <name>fOppNameSuffix</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vOppNameSuffix}),&quot;&quot;,{!vOppNameSuffix} &amp; &quot; - &quot;)</expression>
    </formulas>
    <formulas>
        <name>fPricebookName</name>
        <dataType>String</dataType>
        <expression>{!Contract_Term_Months_pl}&amp;&quot; Month Contract&quot;</expression>
    </formulas>
    <formulas>
        <name>fProd_ServAddr</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!objAsset.Product2Id}) &amp; CASESAFEID({!objAsset.Service_Address__c}) &amp; CASESAFEID({!objAsset.AccountId}) &amp; CASESAFEID({!objAsset.Service_Address_Account_ID__c})</expression>
    </formulas>
    <formulas>
        <name>fProdID</name>
        <dataType>String</dataType>
        <expression>LEFT({!vUniqueProd},18)</expression>
    </formulas>
    <formulas>
        <name>fServAddr</name>
        <dataType>String</dataType>
        <expression>MID({!vUniqueProd},19,18)</expression>
    </formulas>
    <formulas>
        <name>fServAddrAcct</name>
        <dataType>String</dataType>
        <expression>RIGHT({!vUniqueProd},18)</expression>
    </formulas>
    <formulas>
        <name>fShortEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!objContract.EndDate}))+&quot;/&quot;+TEXT(DAY({!objContract.EndDate}))+&quot;/&quot;+TEXT(YEAR({!objContract.EndDate}))</expression>
    </formulas>
    <formulas>
        <name>fShortNewEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!fNewEndDate}))+&quot;/&quot;+TEXT(DAY({!fNewEndDate}))+&quot;/&quot;+TEXT(YEAR({!fNewEndDate}))</expression>
    </formulas>
    <formulas>
        <name>fShortNewStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!fNewStartDate}))+&quot;/&quot;+TEXT(DAY({!fNewStartDate}))+&quot;/&quot;+TEXT(YEAR({!fNewStartDate}))</expression>
    </formulas>
    <formulas>
        <name>fShortStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!objContract.StartDate}))+&quot;/&quot;+TEXT(DAY({!objContract.StartDate}))+&quot;/&quot;+TEXT(YEAR({!objContract.StartDate}))</expression>
    </formulas>
    <formulas>
        <name>fStartOnInstallDate</name>
        <dataType>String</dataType>
        <expression>IF({!Start_Date}=&quot;I&quot;,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>fStartOnText</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!objContract.Start_on_Installation__c})=&quot;Yes&quot;,&quot;Installation&quot;,&quot;a Fixed Date&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTermChange</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Contract_Term_Months_pl})={!objContract.ContractTerm},&quot;Term is unchanged at &quot;&amp;TEXT({!objContract.ContractTerm})&amp;&quot; months.&quot;,&quot;Term was changed from &quot;&amp;TEXT({!objContract.ContractTerm})&amp;&quot; to &quot;&amp;{!Contract_Term_Months_pl}&amp;&quot; months.&quot;)</expression>
    </formulas>
    <formulas>
        <name>fUpdateDescription</name>
        <dataType>String</dataType>
        <expression>{!ttDescription} &amp; {!fCRLF} &amp;
&quot;----------------------------------------------------------------------------------------------&quot; &amp; {!fCRLF} &amp;
{!objContract.Description}</expression>
    </formulas>
    <interviewLabel>Create Renewal Opportunity from Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Renewal Opportunity from Contract</label>
    <loops>
        <name>Process_CPE</name>
        <label>Process CPE</label>
        <locationX>27</locationX>
        <locationY>661</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colCPE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Assets_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>364</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContract.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Owner</name>
        <label>Get Account Owner</label>
        <locationX>547</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccount.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vOwnerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSelOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>189</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>objContract</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractNumber</queriedFields>
        <queriedFields>ContractTerm</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCode</queriedFields>
        <queriedFields>Auto_Renew__c</queriedFields>
        <queriedFields>Last_Renewed_On__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Original_Start_Date__c</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Start_on_Installation__c</queriedFields>
        <queriedFields>Renewal_Opp_Close_Date__c</queriedFields>
        <queriedFields>Renewal_Opp_Delivery_Stage__c</queriedFields>
        <queriedFields>Renewal_Opp_Stage__c</queriedFields>
        <queriedFields>Renewal_Opp_Created_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Only select CPE Assets</description>
        <name>Get_CPE_Assets</name>
        <label>Get CPE Assets</label>
        <locationX>366</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_CPE</targetReference>
        </connector>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colCPE</outputReference>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Service_Address_Account_ID__c</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Opportunity_Owner</name>
        <label>Get New Opportunity Owner</label>
        <locationX>365</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_New_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vOwnerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>904</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceBook_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fPricebookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>vOppPricebook</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Only select non-CPE Assets</description>
        <name>Get_Product_Assets</name>
        <label>Get Product Assets</label>
        <locationX>196</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Active_Assets</targetReference>
        </connector>
        <filters>
            <field>Asset_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CPE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>Price</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Total_Asset_Price__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>Service_Address_Account_ID__c</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Continue</name>
        <label>Continue?</label>
        <locationX>724</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
        <fields>
            <name>ContinueQuestion</name>
            <fieldText>{!ttCurrentRenewal}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank00</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContinueQ</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Another Renewal Opportunity?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>577</locationX>
        <locationY>1000</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>err</name>
            <fieldText>{!vApexMessage}{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status</name>
        <label>Invalid Status</label>
        <locationX>190</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You cannot create a Renewal Opportunity from a &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!objContract.Status}&lt;/B&gt;&lt;/FONT&gt; Contract!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Assets</name>
        <label>No Active Assets</label>
        <locationX>29</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You cannot create a Renewal Opportunity from a Contract with no Active Assets!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PriceBook_Not_Found</name>
        <label>PriceBook Not Found</label>
        <locationX>725</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Renewal_Details</targetReference>
        </connector>
        <fields>
            <name>error0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There is no Pricebook available for a Term of &lt;B&gt;{!Contract_Term_Months_pl}&lt;/B&gt; Months!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldText>[{!fPricebookName}]</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please try again.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Details</name>
        <label>Renewal Details</label>
        <locationX>726</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <fields>
            <name>Prompt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter updated information for the Contract Renewal Opportunity.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Term_Months_pl</name>
            <choiceReferences>plContractTerm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Term (Months)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenewalStart</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The current Contract was set to start on &lt;FONT COLOR=&quot;#6699CC&quot;&gt;&lt;B&gt;{!fStartOnText}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <choiceReferences>Start_on_Expiration</choiceReferences>
            <choiceReferences>Start_on_Installation</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Start_on_Expiration</defaultSelectedChoiceReference>
            <fieldText>Renewal Start Date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountOwner</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Current Account Owner is &lt;FONT COLOR=&quot;#6699CC&quot;&gt;&lt;B&gt;{!vOwnerName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Opportunity_Owner</name>
            <choiceReferences>vOwnerName_0</choiceReferences>
            <choiceReferences>AccountManager</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vOwnerName_0</defaultSelectedChoiceReference>
            <fieldText>Renewal Opportunity Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contract</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttCRLF</name>
        <text>&#39;
&#39;</text>
    </textTemplates>
    <textTemplates>
        <name>ttCurrentRenewal</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Contract has an existing Renewal Opportunity.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#6699CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#6699CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;   &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It was created on &lt;B&gt;{!objContract.Renewal_Opp_Created_Date__c}&lt;/B&gt; and has&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;a current Opportunity Stage of &lt;B&gt;{!objContract.Renewal_Opp_Stage__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;and a Delivery Stage of &lt;B&gt;{!objContract.Renewal_Opp_Delivery_Stage__c}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttDescription</name>
        <text>{!$Flow.CurrentDateTime} - System created Renewal Opportunity for Contract #{!objContract.ContractNumber}
Renewal Opportunity: {!ttOppName}
Previous Start Date: {!fShortStartDate} | End Date: {!fShortEndDate}
New Start Date: {!fShortNewStartDate} | End Date: {!fShortNewEndDate}
{!vTermChange}</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmailAddr</name>
        <text>{!objContract.OwnerId}</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmailSubject</name>
        <text>New Renewal Opportunity Created for {!objAccount.Name} - Contract #{!objContract.ContractNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>ttOppName</name>
        <text>{!objAccount.Name} - {!fOppNameSuffix}Renewal for Contract #{!objContract.ContractNumber} - Expiring: {!fShortEndDate}</text>
    </textTemplates>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colCPE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colProds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Unique Product IDs in Asset collection</description>
        <name>colProdUniq</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUpdAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>newopp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vApexMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vApexSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppNameSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPrevProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPricebookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProdQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vSelOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTermChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUniqueProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
