force-app/main/default/flows/Create_Child_Account_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>15</locationX>
        <locationY>4</locationY>
        <assignmentItems>
            <assignToReference>varParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0013200001ED7ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Acct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>334</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>vError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cAccountError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Copy</name>
        <choiceText>Copy from Current Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create</name>
        <choiceText>Create new Service Address later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crea</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move</name>
        <choiceText>Move from Current Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cAccountError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please search by Address to locate existing Islesboro accounts.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Answer</name>
        <label>Continue?</label>
        <locationX>818</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContinueAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Name_Service_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Answer2</name>
        <label>Change Name?</label>
        <locationX>386</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>SA_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Name_Service_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hierarchy</name>
        <label>Check Hierarchy</label>
        <locationX>571</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Child</defaultConnectorLabel>
        <rules>
            <name>Top_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objParentAcct.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Name_Service_Address</targetReference>
            </connector>
            <label>Top Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Name</name>
        <label>Check New Name</label>
        <locationX>810</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>SA_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Name</defaultConnectorLabel>
        <rules>
            <name>Same_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Account_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objParentAcct.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Name</targetReference>
            </connector>
            <label>Same Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Residential_Sales_and_Parent_Account_Islesboro</name>
        <label>Is User Residential Sales and Parent Account Islesboro?</label>
        <locationX>335</locationX>
        <locationY>91</locationY>
        <defaultConnector>
            <targetReference>Check_Hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesResSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fUserDept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objParentAcct.Top_Level_Parent_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Town of Islesboro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_or_Copy_2</name>
        <label>Move or Copy</label>
        <locationX>1123</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>New_ServAddr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Copy</defaultConnectorLabel>
        <rules>
            <name>Move2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Address_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparent_ServAddr</targetReference>
            </connector>
            <label>Move</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Choice</name>
        <label>SA Choice</label>
        <locationX>821</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Move_or_Copy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Address_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Address_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Service_Address</targetReference>
            </connector>
            <label>Move or Copy</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Choice2</name>
        <label>SA Choice</label>
        <locationX>686</locationX>
        <locationY>805</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Move_or_Copy2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Address_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Address_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Service_Address</targetReference>
            </connector>
            <label>Move or Copy</label>
        </rules>
    </decisions>
    <description>Create a Child Account record when starting from the Parent Account</description>
    <dynamicChoiceSets>
        <name>ServiceAddresses</name>
        <dataType>String</dataType>
        <displayField>vwf_NameDesc__c</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputAssignments>
            <assignToReference>varServAddrID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fUserDept</name>
        <dataType>String</dataType>
        <expression>{!$User.Department}</expression>
    </formulas>
    <interviewLabel>Create Child Account from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Child Account from Account</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Account_0_0</name>
        <label>Create Child Account</label>
        <locationX>491</locationX>
        <locationY>808</locationY>
        <assignRecordIdToReference>varChildID</assignRecordIdToReference>
        <connector>
            <targetReference>SA_Choice2</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>objParentAcct.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>objParentAcct.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>objParentAcct.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>objParentAcct.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>objParentAcct.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>objParentAcct.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>objParentAcct.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>objParentAcct.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Child_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>Plat_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <elementReference>objParentAcct.Plat_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Account_Type__c</field>
            <value>
                <elementReference>objParentAcct.Support_Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <description>This version of the create stopped working in Winter 18.  Took out the assignment of the owner ID.  Error message was: &quot;Formula result is data type (Location), incompatible with expected data type (Text).&quot;</description>
        <name>Create_Child_Account_0_0_0</name>
        <label>Create Child Account</label>
        <locationX>295</locationX>
        <locationY>810</locationY>
        <assignRecordIdToReference>varChildID</assignRecordIdToReference>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>objParentAcct.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>objParentAcct.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>objParentAcct.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>objParentAcct.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>objParentAcct.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>objParentAcct.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>objParentAcct.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>objParentAcct.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Child_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objParentAcct.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>Plat_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <elementReference>objParentAcct.Plat_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Account_Type__c</field>
            <value>
                <elementReference>objParentAcct.Support_Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>New_ServAddr</name>
        <label>New ServAddr</label>
        <locationX>903</locationX>
        <locationY>682</locationY>
        <assignRecordIdToReference>varNewServAddrID</assignRecordIdToReference>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varChildID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attn__c</field>
            <value>
                <elementReference>objServAddr.Attn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>objServAddr.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>objServAddr.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted__c</field>
            <value>
                <elementReference>objServAddr.Formatted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Latitude__s</field>
            <value>
                <elementReference>objServAddr.Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Longitude__s</field>
            <value>
                <elementReference>objServAddr.Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LD1__c</field>
            <value>
                <elementReference>objServAddr.LD1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LD2__c</field>
            <value>
                <elementReference>objServAddr.LD2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LD3__c</field>
            <value>
                <elementReference>objServAddr.LD3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LV1__c</field>
            <value>
                <elementReference>objServAddr.LV1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LV2__c</field>
            <value>
                <elementReference>objServAddr.LV2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LV3__c</field>
            <value>
                <elementReference>objServAddr.LV3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_911__c</field>
            <value>
                <elementReference>objServAddr.Location_911__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Only__c</field>
            <value>
                <elementReference>objServAddr.Mailing_Address_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objServAddr.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>objServAddr.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Box__c</field>
            <value>
                <elementReference>objServAddr.PO_Box__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>objServAddr.SANO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASD__c</field>
            <value>
                <elementReference>objServAddr.SASD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASF__c</field>
            <value>
                <elementReference>objServAddr.SASF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <elementReference>objServAddr.SASN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASS__c</field>
            <value>
                <elementReference>objServAddr.SASS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <elementReference>objServAddr.SATH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>objServAddr.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Account__c</field>
            <value>
                <elementReference>objServAddr.Top_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>objServAddr.Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Acct</name>
        <label>Get Parent Acct</label>
        <locationX>194</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Residential_Sales_and_Parent_Account_Islesboro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingAddress</assignToReference>
            <field>BillingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingGeocodeAccuracy</assignToReference>
            <field>BillingGeocodeAccuracy</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingLatitude</assignToReference>
            <field>BillingLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingLongitude</assignToReference>
            <field>BillingLongitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.BillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.Plat_Version__c</assignToReference>
            <field>Plat_Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.Support_Account_Type__c</assignToReference>
            <field>Support_Account_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objParentAcct.Top_Level_Parent_Name__c</assignToReference>
            <field>Top_Level_Parent_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Load_Service_Address</name>
        <label>Load Service Address</label>
        <locationX>901</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Move_or_Copy_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServAddrID</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputAssignments>
            <assignToReference>objServAddr.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Attn__c</assignToReference>
            <field>Attn__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.City__c</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Description__c</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Formatted__c</assignToReference>
            <field>Formatted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Geolocation__Latitude__s</assignToReference>
            <field>Geolocation__Latitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Geolocation__Longitude__s</assignToReference>
            <field>Geolocation__Longitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LD1__c</assignToReference>
            <field>LD1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LD2__c</assignToReference>
            <field>LD2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LD3__c</assignToReference>
            <field>LD3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LV1__c</assignToReference>
            <field>LV1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LV2__c</assignToReference>
            <field>LV2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.LV3__c</assignToReference>
            <field>LV3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Location_911__c</assignToReference>
            <field>Location_911__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Mailing_Address_Only__c</assignToReference>
            <field>Mailing_Address_Only__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Opportunity__c</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.PO_Box__c</assignToReference>
            <field>PO_Box__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SANO__c</assignToReference>
            <field>SANO__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SASD__c</assignToReference>
            <field>SASD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SASF__c</assignToReference>
            <field>SASF__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SASN__c</assignToReference>
            <field>SASN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SASS__c</assignToReference>
            <field>SASS__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.SATH__c</assignToReference>
            <field>SATH__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.State__c</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Top_Account__c</assignToReference>
            <field>Top_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objServAddr.Zip__c</assignToReference>
            <field>Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Reparent_ServAddr</name>
        <label>Reparent ServAddr</label>
        <locationX>1119</locationX>
        <locationY>681</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServAddrID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varChildID</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Name</name>
        <label>Confirm Name</label>
        <locationX>614</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Answer2</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>Your Child Account name is the same as the Parent Account Name.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Name</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Change Name?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Continue</name>
        <label>Already Child</label>
        <locationX>825</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Answer</targetReference>
        </connector>
        <fields>
            <name>ChildNotice</name>
            <fieldText>Your current Account is already a Child Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContinueAnswer</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Continue?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>336</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!vError}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Name_Service_Address</name>
        <label>Get Name &amp; Service Address</label>
        <locationX>579</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_New_Name</targetReference>
        </connector>
        <fields>
            <name>SaHeading</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name &amp;amp; Service Address Selection for Child Account&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Child_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objParentAcct.Name</elementReference>
            </defaultValue>
            <fieldText>Child Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankLine</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Address_Source</name>
            <choiceReferences>Move</choiceReferences>
            <choiceReferences>Copy</choiceReferences>
            <choiceReferences>Create</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Address Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>MOVE will remove the selected Service Address from the Parent Account and MOVE it to the Child Account.

COPY will keep the selected Service Address on the Parent Account and make a COPY of it on the Child Account.

CREATE will allow you to add a new Service Address after the Child Account is created.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankLine2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plat_ID</name>
            <dataType>String</dataType>
            <fieldText>Plat ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Service_Address</name>
        <label>Select Service Address</label>
        <locationX>776</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Child_Account_0_0</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select the Service Address to &lt;B&gt;{!Service_Address_Source} &lt;/B&gt;to the Child Account.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Address</name>
            <choiceReferences>ServiceAddresses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Parent_Acct</startElementReference>
    <status>Active</status>
    <variables>
        <description>Child Account record holder</description>
        <name>objChildAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Parent Account record holder</description>
        <name>objParentAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Service Address record holder</description>
        <name>objServAddr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Address__c</objectType>
    </variables>
    <variables>
        <description>Record ID for the newly created Child Account</description>
        <name>varChildID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID of newly created Service Address record</description>
        <name>varNewServAddrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID of the Parent Account</description>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID for selected Service Address record</description>
        <name>varServAddrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
