force-app/main/default/flows/Create_Test_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Child_1</name>
        <label>Child 1</label>
        <locationX>34</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>vChildCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incr_Counter</name>
        <label>Incr Counter</label>
        <locationX>1070</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maxed_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Child</name>
        <label>Next Child</label>
        <locationX>34</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>vChildCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>1064</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>vTestCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Many_Record_Sets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCountMax</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incr_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_Pause_Counter</name>
        <label>At Pause Counter?</label>
        <locationX>1072</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Incr_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>211</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Query_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>YES00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Support_Entitlements</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0</name>
        <label>Found?</label>
        <locationX>377</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>Query_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>YES00_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Test_Records_0_0_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0_0</name>
        <label>Found?</label>
        <locationX>543</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Query_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>YES00_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Test_Records_0_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0_0_0</name>
        <label>Found?</label>
        <locationX>697</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>YES00_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Test_Records_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0_1</name>
        <label>Found?</label>
        <locationX>38</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Query_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>YES00_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Test_Records_0_0_0_1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Maxed_Counter</name>
        <label>Maxed Counter?</label>
        <locationX>204</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vTestCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>fCheck</name>
        <dataType>Number</dataType>
        <expression>MOD({!vCounter},{!vCountMax})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fChildAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;GWI Account C&quot; &amp; TEXT({!vChildCounter}) &amp; &quot; - &quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fChildStreetNo1</name>
        <dataType>String</dataType>
        <expression>TEXT({!vChildCounter}) &amp; &quot;1&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fChildStreetNo2</name>
        <dataType>String</dataType>
        <expression>TEXT({!vChildCounter}) &amp; &quot;2&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fContactA</name>
        <dataType>String</dataType>
        <expression>&quot;Contact A&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fContactAC</name>
        <dataType>String</dataType>
        <expression>&quot;Contact AC&quot; &amp; TEXT({!vChildCounter}) &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fContactB</name>
        <dataType>String</dataType>
        <expression>&quot;Contact B&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fContactBC</name>
        <dataType>String</dataType>
        <expression>&quot;Contact BC&quot; &amp; TEXT({!vChildCounter}) &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fCounterNum</name>
        <dataType>String</dataType>
        <expression>RIGHT(&quot;000&quot;&amp;TEXT({!vCounter}),2)</expression>
    </formulas>
    <formulas>
        <name>fParentStreetNo1</name>
        <dataType>String</dataType>
        <expression>&quot;10&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fParentStreetNo2</name>
        <dataType>String</dataType>
        <expression>&quot;20&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <formulas>
        <name>fPlatChildID</name>
        <dataType>String</dataType>
        <expression>&quot;1&quot; &amp; TEXT({!vChildCounter}) &amp; &quot;00&quot; &amp; {!fCounterNum}</expression>
    </formulas>
    <interviewLabel>Create Test Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Data</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Child_Account</name>
        <label>Child Account</label>
        <locationX>34</locationX>
        <locationY>634</locationY>
        <assignRecordIdToReference>vChildAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fChildAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>fPlatChildID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <stringValue>6</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Child_Account_0</name>
        <label>Child Account</label>
        <locationX>34</locationX>
        <locationY>848</locationY>
        <assignRecordIdToReference>vChildAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address_1_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fChildAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>fPlatChildID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <stringValue>6</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>533</locationX>
        <locationY>433</locationY>
        <assignRecordIdToReference>vContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Vice President</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_2</name>
        <label>Contact</label>
        <locationX>696</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Set_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>President</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_3</name>
        <label>Contact</label>
        <locationX>542</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>Contact_3_3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>CIO</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_3_3</name>
        <label>Contact</label>
        <locationX>711</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_Active_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactBC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>COO</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_3_3_4</name>
        <label>Contact</label>
        <locationX>710</locationX>
        <locationY>855</locationY>
        <connector>
            <targetReference>Set_Active_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactBC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Office Manager</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_3_4</name>
        <label>Contact</label>
        <locationX>541</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Contact_3_3_4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>ericrsmith+test@staff.gwi.net</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>GWI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fContactAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Parent_Account</name>
        <label>Parent Account</label>
        <locationX>34</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>vParentAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ttParentAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>ttPlatParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <stringValue>6</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address</name>
        <label>Service Address</label>
        <locationX>204</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>vParentSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fParentStreetNo1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address_0</name>
        <label>Service Address</label>
        <locationX>366</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>vSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fParentStreetNo2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address_1</name>
        <label>Service Address</label>
        <locationX>199</locationX>
        <locationY>634</locationY>
        <assignRecordIdToReference>vSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address_1_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fChildStreetNo1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address_1_1</name>
        <label>Service Address</label>
        <locationX>367</locationX>
        <locationY>636</locationY>
        <assignRecordIdToReference>vSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fChildStreetNo2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address_1_1_2</name>
        <label>Service Address</label>
        <locationX>365</locationX>
        <locationY>849</locationY>
        <assignRecordIdToReference>vSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_3_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fChildStreetNo2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Service_Address_1_2</name>
        <label>Service Address</label>
        <locationX>197</locationX>
        <locationY>847</locationY>
        <assignRecordIdToReference>vSAID</assignRecordIdToReference>
        <connector>
            <targetReference>Service_Address_1_1_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <stringValue>Biddeford</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SANO__c</field>
            <value>
                <elementReference>fChildStreetNo1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SASN__c</field>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SATH__c</field>
            <value>
                <stringValue>ST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>ME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <stringValue>04005</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Address__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Support_Entitlements</name>
        <label>Delete Support Entitlements</label>
        <locationX>208</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Query_Assets</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GWI Account -</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Test_Records</name>
        <label>Delete Test Records</label>
        <locationX>882</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Get_Test_Record_Set_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>debug</targetReference>
        </faultConnector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>GWI Account</stringValue>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Test_Records_0</name>
        <label>Delete Test Opportunities</label>
        <locationX>696</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>GWI Account</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Test_Records_0_0</name>
        <label>Delete Test Contracts</label>
        <locationX>541</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Query_Opportunities</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SpecialTerms</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GWI Test Contract</stringValue>
            </value>
        </filters>
        <object>Contract</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Test_Records_0_0_0</name>
        <label>Delete Test Assets</label>
        <locationX>378</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Query_Contracts</targetReference>
        </connector>
        <filters>
            <field>Additional_Phone_Numbers__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GWI Test Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Test_Records_0_0_0_1</name>
        <label>Delete Test Cases</label>
        <locationX>36</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Query_Entitlements</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Request for: GWI Account -</stringValue>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Query_Assets</name>
        <label>Query Assets</label>
        <locationX>373</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0</targetReference>
        </connector>
        <filters>
            <field>Additional_Phone_Numbers__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GWI Test Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Cases</name>
        <label>Query Cases</label>
        <locationX>34</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0_1</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Request for: GWI Account -</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Contracts</name>
        <label>Query Contracts</label>
        <locationX>541</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0_0</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SpecialTerms</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GWI Test Contract</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>vFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Entitlements</name>
        <label>Query Entitlements</label>
        <locationX>211</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GWI Account -</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>vFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Opportunities</name>
        <label>Query Opportunities</label>
        <locationX>700</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0_0_0</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>GWI Account</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Active</name>
        <label>Set Active</label>
        <locationX>698</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Child_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Active_0</name>
        <label>Set Active</label>
        <locationX>709</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>Next_Child</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Active_0_0</name>
        <label>Set Active</label>
        <locationX>893</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>Create_Opportunity_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>34</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done</name>
            <fieldText>Test Record creation completed for a counter of {!vTestCount}.

CLOSE WINDOW</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>899</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Incr_Counter</targetReference>
        </connector>
        <fields>
            <name>count</name>
            <fieldText>{!vCounter} of {!vTestCount} Created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>965</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Test_Record_Set_Count</targetReference>
        </connector>
        <fields>
            <name>d0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Record Delete Fault&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Change VWF Start Node to first Assignment Node &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Test_Record_Set_Count</name>
        <label>Get Test Record Set Count</label>
        <locationX>1058</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <fields>
            <name>How_Many_Record_Sets</name>
            <dataType>Number</dataType>
            <fieldText>How Many Record Sets?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>884</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Test_Records</targetReference>
        </connector>
        <fields>
            <name>pause0</name>
            <fieldText>Pause before deleting Accounts</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause_0</name>
        <label>Pause</label>
        <locationX>900</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity_2</targetReference>
        </connector>
        <fields>
            <name>pause0_0</name>
            <fieldText>{!vCounter} of {!vTestCount} 
Pause before Creating 2nd Opportunity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Query_Cases</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Opportunity_1</name>
        <label>Create Opportunity 1</label>
        <locationX>1074</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Pause_0</targetReference>
        </connector>
        <flowName>Create_Test_Opportunities</flowName>
        <inputAssignments>
            <name>vAccountID</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAccountName</name>
            <value>
                <elementReference>ttParentAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBillToAccount</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBillToContact</name>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToAccount</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToContact</name>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToServiceAddr</name>
            <value>
                <elementReference>vParentSAID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Opportunity_2</name>
        <label>Create Opportunity 2</label>
        <locationX>1074</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>At_Pause_Counter</targetReference>
        </connector>
        <flowName>Create_Test_Opportunity_2</flowName>
        <inputAssignments>
            <name>vAccountID</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAccountName</name>
            <value>
                <elementReference>ttParentAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBillToAccount</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBillToContact</name>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToAccount</name>
            <value>
                <elementReference>vParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToContact</name>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDlvrToServiceAddr</name>
            <value>
                <elementReference>vParentSAID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ttParentAccountName</name>
        <text>GWI Account - {!fCounterNum}</text>
    </textTemplates>
    <textTemplates>
        <name>ttPlatParentID</name>
        <text>1000{!fCounterNum}</text>
    </textTemplates>
    <variables>
        <name>vChildAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChildCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountMax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTestCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
