force-app/main/default/flows/Islesboro_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Table_Row</name>
        <label>Add Table Row</label>
        <locationX>895</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>vDataTable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddDataTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Table_Row_0</name>
        <label>Add Table Row</label>
        <locationX>896</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>vVoiceTable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddVoiceTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Status_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>21</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0010e00001JWo0ZAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>893</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>vDataCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_0</name>
        <label>Increment Counter</label>
        <locationX>893</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>vVoiceCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Active_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Data_Assets</name>
        <label>No Data Assets</label>
        <locationX>193</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>vNoData</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Voice_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Voice_Assets</name>
        <label>No Voice Assets</label>
        <locationX>195</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>vNoVoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Assets</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cEmpty</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>Asset_Status</name>
        <label>Asset Status</label>
        <locationX>893</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Count_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INACTIVE</defaultConnectorLabel>
        <rules>
            <name>ACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objDataAsset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>ACTIVE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Status_0</name>
        <label>Asset Status</label>
        <locationX>893</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Count_Active_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INACTIVE</defaultConnectorLabel>
        <rules>
            <name>ACTIVE_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objVoiceAsset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter_0</targetReference>
            </connector>
            <label>ACTIVE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>382</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>No_Data_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colDataAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Active</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_0</name>
        <label>Records Found?</label>
        <locationX>374</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>No_Voice_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVoiceAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Active_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Display Data and Voice Status</description>
    <formulas>
        <name>fAddDataTableRow</name>
        <dataType>String</dataType>
        <expression>{!vDataTable} &amp; &quot;&lt;tr&gt; &lt;td&gt;&quot;&amp;{!objDataAsset.Name}&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;TEXT({!objDataAsset.Status})&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;IF(ISBLANK({!objDataAsset.InstallDate}),{!cEmpty},TEXT(MONTH({!objDataAsset.InstallDate}))&amp;&quot;/&quot;&amp;TEXT(DAY({!objDataAsset.InstallDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!objDataAsset.InstallDate})))&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;IF(ISBLANK({!objDataAsset.Removal_Date__c}),{!cEmpty},TEXT(MONTH({!objDataAsset.Removal_Date__c}))&amp;&quot;/&quot;&amp;TEXT(DAY({!objDataAsset.Removal_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!objDataAsset.Removal_Date__c})))&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;{!objDataAsset.GWI_Asset_Tag_Number__c}&amp;&quot;&lt;/td&gt; &lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>fAddVoiceTableRow</name>
        <dataType>String</dataType>
        <expression>{!vVoiceTable} &amp; &quot;&lt;tr&gt; &lt;td&gt;&quot;&amp;{!objVoiceAsset.Name}&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;TEXT({!objVoiceAsset.Status})&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;IF(ISBLANK({!objVoiceAsset.InstallDate}),{!cEmpty},TEXT(MONTH({!objVoiceAsset.InstallDate}))&amp;&quot;/&quot;&amp;TEXT(DAY({!objVoiceAsset.InstallDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!objVoiceAsset.InstallDate})))&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;IF(ISBLANK({!objVoiceAsset.Removal_Date__c}),{!cEmpty},TEXT(MONTH({!objVoiceAsset.Removal_Date__c}))&amp;&quot;/&quot;&amp;TEXT(DAY({!objVoiceAsset.Removal_Date__c}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!objVoiceAsset.Removal_Date__c})))&amp;&quot;&lt;/td&gt; &lt;td&gt;&quot;&amp;{!objVoiceAsset.Phone_Number__c}&amp;&quot;&lt;/td&gt; &lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>fDataCount</name>
        <dataType>String</dataType>
        <expression>IF({!vDataCounter}&gt;0,TEXT({!vDataCounter}),&quot;none&quot;)</expression>
    </formulas>
    <formulas>
        <name>fDisplayDataTable</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;&lt;font color=#7988EB&gt;Active Data Services - &quot; &amp; {!fDataCount} &amp; &quot;&lt;/font&gt;&lt;/b&gt;&quot; &amp; IF({!vNoData},{!cEmpty},&quot;&lt;table&gt; &lt;tr&gt; &lt;th&gt;Service&lt;/th&gt; &lt;th&gt;Status&lt;/th&gt; &lt;th&gt;Installed&lt;/th&gt; &lt;th&gt;Removed&lt;/th&gt; &lt;th&gt;ONT ID &lt;/th&gt; &lt;/tr&gt;&quot; &amp; {!vDataTable} &amp; &quot;&lt;/table&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fDisplayVoiceTable</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;&lt;font color=#7988EB&gt;Active Voice Services - &quot; &amp; {!fVoiceCount} &amp; &quot;&lt;/font&gt;&lt;/b&gt;&quot; &amp; IF({!vNoVoice},{!cEmpty},&quot;&lt;table&gt; &lt;tr&gt; &lt;th&gt;Service&lt;/th&gt; &lt;th&gt;Status&lt;/th&gt; &lt;th&gt;Installed&lt;/th&gt; &lt;th&gt;Removed&lt;/th&gt; &lt;th&gt;Phone #&lt;/th&gt; &lt;/tr&gt;&quot; &amp; {!vVoiceTable} &amp; &quot;&lt;/table&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fVoiceCount</name>
        <dataType>String</dataType>
        <expression>IF({!vVoiceCounter}&gt;0,TEXT({!vVoiceCounter}),&quot;none&quot;)</expression>
    </formulas>
    <interviewLabel>Islesboro - Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Islesboro - Account Status</label>
    <loops>
        <name>Count_Active</name>
        <label>Count Active</label>
        <locationX>550</locationX>
        <locationY>136</locationY>
        <assignNextValueToReference>objDataAsset</assignNextValueToReference>
        <collectionReference>colDataAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Table_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Voice_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Active_0</name>
        <label>Count Active</label>
        <locationX>550</locationX>
        <locationY>506</locationY>
        <assignNextValueToReference>objVoiceAsset</assignNextValueToReference>
        <collectionReference>colVoiceAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Table_Row_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Data_Assets</name>
        <label>Data Assets</label>
        <locationX>193</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Residential Internet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Address_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colDataAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>GWI_Asset_Tag_Number__c</queriedFields>
        <sortField>InstallDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Voice_Assets</name>
        <label>Voice Assets</label>
        <locationX>193</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Residential Unlimited</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colVoiceAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Phone_Number__c</queriedFields>
        <sortField>InstallDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Display_Assets</name>
        <label>Display Assets</label>
        <locationX>554</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DataTable</name>
            <fieldText>{!fDisplayDataTable}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VoiceTable</name>
            <fieldText>{!fDisplayVoiceTable}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Data_Assets</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colDataAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colVoiceAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objDataAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objVoiceAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vDataCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vDataTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNoData</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNoVoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVoiceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vVoiceTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
