force-app/main/default/flows/Islesboro_Account_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_New_Account</name>
        <label>Go to New Account</label>
        <locationX>1312</locationX>
        <locationY>715</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>vNewAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Change_Pointers_on_Service_Address_and_Data_Asset</name>
        <label>Change Pointers on Service Address and Data Asset</label>
        <locationX>810</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>objServiceAddress.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Service_Address_Account_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Service_Address_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Account</name>
        <label>Clone Account</label>
        <locationX>476</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>objAccountNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAccountOld</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>34</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0010e00001JW0AzAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Found_Flag</name>
        <label>Set Asset Found Flag</label>
        <locationX>638</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>vAssetFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Changed_Fields</name>
        <label>Update Changed Fields</label>
        <locationX>643</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>objAccountNew.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountNew.ru_Active_Data_Assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account_Record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Data_Asset</name>
        <label>Existing Data Asset?</label>
        <locationX>1146</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAssetFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Asset_Update</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Data_Asset_0</name>
        <label>Existing Data Asset?</label>
        <locationX>640</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Account_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Found_Flag</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Clone original Account and move Data Asset to the new Account</description>
    <formulas>
        <name>fToday</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY())</expression>
    </formulas>
    <interviewLabel>Islesboro - Account Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Islesboro - Account Owner Change</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Account_Record_0</name>
        <label>Create New Account Record</label>
        <locationX>807</locationX>
        <locationY>485</locationY>
        <assignRecordIdToReference>vNewAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Change_Pointers_on_Service_Address_and_Data_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>objAccountNew.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>objAccountNew.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>objAccountNew.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>objAccountNew.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>objAccountNew.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>objAccountNew.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>objAccountNew.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>objAccountNew.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>objAccountNew.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>objAccountNew.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountNew.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objAccountOld.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>objAccountNew.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_System_ID__c</field>
            <value>
                <elementReference>objAccountOld.Primary_System_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>objAccountNew.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>objAccountNew.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingGeocodeAccuracy</field>
            <value>
                <elementReference>objAccountNew.ShippingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>objAccountNew.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>objAccountNew.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>objAccountNew.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>objAccountNew.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>objAccountNew.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Account_Type__c</field>
            <value>
                <stringValue>Residential Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>140</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccountOld</outputReference>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingGeocodeAccuracy</queriedFields>
        <queriedFields>BillingLatitude</queriedFields>
        <queriedFields>BillingLongitude</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingGeocodeAccuracy</queriedFields>
        <queriedFields>ShippingLatitude</queriedFields>
        <queriedFields>ShippingLongitude</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Primary_System_ID__c</queriedFields>
        <queriedFields>Support_Account_Type__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Asset</name>
        <label>Get Data Asset</label>
        <locationX>473</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Data_Asset_0</targetReference>
        </connector>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Internet - Islesboro</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Address_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>objAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Address_Account_Lookup__c</queriedFields>
        <queriedFields>Service_Address_Account_Name__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Address</name>
        <label>Get Service Address</label>
        <locationX>306</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Asset</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputReference>objServiceAddress</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Asset_Update</name>
        <label>Save Asset Update</label>
        <locationX>990</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Update_Old_Account</targetReference>
        </connector>
        <inputReference>objAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Service_Address_Update</name>
        <label>Save Service Address Update</label>
        <locationX>988</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Existing_Data_Asset</targetReference>
        </connector>
        <inputReference>objServiceAddress</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Account</name>
        <label>Update Old Account</label>
        <locationX>1151</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Go_to_New_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ttPrependDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ru_Active_Data_Assets__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Change</name>
        <label>Account Change?</label>
        <locationX>474</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone_Account</targetReference>
        </connector>
        <fields>
            <name>CurrentAccount</name>
            <fieldText>Name: {!objAccountOld.Name}
Account Number: {!objAccountOld.AccountNumber}
Address: {!objAccountOld.ShippingStreet}, {!objAccountOld.ShippingCity}

Select Next to transfer this account to a new owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Owner_Information</name>
        <label>New Owner Information</label>
        <locationX>642</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Changed_Fields</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Street</name>
            <dataType>String</dataType>
            <fieldText>Billing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Islesboro</stringValue>
            </defaultValue>
            <fieldText>Billing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>ME</stringValue>
            </defaultValue>
            <fieldText>Billing State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>04848</stringValue>
            </defaultValue>
            <fieldText>Billing Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccountOld.AccountNumber</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <elementReference>objAccountOld.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Current_Account</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttPrependDescription</name>
        <text>*** NEW OWNER - {!fToday}
{!objAccountNew.Name}
***
{!objAccountOld.Description}</text>
    </textTemplates>
    <variables>
        <name>objAccountNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAccountOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objServiceAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Address__c</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
