force-app/main/default/flows/Islesboro_De_activation_Request_Case_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>23</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>vCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status?</label>
        <locationX>159</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Status_Fields_0</targetReference>
            </connector>
            <label>ACTIVE</label>
        </rules>
        <rules>
            <name>TEMP_DEACTIVATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temp Deactivated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Status_Fields</targetReference>
            </connector>
            <label>TEMP DEACTIVATED</label>
        </rules>
    </decisions>
    <description>Handle resetting of Asset status when a (De)activation request Case is closed. (#60845)</description>
    <interviewLabel>Islesboro - (De)activation Request Case Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Islesboro - (De)activation Request Case Closed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Select 1st Asset - Currently no support for multiple Assets</description>
        <name>Get_Case_Asset</name>
        <label>Get Case Asset</label>
        <locationX>158</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Asset_Status</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>CaseAsset__c</object>
        <outputReference>objCaseAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Asset_Status</name>
        <label>Get Current Asset Status</label>
        <locationX>158</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCaseAsset.Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vCurrentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Status_Fields</name>
        <label>Update Asset Status Fields</label>
        <locationX>367</locationX>
        <locationY>489</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCaseAsset.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deactivation_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Status_Fields_0</name>
        <label>Update Asset Status Fields</label>
        <locationX>367</locationX>
        <locationY>305</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCaseAsset.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deactivation_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Temp Deactivated</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <startElementReference>Get_Case_Asset</startElementReference>
    <status>Active</status>
    <variables>
        <name>objCaseAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseAsset__c</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
