force-app/main/default/flows/OLI_Update_Selected_Products_Assets_for_Turn_Down.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>486</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>colOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>871</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>colUpdAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>27</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>colIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$GlobalConstant.False}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reverse_Quantity</name>
        <label>Reverse Quantity</label>
        <locationX>328</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>objOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOLI.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFixTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOLI.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Fields</name>
        <label>Set Asset Fields</label>
        <locationX>874</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>objAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Selected for Turn-Down</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Disconnect_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAsset.Renewal_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fClearRenewalOpportunityIfSame</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <description>OLI - Update Selected Products/Assets for Turn-Down</description>
    <formulas>
        <description>Clear the Renewal Opportunity link if it is the same Opportunity as the DIsconnect Opportunity.</description>
        <name>fClearRenewalOpportunityIfSame</name>
        <dataType>String</dataType>
        <expression>IF({!objAsset.Renewal_Opportunity__c}={!vOppId},&#39;&#39;,{!objAsset.Renewal_Opportunity__c})</expression>
    </formulas>
    <formulas>
        <name>fFixTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!objOLI.TotalPrice} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fNegative</name>
        <dataType>Number</dataType>
        <expression>{!objOLI.Quantity} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OLI - Update Selected Products/Assets for Turn-Down {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLI - Update Selected Products/Assets for Turn-Down</label>
    <loops>
        <name>Process_Assets</name>
        <label>Process Assets</label>
        <locationX>656</locationX>
        <locationY>138</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>colAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Asset_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_OLIs</name>
        <label>Process OLIs</label>
        <locationX>164</locationX>
        <locationY>136</locationY>
        <assignNextValueToReference>vOLIid</assignNextValueToReference>
        <collectionReference>colIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_OLI_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_OLI_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Record_0</name>
        <label>Get Asset Records</label>
        <locationX>659</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Assets</targetReference>
        </connector>
        <filters>
            <field>Oli_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOLI.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>colAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Oli_Id__c</queriedFields>
        <queriedFields>In_Production__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Removal_Date__c</queriedFields>
        <queriedFields>Asset_Type__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UsageEndDate</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
        <queriedFields>Disconnect_Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OLI_Record</name>
        <label>Get OLI Record</label>
        <locationX>165</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reverse_Quantity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOLIid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>objOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Asset_Updates_0</name>
        <label>Save Asset Updates</label>
        <locationX>651</locationX>
        <locationY>36</locationY>
        <inputReference>colUpdAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_OLI_Updates</name>
        <label>Save OLI Updates</label>
        <locationX>449</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Save_Asset_Updates_0</targetReference>
        </connector>
        <inputReference>colOLI</inputReference>
    </recordUpdates>
    <startElementReference>Process_OLIs</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colUpdAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vBillDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
