force-app/main/default/flows/Opp_Clear_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_Counter</name>
        <label>Clear Counter</label>
        <locationX>168</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>bulkCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Field</name>
        <label>Clear Field</label>
        <locationX>377</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>objOpp.IsFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bulkCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>387</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>bulkCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOppUpd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Update</name>
        <label>Save Update</label>
        <locationX>558</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>colOppUpd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_Limit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>bulkLimit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Counter_Limit</name>
        <label>Counter Limit?</label>
        <locationX>559</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Update_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Going</defaultConnectorLabel>
        <rules>
            <name>At_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>bulkLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Updates_0</targetReference>
            </connector>
            <label>At Limit</label>
        </rules>
    </decisions>
    <interviewLabel>Opp - Clear Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp - Clear Field</label>
    <loops>
        <name>Update_Field</name>
        <label>Update Field</label>
        <locationX>167</locationX>
        <locationY>236</locationY>
        <assignNextValueToReference>objOpp</assignNextValueToReference>
        <collectionReference>colOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Field_Set</name>
        <label>Is Field Set?</label>
        <locationX>168</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Counter</targetReference>
        </connector>
        <filters>
            <field>IsFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>colOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsFlow__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Updates</name>
        <label>Save Updates</label>
        <locationX>166</locationX>
        <locationY>378</locationY>
        <inputReference>colOppUpd</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Updates_0</name>
        <label>Save Updates</label>
        <locationX>560</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>d</targetReference>
        </connector>
        <inputReference>colOppUpd</inputReference>
    </recordUpdates>
    <screens>
        <name>d</name>
        <label>d</label>
        <locationX>561</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Counter</targetReference>
        </connector>
        <fields>
            <name>d0</name>
            <fieldText>{!bulkCounter}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>379</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>x</name>
            <fieldText>done</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Field_Set</startElementReference>
    <status>Draft</status>
    <variables>
        <name>bulkCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>colOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>colOppUpd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
