force-app/main/default/flows/Opportunity_Conga_Service_Agreement_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Load_Conga_URL</name>
        <label>Load Conga URL</label>
        <locationX>1359</locationX>
        <locationY>378</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>fCongaURL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>35</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001rO3ajAAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Default_Values</name>
        <label>Save Default Values</label>
        <locationX>585</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>vAutoRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOpp.Auto_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Included</name>
        <label>Set to Included</label>
        <locationX>377</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>objOpp.Auto_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Default_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PL_Current</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!objOpp.Auto_Renewal__c}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objOpp.Auto_Renewal__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>PL_Default</name>
        <choiceText>{!vAutoRenewal}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vAutoRenewal</elementReference>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>---------------</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vAutoRenewal</elementReference>
        </value>
    </choices>
    <choices>
        <name>Verbal</name>
        <choiceText>Verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voicemail</name>
        <choiceText>Voicemail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voicemail</stringValue>
        </value>
    </choices>
    <constants>
        <name>cConga</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;/resource/APXTConga4__Conga_O_Logo_SM&#39; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Auto_Renewal_Set</name>
        <label>Auto Renewal Set?</label>
        <locationX>374</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Set_to_Included</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Auto_Renewal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Default_Values</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>486</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Prepare_for_Service_Agreement_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SERVICE AGREEMENT</defaultConnectorLabel>
        <rules>
            <name>CHANGE_ORDER</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add/Move/Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Reduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_for_Change_Order_Creation</targetReference>
            </connector>
            <label>CHANGE ORDER</label>
        </rules>
    </decisions>
    <description>Obtain Service Agreement information and provide a link to Conga Composer/Sign</description>
    <dynamicChoiceSets>
        <name>PL_AutoRenewal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auto_Renewal__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PL_AutoRenewalx</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auto_Renewal__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fApproved</name>
        <dataType>Boolean</dataType>
        <expression>AND(


	IF(	{!objOpp.Approval_Required_Design__c},   
		{!objOpp.Approval_Granted_Design__c},
		true
	),
    
	IF(	{!objOpp.Approval_Required_Design__c}, 
		{!objOpp.Approval_Granted_Finance__c},
		true
	),

	TEXT({!objOpp.StageName}) &lt;&gt; &quot;Design Approval&quot;,
  
	TEXT({!objOpp.StageName}) &lt;&gt; &quot;Finance Approval&quot;

)</expression>
    </formulas>
    <formulas>
        <name>fAuthEmail</name>
        <dataType>Boolean</dataType>
        <expression>{!Authorization_Type} = {!Email}</expression>
    </formulas>
    <formulas>
        <name>fAuthOther</name>
        <dataType>Boolean</dataType>
        <expression>{!Authorization_Type} = {!Other}</expression>
    </formulas>
    <formulas>
        <name>fAuthVerbal</name>
        <dataType>Boolean</dataType>
        <expression>{!Authorization_Type} = {!Verbal}</expression>
    </formulas>
    <formulas>
        <name>fAuthVoicemail</name>
        <dataType>Boolean</dataType>
        <expression>{!Authorization_Type} = {!Voicemail}</expression>
    </formulas>
    <formulas>
        <name>fCOHeader</name>
        <dataType>String</dataType>
        <expression>UPPER(
IF({!vQuoteOnly},
	&quot;Estimate&quot;,

	IF(NOT({!objOpp.Contract_Send_for_Signature__c}),
		&quot;Change Order&quot;,

		&quot;Change Order&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Clickable link for Flow screen of Conga URL</description>
        <name>fCongaLink</name>
        <dataType>String</dataType>
        <expression>&#39;&lt;A HREF=&#39; &amp; {!fCongaURL} &amp; &#39; TARGET=&quot;_blank&quot;&gt;&#39; &amp; 
&#39;&lt;img src=&quot;/resource/APXTConga4__Conga_O_Logo_SM&quot; /&gt;&lt;/A&gt;&#39;</expression>
    </formulas>
    <formulas>
        <name>fCongaSig</name>
        <dataType>String</dataType>
        <expression>IF({!vQuoteOnly},&quot;0&quot;,
IF({!objOpp.Conga_Contract_Change_Order__c},
IF({!Send_for_Signature_0},&quot;1&quot;,&quot;0&quot;),
IF({!Send_for_Signature},&quot;1&quot;,&quot;0&quot;)))</expression>
    </formulas>
    <formulas>
        <name>fCongaURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ttCongaURL},&quot; &quot;,&quot;%20&quot;)</expression>
    </formulas>
    <formulas>
        <name>fContractInvoiceEmail</name>
        <dataType>String</dataType>
        <expression>IF({!dqEmail}&lt;&gt;&quot;&quot;,{!dqEmail},{!objOpp.Contract_Invoice_Email__c})</expression>
    </formulas>
    <formulas>
        <name>fContractInvoiceType</name>
        <dataType>String</dataType>
        <expression>IF({!dqElectronic}&lt;&gt;&quot;no&quot;,&quot;Electronic&quot;,
IF({!dqInvoiceType}=&quot;&quot;,&quot;Credit Card&quot;,
{!dqInvoiceType}))</expression>
    </formulas>
    <formulas>
        <name>fQuoteOnly</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!fApproved})</expression>
    </formulas>
    <formulas>
        <name>fSA_Header</name>
        <dataType>String</dataType>
        <expression>UPPER(
IF({!vQuoteOnly},
	&quot;Quote&quot;,

	IF(NOT({!objOpp.Contract_Send_for_Signature__c}),
		&quot;Service Agreement&quot;,

		&quot;Service Agreement&quot;)))</expression>
    </formulas>
    <formulas>
        <name>fSig</name>
        <dataType>Boolean</dataType>
        <expression>IF({!vQuoteOnly},false,OR({!Send_for_Signature},{!Send_for_Signature_0}))</expression>
    </formulas>
    <formulas>
        <name>fTsCs</name>
        <dataType>Boolean</dataType>
        <expression>IF({!vQuoteOnly},false,{!Include_T_s_C_s})</expression>
    </formulas>
    <interviewLabel>Opportunity - Conga Service Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Conga Service Agreement (Lightning)</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conga_Formulas</name>
        <label>Get Conga Formulas</label>
        <locationX>1176</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Conga_URL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vCongaActivity</assignToReference>
            <field>Conga_Activity_Formula__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCongaName</assignToReference>
            <field>Conga_Name_Formula__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCongaTemplate</assignToReference>
            <field>Conga_Template_Formula__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>177</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Renewal_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contract_Special_Instructions__c</queriedFields>
        <queriedFields>Contract_Start_Text__c</queriedFields>
        <queriedFields>Auto_Renewal__c</queriedFields>
        <queriedFields>Contract_Include_LOA__c</queriedFields>
        <queriedFields>Contract_Include_Terms__c</queriedFields>
        <queriedFields>Contract_Long_Description__c</queriedFields>
        <queriedFields>Contract_Send_for_Signature__c</queriedFields>
        <queriedFields>LOA_Enable_International_Calling__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Authorization_Details__c</queriedFields>
        <queriedFields>Authorization_Email__c</queriedFields>
        <queriedFields>Authorization_Other__c</queriedFields>
        <queriedFields>Authorization_Verbal__c</queriedFields>
        <queriedFields>Authorization_Voicemail__c</queriedFields>
        <queriedFields>Conga_Contract_Change_Order__c</queriedFields>
        <queriedFields>Conga_Invoice_Type__c</queriedFields>
        <queriedFields>Contract_Invoice_Type__c</queriedFields>
        <queriedFields>Contract_Invoice_Email__c</queriedFields>
        <queriedFields>Approval_Granted_Design__c</queriedFields>
        <queriedFields>Approval_Granted_Finance__c</queriedFields>
        <queriedFields>Approval_Required_Design__c</queriedFields>
        <queriedFields>Approval_Required_Finance__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Changes</name>
        <label>Save Changes</label>
        <locationX>995</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Get_Conga_Formulas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>Auto_Renewal_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conga_Document_Header__c</field>
            <value>
                <elementReference>fSA_Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Include_LOA__c</field>
            <value>
                <elementReference>Include_LOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Include_Terms__c</field>
            <value>
                <elementReference>fTsCs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Invoice_Email__c</field>
            <value>
                <elementReference>fContractInvoiceEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Invoice_Type__c</field>
            <value>
                <elementReference>fContractInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Long_Description__c</field>
            <value>
                <elementReference>Long_Descriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Send_for_Signature__c</field>
            <value>
                <elementReference>fSig</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Special_Instructions__c</field>
            <value>
                <elementReference>Service_Agreement_Special_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Text__c</field>
            <value>
                <elementReference>Contract_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOA_Enable_International_Calling__c</field>
            <value>
                <elementReference>LOA_Enable_International_Calling</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Changes_0</name>
        <label>Save Changes</label>
        <locationX>1000</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Get_Conga_Formulas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authorization_Details__c</field>
            <value>
                <elementReference>Authorization_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Email__c</field>
            <value>
                <elementReference>fAuthEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Other__c</field>
            <value>
                <elementReference>fAuthOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Verbal__c</field>
            <value>
                <elementReference>fAuthVerbal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Voicemail__c</field>
            <value>
                <elementReference>fAuthVoicemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conga_Document_Header__c</field>
            <value>
                <elementReference>fCOHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Include_LOA__c</field>
            <value>
                <elementReference>Include_LOA_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Invoice_Email__c</field>
            <value>
                <elementReference>fContractInvoiceEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Invoice_Type__c</field>
            <value>
                <elementReference>fContractInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Send_for_Signature__c</field>
            <value>
                <elementReference>fSig</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Special_Instructions__c</field>
            <value>
                <elementReference>Service_Agreement_Special_Instructions_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Text__c</field>
            <value>
                <elementReference>Contract_Start_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOA_Enable_International_Calling__c</field>
            <value>
                <elementReference>LOA_Enable_International_Calling_0</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Conga</name>
        <label>Conga</label>
        <locationX>1178</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CongaLink</name>
            <fieldText>{!fCongaLink}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank00</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prepare_for_Change_Order_Creation</name>
        <label>Prepare for Change Order Creation</label>
        <locationX>812</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Changes_0</targetReference>
        </connector>
        <fields>
            <name>OppDetails_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#3366CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;CHANGE ORDER&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuoteOnlyCO</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Only</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Allow Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>fQuoteOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>fQuoteOnly</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQuoteOnly</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contract_Start_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Start_Text__c</elementReference>
            </defaultValue>
            <fieldText>Contract Start</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Provide the text for the Contract Start field on the Service Agreement (Defaults to Upon Installation)</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The text you entered must be 30 or fewer characters.</errorMessage>
                <formulaExpression>LEN({!Contract_Start_0})&lt;=30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InvoiceType2</name>
            <extensionName>c:dynamicQuestionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentQuestionLabel</name>
                <value>
                    <stringValue>Send electronic invoice via email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToYes</name>
                <value>
                    <stringValue>tf1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToNo</name>
                <value>
                    <stringValue>lb1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_label</name>
                <value>
                    <stringValue>Invoice Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_label</name>
                <value>
                    <stringValue>Statement Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_optionsInputString</name>
                <value>
                    <stringValue>&quot;Credit Card&quot;:&quot;Credit Card&quot;, &quot;eCheck&quot;:&quot;eCheck&quot;, &quot;Paper&quot;:&quot;Paper&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_defaultValue</name>
                <value>
                    <elementReference>objOpp.Contract_Invoice_Email__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dqElectronic</assignToReference>
                <name>parentQuestion_value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dqEmail</assignToReference>
                <name>childTextField1_storage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dqInvoiceType</assignToReference>
                <name>childListbox1_storage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Agreement_Special_Instructions_0</name>
            <defaultValue>
                <elementReference>objOpp.Contract_Special_Instructions__c</elementReference>
            </defaultValue>
            <fieldText>Service Agreement Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Enter any Special Instructions text to appear on the Service Agreement</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria for this input field.  Maximum number of characters is 1,024.</errorMessage>
                <formulaExpression>LEN({!Service_Agreement_Special_Instructions})&lt;=1024</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Authorization_Type</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Voicemail</choiceReferences>
            <choiceReferences>Verbal</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Authorization Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Authorization_Details</name>
            <defaultValue>
                <elementReference>objOpp.Authorization_Details__c</elementReference>
            </defaultValue>
            <fieldText>Authorization Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Include_LOA_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Include_LOA__c</elementReference>
            </defaultValue>
            <fieldText>Include LOA?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you want to include the Letter of Agency with the Service Agreement documents</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LOA_Enable_International_Calling_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.LOA_Enable_International_Calling__c</elementReference>
            </defaultValue>
            <fieldText>LOA Enable International Calling?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check to enable the International Calling selection on the LOA</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_for_Signature_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Send_for_Signature__c</elementReference>
            </defaultValue>
            <fieldText>Send for Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you want to send the Service Agreement out for Signature. (Document will include the Terms &amp; Conditions)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conga3</name>
            <extensionName>c:imageButtonfsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Conga_Display</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Start Conga</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationFlowTransition</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMarginLeft</name>
                <value>
                    <stringValue>20px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stylePaddingTop</name>
                <value>
                    <stringValue>0px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageNameHover</name>
                <value>
                    <stringValue>Conga_Hover</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageNamePress</name>
                <value>
                    <stringValue>Conga_Press</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prepare_for_Service_Agreement_Creation</name>
        <label>Prepare for Service Agreement Creation</label>
        <locationX>807</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Changes</targetReference>
        </connector>
        <fields>
            <name>sa</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#3366CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SERVICE AGREEMENT&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuoteOnlySA</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Only</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No Ts &amp; Cs or Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Allow Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>fQuoteOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>fQuoteOnly</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQuoteOnly</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contract_Start</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Start_Text__c</elementReference>
            </defaultValue>
            <fieldText>Contract Start</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Provide the text for the Contract Start field on the Service Agreement (Defaults to Upon Installation)</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The text you entered must be 30 or fewer characters.</errorMessage>
                <formulaExpression>LEN({!Contract_Start})&lt;=30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Auto_Renewal_Terms</name>
            <choiceReferences>PL_AutoRenewal</choiceReferences>
            <choiceReferences>UniqueName</choiceReferences>
            <choiceReferences>PL_Default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PL_Default</defaultSelectedChoiceReference>
            <fieldText>Auto Renewal Terms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Select excluded if the auto-renewal clause was struck from the contract before signing. Select opt-out if the customer has provided notice that they intend not to renew. Included means the customer has the auto-renewal clause in place.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InvoiceType</name>
            <extensionName>c:dynamicQuestionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentQuestionLabel</name>
                <value>
                    <stringValue>Send electronic invoice via email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToYes</name>
                <value>
                    <stringValue>tf1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToNo</name>
                <value>
                    <stringValue>lb1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_label</name>
                <value>
                    <stringValue>Invoice Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_label</name>
                <value>
                    <stringValue>Statement Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_optionsInputString</name>
                <value>
                    <stringValue>&quot;Credit Card&quot;:&quot;Credit Card&quot;, &quot;eCheck&quot;:&quot;eCheck&quot;, &quot;Paper&quot;:&quot;Paper&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_defaultValue</name>
                <value>
                    <elementReference>objOpp.Contract_Invoice_Email__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dqElectronic</assignToReference>
                <name>parentQuestion_value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dqEmail</assignToReference>
                <name>childTextField1_storage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dqInvoiceType</assignToReference>
                <name>childListbox1_storage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Agreement_Special_Instructions</name>
            <defaultValue>
                <elementReference>objOpp.Contract_Special_Instructions__c</elementReference>
            </defaultValue>
            <fieldText>Service Agreement Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Enter any Special Instructions text to appear on the Service Agreement</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria for this input field.  Maximum number of characters is 1,024.</errorMessage>
                <formulaExpression>LEN({!Service_Agreement_Special_Instructions})&lt;=4000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Long_Descriptions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Long_Description__c</elementReference>
            </defaultValue>
            <fieldText>Use Long Descriptions?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you would like the Service Agreement created with the long form of the item descriptions</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_T_s_C_s</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Include_Terms__c</elementReference>
            </defaultValue>
            <fieldText>Include T&#39;s &amp; C&#39;s ?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you want to include the Terms &amp; Conditions and Signature pages with the Service Agreement</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_LOA</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Include_LOA__c</elementReference>
            </defaultValue>
            <fieldText>Include LOA?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you want to include the Letter of Agency with the Service Agreement documents</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LOA_Enable_International_Calling</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.LOA_Enable_International_Calling__c</elementReference>
            </defaultValue>
            <fieldText>LOA Enable International Calling?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check to enable the International Calling selection on the LOA</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_for_Signature</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objOpp.Contract_Send_for_Signature__c</elementReference>
            </defaultValue>
            <fieldText>Send for Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you want to send the Service Agreement out for Signature. (Document will include the Terms &amp; Conditions)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conga2</name>
            <extensionName>c:imageButtonfsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Conga_Display</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Start Conga</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationFlowTransition</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMarginLeft</name>
                <value>
                    <stringValue>20px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stylePaddingTop</name>
                <value>
                    <stringValue>0px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageNameHover</name>
                <value>
                    <stringValue>Conga_Hover</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageNamePress</name>
                <value>
                    <stringValue>Conga_Press</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttCongaURL</name>
        <text>https://gwi--apxtconga4.na62.visual.force.com/apex/Conga_Composer?serverUrl=https%3A%2F%2Fgwi.my.salesforce.com%2Fservices%2FSoap%2Fu%2F37.0%2F00D6C0000008oXL&amp;id={!vOppId}&amp;QueryId=[ServiceAgreementO]a1A0e00000ApnET,[saolisrvaddr]a1A0e00000ApnNO,[ContactInfo]a1A0e00000ApnQy,[ConSig]a1A0e00000Apo1p,[OwnSig]a1A0e00000Apo2J&amp;csvisible={!fCongaSig}&amp;CSRoutingType=SERIAL&amp;qvar0id=a1A0e00000Apo1p&amp;csrecipient1={qvar0}&amp;qvar1id=a1A0e00000Apo2J&amp;csrecipient2={qvar1}&amp;TemplateId={!vCongaTemplate}&amp;SC0=1&amp;SC1=Chatter&amp;AC0=1&amp;AC1={!vCongaActivity}&amp;UF0=1&amp;DefaultPDF=1&amp;FP0=1&amp;OFN={!vCongaName}</text>
    </textTemplates>
    <variables>
        <name>dqElectronic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dqEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dqInvoiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vAutoRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCongaActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCongaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCongaTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCSTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuoteOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
