force-app/main/default/flows/Opportunity_Delivery_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>34</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0063200001lW4iBAAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pickDelivery</targetReference>
        </connector>
    </assignments>
    <description>Select Default Delivery Method and Delivery System Owner</description>
    <interviewLabel>Opportunity - Delivery Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Delivery Method</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>184</locationX>
        <locationY>263</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Delivery_Method__c</field>
            <value>
                <elementReference>vDeliveryMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_System_Owner__c</field>
            <value>
                <elementReference>vDeliveryOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>pickDelivery</name>
        <label>pickDelivery</label>
        <locationX>183</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>line</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#005FB2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickDeliveryLC</name>
            <extensionName>c:ersLookupDefaultDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Delivery_System_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Default Delivery System Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vDeliveryOwnerId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vDeliveryMethod</assignToReference>
                <name>whereValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Save</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>pickDelivery</startElementReference>
    <status>Active</status>
    <variables>
        <name>vDeliveryMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeliveryOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
