force-app/main/default/flows/Opportunity_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>558</locationX>
        <locationY>527</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Approval Submitted</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>560</locationX>
        <locationY>411</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>555</locationX>
        <locationY>644</locationY>
        <actionName>c:updateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>28</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001s2BrhAAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval_Button</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Required</name>
        <label>Approval Required?</label>
        <locationX>559</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>vARD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAGD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vARF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAGF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Comments</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Submit for approval from a flow</description>
    <interviewLabel>Opportunity - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Submit for Approval</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>345</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Required</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vAGD</assignToReference>
            <field>Approval_Granted_Design__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAGF</assignToReference>
            <field>Approval_Granted_Finance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vARD</assignToReference>
            <field>Approval_Required_Design__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vARF</assignToReference>
            <field>Approval_Required_Finance__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Submission_Comments</name>
        <label>Submission Comments</label>
        <locationX>559</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigate</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Approval_Button</name>
        <label>Submit for Approval Button</label>
        <locationX>149</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>SubmitButton</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submit for Approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Submit_for_Approval_Button</startElementReference>
    <status>Active</status>
    <variables>
        <name>vAGD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAGF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vARD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vARF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
