force-app/main/default/flows/Opportunity_Project_Template_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Toast</name>
        <label>Toast</label>
        <locationX>1012</locationX>
        <locationY>256</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>You have completed Project Template 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Next_Stage</name>
        <label>Next Stage</label>
        <locationX>263</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Stage_0</name>
        <label>Next Stage</label>
        <locationX>484</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_3</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opportunity - Project Template 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Project Template 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Project_Completed</name>
        <label>Project Completed</label>
        <locationX>860</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Template_1__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Step_1</name>
        <label>Step 1</label>
        <locationX>264</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Stage</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Each screen in the Flow can do anything you want from a simple check as complete checkbox to external API to perform an Action, to input field values, etc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_1_Complete</name>
            <dataType>Boolean</dataType>
            <fieldText>Step 1 Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2</name>
        <label>Step 2</label>
        <locationX>482</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Stage_0</targetReference>
        </connector>
        <fields>
            <name>Step_2_Complete</name>
            <dataType>Boolean</dataType>
            <fieldText>Step 2 Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_3</name>
        <label>Step 3</label>
        <locationX>690</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Project_Completed</targetReference>
        </connector>
        <fields>
            <name>Step_3_Complete</name>
            <dataType>Boolean</dataType>
            <fieldText>Step 3 Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage_10</name>
        <isActive>true</isActive>
        <label>Stage_10</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage_20</name>
        <isActive>true</isActive>
        <label>Stage_20</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Stage_30</name>
        <isActive>true</isActive>
        <label>Stage_30</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Step_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
