force-app/main/default/flows/Opportunity_Stage_Change_VWF_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Opp_Owner</name>
        <label>Notify Opp Owner</label>
        <locationX>718</locationX>
        <locationY>945</locationY>
        <actionName>Opportunity.Notify_Opp_Owner_Stage_Changed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Opp_Owner_0</name>
        <label>Notify Opp Owner</label>
        <locationX>263</locationX>
        <locationY>1877</locationY>
        <actionName>Opportunity.Notify_Opp_Owner_Stage_Changed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Copy_SObject</name>
        <label>Copy SObject</label>
        <locationX>735</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>myVariable_old</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myVariable_waitStartTimeAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Assignments</name>
        <label>Debug Assignments</label>
        <locationX>921</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>myVariable_current.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_current.WF_PDT_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_current.Approval_Granted_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_current.Approval_Granted_Finance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_current.Approval_Rejected_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_old.Approval_Rejected_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_SObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_This_Step</name>
        <label>Debug This Step</label>
        <locationX>1088</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>vDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttDebug</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>51</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPDTCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.WF_PDT_Created__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTriggerCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.Trigger_Contract_Check__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDesignApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.Approval_Required_Design__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFinanceApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.Approval_Required_Finance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_current.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values</name>
        <label>Save Values</label>
        <locationX>572</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTriggerCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCheckNeeded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0</name>
        <label>Save Values</label>
        <locationX>567</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTriggerCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0</name>
        <label>Save Values</label>
        <locationX>411</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>vTriggerCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0</name>
        <label>Save Values</label>
        <locationX>411</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need Identification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0</name>
        <label>Save Values</label>
        <locationX>874</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0</name>
        <label>Save Values</label>
        <locationX>411</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solution Design</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0_0</name>
        <label>Save Values</label>
        <locationX>411</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>vDesignApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0_0_0</name>
        <label>Save Values</label>
        <locationX>411</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>vFinanceApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Opp_Owner_on_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0_0_0_0</name>
        <label>Save Values</label>
        <locationX>414</locationX>
        <locationY>1182</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision31</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0_1</name>
        <label>Save Values</label>
        <locationX>414</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verbal Commitment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_34_A2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_0_1_1</name>
        <label>Save Values</label>
        <locationX>415</locationX>
        <locationY>1749</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Custom_Sort_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_0_1</name>
        <label>Save Values</label>
        <locationX>1256</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision31</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values_0_0_0_1</name>
        <label>Save Values</label>
        <locationX>792</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>vStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal Delivery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPDTCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNotify</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_by_Task_PB</name>
        <label>Set by Task PB</label>
        <locationX>262</locationX>
        <locationY>1351</locationY>
        <assignmentItems>
            <assignToReference>vDummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision33</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Type</name>
        <label>Customer Type?</label>
        <locationX>259</locationX>
        <locationY>1073</locationY>
        <defaultConnector>
            <targetReference>myRule_24_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>COMMERCIAL</defaultConnectorLabel>
        <rules>
            <name>RESIDENTIAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Is_Residential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Negotiation_Review</targetReference>
            </connector>
            <label>RESIDENTIAL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future</name>
        <label>Future?</label>
        <locationX>566</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_15_myRule_13_A2_7641864165</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_1</name>
        <label>Future?</label>
        <locationX>947</locationX>
        <locationY>1066</locationY>
        <defaultConnector>
            <targetReference>myDecision31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_25_myRule_24_A3_7788694158</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A3</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision10</name>
        <label>Contract Linked?</label>
        <locationX>51</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.ContractID_formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NoContractLinked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision12</name>
        <label>Need Identification?</label>
        <locationX>51</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR 5) AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_14_myRule_13_7201071641</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WFR_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Previous_contract_end_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WFR_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPDTCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTriggerCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision17</name>
        <label>Solution Design?</label>
        <locationX>51</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>myDecision19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Contact_r__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPDTCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need Identification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision19</name>
        <label>Design Approval Needed?</label>
        <locationX>51</locationX>
        <locationY>813</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_20</name>
            <conditionLogic>1 OR (2 AND (3 OR 4 OR 5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Rejected_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Granted_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_Fiber__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_HPBX__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_Design_Approval__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_Broadband__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Sum_Broadband__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision21</name>
        <label>Finance Approval Needed?</label>
        <locationX>51</locationX>
        <locationY>945</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>1 OR (2 AND (3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9 OR (10 AND 11)) OR (12 AND 13) OR (14 AND 15) OR (16 AND 17) OR (18 AND 19) OR (20 AND 21))</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Rejected_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Granted_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal/With Changes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_Fiber__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count_HPBX__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.NRR__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Capex__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_CGM__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_CGM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Term__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Payback_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Payback_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>36.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Payback_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Payback_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Term__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.IRR_Payback_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision23</name>
        <label>Ready to Deliver Proposal?</label>
        <locationX>50</locationX>
        <locationY>1076</locationY>
        <defaultConnector>
            <targetReference>myDecision31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>((1 AND 2) OR 3) AND ((4 AND 5) OR 6) AND (7 AND 12) AND 8 AND (9 OR 10) AND 11 AND ((13 AND 14 AND 15) OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>vDesignApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Granted_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDesignApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vFinanceApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Approval_Granted_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vFinanceApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPDTCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Product_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Service_Address_Complete__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Primary_Service_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_PDT_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Default_Delivery_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Delivery_System_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Track_Delivery_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Track_Delivery_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Type</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision31</name>
        <label>Negotiation/Review?</label>
        <locationX>52</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>myDecision33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_32</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_by_Task_PB</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision33</name>
        <label>Verbal Commitment?</label>
        <locationX>53</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>myDecision37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_34</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Trigger_Verbal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_34_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision37</name>
        <label>Verbal Trigger Active?</label>
        <locationX>54</locationX>
        <locationY>1618</locationY>
        <defaultConnector>
            <targetReference>myDecision39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_38</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Trigger_Verbal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_38_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision39</name>
        <label>Closed Won?</label>
        <locationX>55</locationX>
        <locationY>1749</locationY>
        <defaultConnector>
            <targetReference>Notify_Opp_Owner_on_Stage_Change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_40</name>
            <conditionLogic>1 AND ( (2 AND 3) OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.WF_Closed_Won__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Create_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.ContractID_formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NoContractLinked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.WF_Create_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_40_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision6</name>
        <label>Record Create?</label>
        <locationX>52</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision8</name>
        <label>Opp Type Changed?</label>
        <locationX>51</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Opp_Owner_on_Stage_Change</name>
        <label>Notify Opp Owner on Stage Change?</label>
        <locationX>566</locationX>
        <locationY>946</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNotify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vMode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;New&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Opp_Owner</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Opp_Owner_on_Stage_Change_0</name>
        <label>Notify Opp Owner on Stage Change?</label>
        <locationX>55</locationX>
        <locationY>1878</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNotify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vMode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;New&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Opp_Owner_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Replaces original PB for setting Opp Stages</description>
    <formulas>
        <name>crlf</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ttNewLine},&quot;&#39;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Set the Contract Check Trigger to True if check is not required.</description>
        <name>fCheckNeeded</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!myVariable_current.Trigger_Contract_Check_Needed__c})</expression>
    </formulas>
    <formulas>
        <name>fMode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vMode}),&quot;Standard&quot;,{!vMode})</expression>
    </formulas>
    <formulas>
        <name>formula_14_myRule_13_7201071641</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_15_myRule_13_A2_7641864165</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 183</expression>
    </formulas>
    <formulas>
        <name>formula_16_myRule_13_A1_7269100170</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 183</expression>
    </formulas>
    <formulas>
        <name>formula_25_myRule_24_A3_7788694158</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 183</expression>
    </formulas>
    <formulas>
        <name>formula_26_myRule_24_A2_8063351496</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 183</expression>
    </formulas>
    <formulas>
        <name>formula_27_myRule_24_A1_9386227214</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>formula_28_myRule_24_A1_5784111019</name>
        <dataType>String</dataType>
        <expression>&quot;This Opportunity is ready for Proposal Delivery. Please deliver the proposal and set this task to completed to move to the next stage.&quot;&amp;IF({!myVariable_current.Approval_Granted_Design__c},&quot; / Design Approval Granted&quot;,&quot;&quot;)&amp;IF({!myVariable_current.Approval_Granted_Finance__c},&quot; / Finance Approval Granted&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_29_myRule_24_A1_9484685984</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.CloseDate} &gt;= TODAY()+183,&quot;Completed&quot;,&quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_30_myRule_24_A1_1494918952</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.CloseDate} &gt;= TODAY()+183,&quot;Future - &quot;,&quot;&quot;) &amp; &quot;Deliver Proposal for [&quot;&amp;{!myVariable_current.Name}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_35_myRule_34_A2_9737707888</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY()),IF(MONTH(TODAY())= 12,DATE(YEAR(TODAY()), 12, 31) - TODAY(),DATE(YEAR(TODAY()),MONTH(TODAY()) + 1, 1) - TODAY() - 1) +DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>formula_36_myRule_34_A2_9593083321</name>
        <dataType>String</dataType>
        <expression>&quot;Obtain Contract for [&quot;&amp;{!myVariable_current.Name}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Setup.Process_Builder_Settings__c.PB_Opportunity_Bypass__c} = True,
{!$User.Id} = &quot;00560000001wTOz&quot; /*Rollup Helper */
)</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_32</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <description>/* ISNEW() */</description>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!vMode} = &quot;New&quot;</expression>
    </formulas>
    <formulas>
        <description>/* ISCHANGED(Opportunity.Type) */</description>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!vMode} = &quot;Change&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - Stage Change VWF Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Stage Change VWF Master</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_24_A1</name>
        <label>Create Deliver Proposal Task</label>
        <locationX>489</locationX>
        <locationY>1067</locationY>
        <connector>
            <targetReference>myRule_24_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_27_myRule_24_A1_9386227214</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_28_myRule_24_A1_5784111019</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>formula_29_myRule_24_A1_9484685984</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_30_myRule_24_A1_1494918952</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Flow - Opp Sales Stages</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_34_A2</name>
        <label>Create Obtain Contract Task</label>
        <locationX>570</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_35_myRule_34_A2_9737707888</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is due by the last day of this month.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_36_myRule_34_A2_9593083321</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Flow - Opp Sales Stages</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Debug_Only_Get_Opp</name>
        <label>Debug Only - Get Opp</label>
        <locationX>1082</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug_Assignments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>myVariable_current</outputReference>
        <queriedFields>WF_PDT_Created__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Trigger_Contract_Check__c</queriedFields>
        <queriedFields>Approval_Required_Design__c</queriedFields>
        <queriedFields>Approval_Required_Finance__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ContractID_formula__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>WFR_Renewal__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Contact_r__c</queriedFields>
        <queriedFields>Approval_Rejected_Design__c</queriedFields>
        <queriedFields>Approval_Rejected_Finance__c</queriedFields>
        <queriedFields>Approval_Granted_Design__c</queriedFields>
        <queriedFields>Approval_Granted_Finance__c</queriedFields>
        <queriedFields>WF_Term__c</queriedFields>
        <queriedFields>IRR_Payback_Months__c</queriedFields>
        <queriedFields>IRR_Capex__c</queriedFields>
        <queriedFields>IRR_CGM__c</queriedFields>
        <queriedFields>Trigger_Verbal__c</queriedFields>
        <queriedFields>WF_Closed_Won__c</queriedFields>
        <queriedFields>Product_Count_Fiber__c</queriedFields>
        <queriedFields>Product_Count_HPBX__c</queriedFields>
        <queriedFields>Product_Count_Broadband__c</queriedFields>
        <queriedFields>Product_Count_Design_Approval__c</queriedFields>
        <queriedFields>Product_Sum_Broadband__c</queriedFields>
        <queriedFields>Product_Count__c</queriedFields>
        <queriedFields>Service_Address_Complete__c</queriedFields>
        <queriedFields>Primary_Service_Address__c</queriedFields>
        <queriedFields>Is_Residential__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>myRule_11_A1</name>
        <label>Set Contract Check Trigger</label>
        <locationX>257</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Save_Values_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Contract_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Set Stage to Need Identification</label>
        <locationX>257</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formula_16_myRule_13_A1_7269100170</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Need Identification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>Set Stage to Future</label>
        <locationX>720</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formula_15_myRule_13_A2_7641864165</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_18_A1</name>
        <label>Set Stage to Solution Design</label>
        <locationX>257</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Solution Design</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_20_A1</name>
        <label>Set Design Approval Flag</label>
        <locationX>257</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Required_Design__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A1</name>
        <label>Set Finance Approval Flag</label>
        <locationX>257</locationX>
        <locationY>945</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Required_Finance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_24_A2</name>
        <label>Set Stage to Proposal Delivery</label>
        <locationX>638</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_1</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formula_26_myRule_24_A2_8063351496</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal Delivery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WF_PDT_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_24_A3</name>
        <label>Set Stage to Future</label>
        <locationX>1101</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_1</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formula_25_myRule_24_A3_7788694158</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_34_A1</name>
        <label>Set Stage to Verbal Commitment</label>
        <locationX>261</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Verbal Commitment</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_38_A1</name>
        <label>Reset Verbal Trigger</label>
        <locationX>261</locationX>
        <locationY>1618</locationY>
        <connector>
            <targetReference>myDecision39</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Verbal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_40_A1</name>
        <label>Set Stage to Closed Won</label>
        <locationX>261</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Set Stage to New</label>
        <locationX>258</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Contract_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A2</name>
        <label>Set Contract Check Trigger</label>
        <locationX>414</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Save_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trigger_Contract_Check_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Contract_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A2_0</name>
        <label>Set Contract Check Trigger</label>
        <locationX>416</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Save_Values_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trigger_Contract_Check_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Contract_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_9_A1</name>
        <label>Reset Opportunity Stage</label>
        <locationX>257</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>myRule_7_A2_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Contract_Check__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_to_Negotiation_Review</name>
        <label>Set Stage to Negotiation/Review</label>
        <locationX>262</locationX>
        <locationY>1180</locationY>
        <connector>
            <targetReference>Save_Values_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Set_Custom_Sort_Order</name>
        <label>Set Custom Sort Order</label>
        <locationX>570</locationX>
        <locationY>1749</locationY>
        <flowName>Opportunity_Set_OLI_Sort_Order</flowName>
        <inputAssignments>
            <name>vOppID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ttDebug</name>
        <text>1-3 | {!vDesignApp} | {!myVariable_current.Approval_Granted_Design__c}
4-6 | {!vFinanceApp} | {!myVariable_current.Approval_Granted_Finance__c}
7 | {!vPDTCreated}
8 | {!myVariable_current.Product_Count__c}
9 | {!myVariable_current.Service_Address_Complete__c}
10 | {!myVariable_current.Primary_Service_Address__c}
11 | {!vStage}
12 | {!myVariable_current.WF_PDT_Created__c}
13 | {!myVariable_current.Is_Residential__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ttNewLine</name>
        <text>&#39;
&#39;</text>
    </textTemplates>
    <textTemplates>
        <description>Guidance prompt for Sales to outline next steps.</description>
        <name>ttSalesGuidance</name>
        <text>Next Steps</text>
    </textTemplates>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>vDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDesignApp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>vFinanceApp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New - New Opp Record
Change - Opp Type Change
Standard - Regular Stage Assignment Processing</description>
        <name>vMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag gets set on a Stage change.  Logic added in this flow to replace the old Workflow rule [Notify Opp Owner on Stage Change]</description>
        <name>vNotify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPDTCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTriggerCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
