force-app/main/default/flows/Opportunity_Set_OLI_Sort_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>64</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>vOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006V0000006vxvm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OLI_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_for_Update</name>
        <label>Save for Update</label>
        <locationX>282</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>colUpdOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Seq</name>
        <label>Set Next Seq #</label>
        <locationX>99</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>objOLI.QT_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSeqNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSeqNum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cGap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_for_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Size of gap between sequence #s</description>
        <name>cGap</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Sort_Sequence_already_set</name>
        <label>Is Sort Seq already set?</label>
        <locationX>102</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Seq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOLI.QT_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLIs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>If the Opp is not imported from the Quote Tool, set the sort sequence #s in the Oportunity Products.  This will be called from the Opportunity - Stage Change Master PB when the stage goes to Closed Won.</description>
    <interviewLabel>Opportunity - Set OLI Sort Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Set OLI Sort Order</label>
    <loops>
        <name>OLIs</name>
        <label>OLIs</label>
        <locationX>205</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>objOLI</assignNextValueToReference>
        <collectionReference>colOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Sort_Sequence_already_set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_OLI_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OLI_Records</name>
        <label>Get OLI Records</label>
        <locationX>208</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OLIs</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>colOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QT_Line__c</queriedFields>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_OLI_Updates</name>
        <label>Save OLI Updates</label>
        <locationX>445</locationX>
        <locationY>411</locationY>
        <inputReference>colUpdOLI</inputReference>
    </recordUpdates>
    <startElementReference>Get_OLI_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Collection of OLI records to update</description>
        <name>colUpdOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>objOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSeqNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>cGap</elementReference>
        </value>
    </variables>
</Flow>
