force-app/main/default/flows/Opportunity_Reset_Stage_To_Solution_Design.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Theme</name>
        <label>Get Theme</label>
        <locationX>196</locationX>
        <locationY>17</locationY>
        <actionName>c:ersCurrentTheme_FA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Execution_Mode</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>vLightning</assignToReference>
            <name>isLEX</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recall_Submitted_Approvals</name>
        <label>Recall Submitted Approvals</label>
        <locationX>962</locationX>
        <locationY>648</locationY>
        <actionName>RecallApprovalProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>1358</locationX>
        <locationY>759</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>12</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001seoVyAAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Theme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Opportunity_Fields</name>
        <label>Reset Opportunity Fields</label>
        <locationX>762</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>objOpportunity.Trigger_Stage_Reset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>567</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttBadStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>568</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttBadUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Execution_Mode</name>
        <label>Execution Mode?</label>
        <locationX>195</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BUTTON</defaultConnectorLabel>
        <rules>
            <name>TAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Button</targetReference>
            </connector>
            <label>TAB</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Lightning</name>
        <label>In Lightning?</label>
        <locationX>1166</locationX>
        <locationY>759</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_Page</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_0</name>
        <label>Reset?</label>
        <locationX>573</locationX>
        <locationY>652</locationY>
        <defaultConnectorLabel>QUIT</defaultConnectorLabel>
        <rules>
            <name>RESET_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Opportunity_Fields</targetReference>
            </connector>
            <label>RESET</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Stage</name>
        <label>Valid Stage?</label>
        <locationX>369</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Valid_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VALID</defaultConnectorLabel>
        <rules>
            <name>INVALID_STAGE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ttInvalidStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>objOpportunity.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunity.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>INVALID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_User</name>
        <label>Valid User?</label>
        <locationX>367</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INVALID</defaultConnectorLabel>
        <rules>
            <name>VALID</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>fUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objOpportunity.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ttValidProfiles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>fProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>VALID</label>
        </rules>
    </decisions>
    <description>Allow Sales to revert an Opportunity to Solution Design so they can make additional edits.
11/13/18 - ers - Add Apex to reset Approval submissions
11/21/18 - ers - Add Console Tab Refresh at End
11/23/18 - ers - Added Lightning &amp; Mode Checks</description>
    <formulas>
        <name>fMode</name>
        <dataType>String</dataType>
        <expression>UPPER({!vMode})</expression>
    </formulas>
    <formulas>
        <name>fProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity - Reset Stage To Solution Design {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Reset Stage To Solution Design</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>370</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpportunity</outputReference>
        <queriedFields>StageName</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Approval_Granted_Design__c</queriedFields>
        <queriedFields>Approval_Granted_Finance__c</queriedFields>
        <queriedFields>Approval_Rejected_Design__c</queriedFields>
        <queriedFields>Approval_Rejected_Finance__c</queriedFields>
        <queriedFields>Closed_Lost_Notes__c</queriedFields>
        <queriedFields>Closed_Lost_Reason__c</queriedFields>
        <queriedFields>Competitor_Lost_To__c</queriedFields>
        <queriedFields>Trigger_Lost__c</queriedFields>
        <queriedFields>Trigger_Won__c</queriedFields>
        <queriedFields>WF_Closed_Won__c</queriedFields>
        <queriedFields>WF_PDT_Created__c</queriedFields>
        <queriedFields>Trigger_Stage_Reset__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Changes</name>
        <label>Save Changes</label>
        <locationX>962</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Recall_Submitted_Approvals</targetReference>
        </connector>
        <inputReference>objOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Button</name>
        <label>Display Button</label>
        <locationX>198</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>ResetButton</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reset to Solution Design</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>754</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!vErrorMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>964</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>In_Lightning</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>SUCCESS - You have reset this Opportunity to the Solution Design stage or earlier!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>572</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_0</targetReference>
        </connector>
        <fields>
            <name>WarningT</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Resetting this Opportunity will remove any previously granted approvals and reset the Stage back to Solution Design or earlier!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reset</name>
            <dataType>Boolean</dataType>
            <fieldText>Reset?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Theme</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttBadStage</name>
        <text>You can&#39;t reset an Opportunity that has not yet passed the Solution Design stage or has been Closed!</text>
    </textTemplates>
    <textTemplates>
        <name>ttBadUser</name>
        <text>You are not authorized to reset the Stage on this Opportunity!</text>
    </textTemplates>
    <textTemplates>
        <name>ttInvalidStages</name>
        <text>New, Future, Need Identification, Cancelled, Solution Design</text>
    </textTemplates>
    <textTemplates>
        <name>ttValidProfiles</name>
        <text>Sales Management, Sales &amp; CSD Hybrid, System Administrator, Super User - Sales</text>
    </textTemplates>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLightning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is this running as a Flow on a Tab or from a Button?</description>
        <name>vMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
