force-app/main/default/flows/Opportunity_Assign_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>32</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>varOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001rwAZHAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_new_Service_Address</name>
        <choiceText>(Add new Service Address...)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEWSERVADDR</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddNewContact</name>
        <choiceText>(Add new Contact...)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEWCONTACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Make_a_Selection</name>
        <choiceText>(Make a Selection)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Same1</name>
        <choiceText>Same as Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vOppAccount</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Add_New_Delivery_Contact</name>
        <label>Add New Delivery Contact?</label>
        <locationX>911</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Add_New_Service_Address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>NEW_DELIVERY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDeliveryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Delivery_Contact0</targetReference>
            </connector>
            <label>NEW DELIVERY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_New_Primary_Contact</name>
        <label>Add New Primary Contact?</label>
        <locationX>726</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Add_New_Delivery_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>NEW_PRIMARY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Contact0</targetReference>
            </connector>
            <label>NEW PRIMARY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_New_Service_Address_0</name>
        <label>Add New Service Address?</label>
        <locationX>1089</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>NEW_SERV_ADDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vServiceAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Service_Address</targetReference>
            </connector>
            <label>NEW SERV ADDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selections_Made</name>
        <label>Selections Made?</label>
        <locationX>531</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Add_New_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vSelAcctId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDlvAcctId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_Make_Selections</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Set the Primary Bill to Account, Deliver to Account, Primary Contact, Delivery Contact and Primary Service Address for an Opportunity.
6/4/18 - ers - Add options to create new Contact and Service Address records (Case #54788)
7/27/18 - ers - Switch to Lightning Component Lookups
8/8/18 - ers - Single screen now using newest version of lookupFSC
10/24/18 - ers - Added Default Delivery Method and System Owner to the input screen
11/19/18 - ers - Changed Delivery selection to new LC (c:ersLookupDefaultDelivery)</description>
    <dynamicChoiceSets>
        <name>AccountBill</name>
        <dataType>String</dataType>
        <displayField>Hierarchy_Display__c</displayField>
        <filters>
            <field>Top_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccount.Top_ID_18__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vSelAcctId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Hierarchy_Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountDelv</name>
        <dataType>String</dataType>
        <displayField>Hierarchy_Display__c</displayField>
        <filters>
            <field>Top_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccount.Top_ID_18__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vDlvAcctId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Hierarchy_Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactDlv</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactPrim</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DefaultDeliverySystemOwner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Delivery_System_Owner__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryMethodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Default_Delivery_Method__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectSA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Service_Address__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>f15CharID</name>
        <dataType>String</dataType>
        <expression>LEFT({!objAccount.Top_ID__c},15)</expression>
    </formulas>
    <formulas>
        <name>fChatterGroup</name>
        <dataType>String</dataType>
        <expression>{!$Label.Chatter_Group_Opportunity_Audit}</expression>
    </formulas>
    <formulas>
        <name>fUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity-Assign Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Assign Accounts</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Opp_Account</name>
        <label>Opp Account</label>
        <locationX>155</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Accounts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppAccount</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>objAccount.Hierarchy_Display__c</assignToReference>
            <field>Hierarchy_Display__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objAccount.PlatID_Display__c</assignToReference>
            <field>PlatID_Display__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objAccount.Top_ID_18__c</assignToReference>
            <field>Top_ID_18__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objAccount.Top_ID__c</assignToReference>
            <field>Top_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Record</name>
        <label>Opportunity Record</label>
        <locationX>155</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOppAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Account_Plat_ID__c</assignToReference>
            <field>Account_Plat_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Bill_To_Account__c</assignToReference>
            <field>Bill_To_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Default_Delivery_Method__c</assignToReference>
            <field>Default_Delivery_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Delivery_System_Owner__c</assignToReference>
            <field>Delivery_System_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Primary_Dlvr_To_Acct__c</assignToReference>
            <field>Primary_Dlvr_To_Acct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objOpp.Primary_Service_Address__c</assignToReference>
            <field>Primary_Service_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Opportunity record with the selected primary Accounts and Service Address.</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1271</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Finish_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>vSelAcctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_r__c</field>
            <value>
                <elementReference>vPrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Method__c</field>
            <value>
                <elementReference>vDeliveryMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_System_Owner__c</field>
            <value>
                <elementReference>vDeliveryOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Dlvr_To_Acct__c</field>
            <value>
                <elementReference>vDlvAcctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Service_Address__c</field>
            <value>
                <elementReference>vServiceAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WFR_Delivery_Contact__c</field>
            <value>
                <elementReference>vDeliveryContact</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Assign_Accounts</name>
        <label>Assign Accounts</label>
        <locationX>345</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selections_Made</targetReference>
        </connector>
        <fields>
            <name>S1_title</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;U&gt;Assign Primary Bill to Account and Deliver to Account&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppAcct</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity Account: &lt;/B&gt;&lt;FONT COLOR=&quot;#0066CC&quot;&gt;&lt;B&gt;{!objAccount.Name}&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; | {!objAccount.PlatID_Display__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillToAccount</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Hierarchy_Display__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ttBillToAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Top_ID_18__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>objAccount.Top_ID_18__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>BillTo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>objAccount.Hierarchy_Display__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelAcctId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContact_0</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ttPrimaryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>BillTo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPrimaryContact</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliverToAccount</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Hierarchy_Display__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deliver to Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Top_ID_18__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>objAccount.Top_ID_18__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>DelvTo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>objAccount.Hierarchy_Display__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vDlvAcctId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DeliveryContact_0</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ttDeliveryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>DelvTo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vDeliveryContact</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServiceAddress_0</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Service_Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ttServiceAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>DelvTo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vServiceAddress</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pickDelivery</name>
            <extensionName>c:ersLookupDefaultDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Delivery_System_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Default Delivery System Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vDeliveryOwnerId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vDeliveryMethod</assignToReference>
                <name>whereValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Message</name>
        <label>Finish Message</label>
        <locationX>1274</locationX>
        <locationY>586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Update Completed - You can now close this window or select Finish.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Delivery_Contact0</name>
        <label>New Delivery Contact</label>
        <locationX>911</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_New_Service_Address_0</targetReference>
        </connector>
        <fields>
            <name>NewDeliveryContact_0</name>
            <extensionName>c:Create_Record_Contact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>vDlvAcctId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContactType</name>
                <value>
                    <stringValue>Delivery</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountName</name>
                <value>
                    <elementReference>objAccountDlv.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vDeliveryContact</assignToReference>
                <name>ContactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Primary_Contact0</name>
        <label>New Primary Contact</label>
        <locationX>726</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_New_Delivery_Contact</targetReference>
        </connector>
        <fields>
            <name>NewPrimaryContact</name>
            <extensionName>c:Create_Record_Contact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>vSelAcctId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContactType</name>
                <value>
                    <stringValue>Primary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountName</name>
                <value>
                    <elementReference>objAccount.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPrimaryContact</assignToReference>
                <name>ContactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Service_Address</name>
        <label>New Service Address</label>
        <locationX>1091</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>NewServAddr</name>
            <extensionName>c:Create_Record_Service_Address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>vDlvAcctId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountName</name>
                <value>
                    <elementReference>objAccountDlv.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vServiceAddress</assignToReference>
                <name>ServiceAddressId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Make_Selections</name>
        <label>Please Make Selections</label>
        <locationX>531</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Accounts</targetReference>
        </connector>
        <fields>
            <name>msgsel</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please make a selection for each Account choice!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opportunity_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttBillToAccount</name>
        <text>Bill To Account (You must click and select the default Account or enter characters to filter and display the complete Account list)</text>
    </textTemplates>
    <textTemplates>
        <description>Audit Message</description>
        <name>ttChatterPost</name>
        <text>[ @[{!fChatterGroup}] ]
Opportunity - {!objOpp.Name}
Button - Set Primary Address
User - {!fUserName}</text>
    </textTemplates>
    <textTemplates>
        <name>ttDeliveryContact</name>
        <text>Delivery Contact (leave blank if you need to create a new Contact)</text>
    </textTemplates>
    <textTemplates>
        <name>ttFilterField</name>
        <text>Available_for_{!vDeliveryMethod}__c</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrimaryContact</name>
        <text>Primary Contact (leave blank if you need to create a new Contact)</text>
    </textTemplates>
    <textTemplates>
        <name>ttServiceAddress</name>
        <text>Service Address (leave blank if you need to create a new Service Address)</text>
    </textTemplates>
    <textTemplates>
        <name>ttWhere</name>
        <text>{!ttFilterField} = True</text>
    </textTemplates>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAccountDlv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeliveryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeliveryMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeliveryOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDlvAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vServiceAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
