force-app/main/default/flows/Opportunity_Submit_to_Osp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>88</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001sdVsH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Opp</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opportunity - Submit to Osp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Submit to Osp</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>95</locationX>
        <locationY>437</locationY>
        <assignRecordIdToReference>vProjID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Name__c</field>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager_Email__c</field>
            <value>
                <elementReference>objOpportunity.WFR_Email_PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address__c</field>
            <value>
                <elementReference>vSaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>osp_Contact__c</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>osp_MTU__c</field>
            <value>
                <elementReference>objOpportunity.MTU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>osp_Poles__c</field>
            <value>
                <elementReference>objOpportunity.OSP_Poles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>osp_Submit__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>88</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Required_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpportunity</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>WFR_Email_PM__c</queriedFields>
        <queriedFields>MTU__c</queriedFields>
        <queriedFields>OSP_Poles__c</queriedFields>
        <queriedFields>WFR_Delivery_Contact__c</queriedFields>
        <queriedFields>Top_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_Service_Address</name>
        <label>lookup Service Address</label>
        <locationX>96</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSaId</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputReference>objServiceAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SA_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trigger</name>
        <label>Update Trigger</label>
        <locationX>98</locationX>
        <locationY>530</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_OSP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WFR_OSP_Submitted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Required_Info</name>
        <label>Required Info</label>
        <locationX>93</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_Service_Address</targetReference>
        </connector>
        <fields>
            <name>ServiceAddress</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Service_Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Top_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>objOpportunity.Top_Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSaId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BuildContact</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Build Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Top_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>objOpportunity.Top_Account__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Opp</startElementReference>
    <status>Active</status>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objServiceAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Address__c</objectType>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProjID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
