force-app/main/default/flows/Opportunity_Create_Service_Reduction_Offset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>38</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0063200001jGs7w</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <description>Create Service Reduction Opportunity with a SRO Product</description>
    <formulas>
        <name>fAmount</name>
        <dataType>Currency</dataType>
        <expression>{!objOpp.Amount} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fSRO_Product</name>
        <dataType>String</dataType>
        <expression>{!$Label.SRO_Product}</expression>
    </formulas>
    <interviewLabel>Opportunity - Create Service Reduction Offset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create Service Reduction Offset</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_SRO_Product</name>
        <label>Add SRO Product</label>
        <locationX>170</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Clear_Flow_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>IsConverted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vSROid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>fSRO_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Write_SRO_Opp0</name>
        <label>Write SRO Opp</label>
        <locationX>168</locationX>
        <locationY>292</locationY>
        <assignRecordIdToReference>vSROid</assignRecordIdToReference>
        <connector>
            <targetReference>Add_SRO_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>fAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSD_Rep__c</field>
            <value>
                <elementReference>objOpp.CSD_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>objOpp.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Service Reduction Offset Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objOpp.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Service Reduction Offset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_ID__c</field>
            <value>
                <elementReference>objOpp.Plat_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_Version__c</field>
            <value>
                <elementReference>objOpp.Plat_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted__c</field>
            <value>
                <elementReference>objOpp.Submitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_months__c</field>
            <value>
                <elementReference>objOpp.Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Service Reduction Offset</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>168</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Write_SRO_Opp0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CSD_Rep__c</queriedFields>
        <queriedFields>Delivery_Stage__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Opportunity_Source__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Plat_ID__c</queriedFields>
        <queriedFields>Plat_Version__c</queriedFields>
        <queriedFields>Submitted__c</queriedFields>
        <queriedFields>Term_months__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>IsFlow__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Flow_Flag</name>
        <label>Clear Flow Flag</label>
        <locationX>171</locationX>
        <locationY>563</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSROid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSROid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
