force-app/main/default/flows/Opportunity_Button_Won_Lightning_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_ID</name>
        <label>Get Record ID</label>
        <locationX>200</locationX>
        <locationY>132</locationY>
        <actionName>c:GetCurrentRecordId</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>vOppID</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_To_Record</name>
        <label>Go To Record</label>
        <locationX>786</locationX>
        <locationY>785</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>ov_WhereNext</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_To_VF_Page</name>
        <label>Go To VF Page</label>
        <locationX>970</locationX>
        <locationY>784</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>ov_WhereNext</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Contract_Edit_retURL</name>
        <label>Contract Edit retURL</label>
        <locationX>1135</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>ov_WhereNext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttContractEditLightning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWeb</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_To_VF_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>25</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>vOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006W000000A9AHI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Lost_retURL</name>
        <label>Opp Lost retURL</label>
        <locationX>1029</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>ov_WhereNext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttOppLostLightning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWeb</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_retURL</name>
        <label>Set Default retURL &amp; Save Id</label>
        <locationX>202</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>ov_WhereNext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContractID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOpp.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_retURL_0</name>
        <label>Set Default retURL</label>
        <locationX>1315</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>ov_WhereNext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>387</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrNotValidStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>874</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrErrorSavingOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lost_Trigger</name>
        <label>Set Lost Trigger</label>
        <locationX>720</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>objOpp.Trigger_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Opportunity_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>566</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>objOpp.Trigger_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpp.WF_Closed_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpp.IsFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Reduction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agreement_Type</name>
        <label>Agreement Type?</label>
        <locationX>1381</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER</defaultConnectorLabel>
        <rules>
            <name>CO_or_REN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fAgreementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fAgreementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Contract_Update_and_Attachments</targetReference>
            </connector>
            <label>CO or REN</label>
        </rules>
    </decisions>
    <decisions>
        <name>CongaSign</name>
        <label>CongaSign?</label>
        <locationX>1540</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Attach_Service_Agreement_to_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YEScs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCongaSign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_retURL_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status</name>
        <label>Contract Status?</label>
        <locationX>1377</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER</defaultConnectorLabel>
        <rules>
            <name>ACTIVATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContractStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Type</targetReference>
            </connector>
            <label>ACTIVATED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contract</name>
        <label>Create Contract?</label>
        <locationX>1198</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>fType3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fType3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ren</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.Is_Residential__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirection_Type</name>
        <label>Redirection Type?</label>
        <locationX>873</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>Go_To_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RECORD</defaultConnectorLabel>
        <rules>
            <name>WEB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vWeb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_VF_Page</targetReference>
            </connector>
            <label>WEB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Reduction</name>
        <label>Service Reduction?</label>
        <locationX>720</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Save_Opportunity_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Reduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lost_Trigger</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Reduction_0</name>
        <label>Service Reduction?</label>
        <locationX>1029</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Create_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER</defaultConnectorLabel>
        <rules>
            <name>YES2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Reduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Lost_retURL</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Stage</name>
        <label>Valid Stage?</label>
        <locationX>387</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verbal Commitment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.Is_Residential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Fields</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Replaces original javascript button
4/4/18 - ers - Pulling new Contract fields from Opp (E-Signature)
4/11/18 - ers - Handle post Contract creation processing for CongaSign and document attachment
(Does not include Lightning Component to attach file to Contract)
4/19/18 - ers - Added logic to handle document attachment for Renewals and Change Orders
8/1/18 - ers - Handle attachment and redirect differently for Lightning
11/30/18 - ers - Using Lightning Component for navigation buttons in a tab</description>
    <formulas>
        <name>fAgreementType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!objOpp.Type}),
&quot;New Agreement&quot;, &quot;Service Agreement&quot;,
&quot;New Customer&quot;, &quot;Service Agreement&quot;,
&quot;Renewal/NO Changes&quot;, &quot;Renewal&quot;,
&quot;Renewal/With Changes&quot;, &quot;Renewal&quot;,
&quot;Add/Move/Change&quot;, &quot;Change Order&quot;,
&quot;Service Reduction&quot;, &quot;Change Order&quot;,
&quot;Other&quot;)</expression>
    </formulas>
    <formulas>
        <name>fMyDomain</name>
        <dataType>String</dataType>
        <expression>{!$Label.GWI_Lightning_Domain}</expression>
    </formulas>
    <formulas>
        <name>fStartOnInstall</name>
        <dataType>String</dataType>
        <expression>IF({!objOpp.Contract_Start_Text__c}=&quot;Upon Installation&quot;,&quot;Yes&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Return first 3 character of the Opportunity Type</description>
        <name>fType3</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!objOpp.Type}),3)</expression>
    </formulas>
    <interviewLabel>Opportunity Button - Won (Lightning Action) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Button - Won (Lightning Action)</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract2</name>
        <label>Create Contract</label>
        <locationX>1535</locationX>
        <locationY>346</locationY>
        <assignRecordIdToReference>vContractID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>objOpp.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>objOpp.WF_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Customer_Service_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract_Amount__c</field>
            <value>
                <elementReference>objOpp.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>objOpp.Contract_Special_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_on_Installation__c</field>
            <value>
                <elementReference>fStartOnInstall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract #</label>
        <locationX>1535</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Title</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>vContractNum</assignToReference>
            <field>ContractNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contract</name>
        <label>Get Existing Contract</label>
        <locationX>1375</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>vContractStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>201</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_retURL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>Is_Closed_Won__c</queriedFields>
        <queriedFields>Contract_Record_Complete__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Trigger_Won__c</queriedFields>
        <queriedFields>Submitted__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>WF_Term__c</queriedFields>
        <queriedFields>Auto_Renewal__c</queriedFields>
        <queriedFields>WF_Closed_Won__c</queriedFields>
        <queriedFields>IsFlow__c</queriedFields>
        <queriedFields>Trigger_Lost__c</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>Is_Residential__c</queriedFields>
        <queriedFields>Contract_Special_Instructions__c</queriedFields>
        <queriedFields>Contract_Start_Text__c</queriedFields>
        <queriedFields>Contact_r__c</queriedFields>
        <queriedFields>Contract_Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Title</name>
        <label>Get Title</label>
        <locationX>1536</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handle_Contract_Update_and_Attachments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOpp.Contact_r__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Save_Opportunity_Changes</name>
        <label>Save Opportunity Changes</label>
        <locationX>874</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Service_Reduction_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </faultConnector>
        <inputReference>objOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Attach_Service_Agreement_to_Contract</name>
        <label>Attach Service Agreement to Contract</label>
        <locationX>1316</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Edit_retURL</targetReference>
        </connector>
        <fields>
            <name>Line1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#005FB2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Msg</name>
            <fieldText>Please attach the Service Agreement and any other supporting files to the Contract record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vContractID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>vUploadFormats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <elementReference>vMultipleFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>vUploadText</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue2</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finished Attaching Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#005FB2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen is here to force the retURL variable to be updated before exiting flow.</description>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>1125</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirection_Type</targetReference>
        </connector>
        <fields>
            <name>line0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#005FB2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContinueButton</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line00</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#005FB2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>387</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Record_ID</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Handle_Contract_Update_and_Attachments</name>
        <label>Handle Contract Update and Attachments</label>
        <locationX>1539</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>CongaSign</targetReference>
        </connector>
        <flowName>Sub_Flow_Copy_SA_from_Opportunity_to_Contract</flowName>
        <inputAssignments>
            <name>vContractId</name>
            <value>
                <elementReference>vContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCustomerId</name>
            <value>
                <elementReference>objOpp.Contact_r__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppId</name>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOppOwnerId</name>
            <value>
                <elementReference>objOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCustomerTitle</name>
            <value>
                <elementReference>vTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContractVersion</name>
            <value>
                <elementReference>objOpp.Contract_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAgreementType</name>
            <value>
                <elementReference>fAgreementType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCongaSign</assignToReference>
            <name>vCongaSign</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Redirect to the edit screen of the newly created Contract record</description>
        <name>ttContractEditLightning</name>
        <text>{!fMyDomain}lightning/r/Contract/{!vContractID}/edit</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrContractNotComplete</name>
        <text>All required fields must be populated and a copy of the Service Agreement must be attached to the Contract record before an Opportunity can be submitted to Service Delivery!</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrErrorSavingOpp</name>
        <text>Unexpected error when trying to update the Opportunity record!</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrNotValidStage</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Stage must be &lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009966&quot;&gt;&lt;B&gt;Negotiation/Review&lt;/B&gt;&lt;/FONT&gt; or &lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#009933&quot;&gt;&lt;B&gt;Verbal Commitment&lt;/B&gt;&lt;/FONT&gt; before you can select Won&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttOppLost</name>
        <text>apex/Opportunity_Lost?id={!vOppID}</text>
    </textTemplates>
    <textTemplates>
        <name>ttOppLostLightning</name>
        <text>{!fMyDomain}{!ttOppLost}</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Output variable with the url of where to go next after this flow finishes</description>
        <name>ov_WhereNext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCongaSign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID of the newly created Contract record</description>
        <name>vContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContractNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMultipleFiles</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUploadFormats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>.pdf, .xls, .xlsx</stringValue>
        </value>
    </variables>
    <variables>
        <name>vUploadText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Upload the Contract document(s)</stringValue>
        </value>
    </variables>
    <variables>
        <name>vWeb</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
