force-app/main/default/flows/Opportunity_Close_Open_Tasks_on_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Close_Task</name>
        <label>Close Task</label>
        <locationX>382</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>objTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Changed_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>27</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0063200001mfwIwAAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaskSubjectStartsWith</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deliver Proposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Changed_Record</name>
        <label>Save Changed Record</label>
        <locationX>578</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>colUpdatedTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Open_Tasks</name>
        <label>Found Open Tasks?</label>
        <locationX>168</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Tasks</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>When an Opportunity is set to Closed Lost (Trigger Lost), set all open Deliver Proposal or Obtain Contract Tasks to Completed.</description>
    <interviewLabel>Opportunity - Close Open Tasks on Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Close Open Tasks on Lost</label>
    <loops>
        <name>Loop_through_Tasks</name>
        <label>Loop through Tasks</label>
        <locationX>380</locationX>
        <locationY>243</locationY>
        <assignNextValueToReference>objTask</assignNextValueToReference>
        <collectionReference>colTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Tasks</name>
        <label>Get Active Tasks</label>
        <locationX>167</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Tasks</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>vTaskSubjectStartsWith</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>colTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Tasks</name>
        <label>Save Tasks</label>
        <locationX>624</locationX>
        <locationY>241</locationY>
        <inputReference>colUpdatedTask</inputReference>
    </recordUpdates>
    <startElementReference>Get_Active_Tasks</startElementReference>
    <status>Active</status>
    <variables>
        <name>colTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colUpdatedTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>objTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pass the beginning of the subject line of the tasks to be closed.</description>
        <name>vTaskSubjectStartsWith</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
