force-app/main/default/flows/Opportunity_Button_Submit_to_CSD_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Screen</name>
        <label>Refresh Screen</label>
        <locationX>1207</locationX>
        <locationY>612</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>22</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>vOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001rwAZH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execution_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>1048</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrNotClosedWon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message3</name>
        <label>Set Error Message</label>
        <locationX>880</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorNoSystemID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>1201</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrContractNotComplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Always set Submitted Date to current date</description>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>1368</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>objOpp.Trigger_Submit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpp.Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Opportunity_Changes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_Won</name>
        <label>Closed_Won?</label>
        <locationX>1046</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Is_Closed_Won__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_OK</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_OK</name>
        <label>Contract OK?</label>
        <locationX>1199</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpp.Contract_Record_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Fields</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_Contain_Fiber</name>
        <label>Does this Contain Fiber?</label>
        <locationX>715</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGwiFiber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Service_Address</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGwiFiber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this running as a Flow on a Tab or from a Button?</description>
        <name>Execution_Mode</name>
        <label>Execution Mode?</label>
        <locationX>179</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BUTTON</defaultConnectorLabel>
        <rules>
            <name>TAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Button</targetReference>
            </connector>
            <label>TAB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Address_Have_a_System_ID</name>
        <label>Service Address Have a System ID?</label>
        <locationX>878</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSystemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSystemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message3</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <formulas>
        <name>fMode</name>
        <dataType>String</dataType>
        <expression>UPPER({!vMode})</expression>
    </formulas>
    <interviewLabel>Opportunity Button - Submit to CSD (Lightning) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Button - Submit to CSD (Lightning)</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>537</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>objOppLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deliver_to_Account__c</queriedFields>
        <queriedFields>Service_Address__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>362</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>Is_Closed_Won__c</queriedFields>
        <queriedFields>Contract_Record_Complete__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Trigger_Submit__c</queriedFields>
        <queriedFields>Submitted__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Count_Fiber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>714</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_Contain_Fiber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOppLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vGwiFiber</assignToReference>
            <field>Fiber_Promo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Address</name>
        <label>Lookup Service Address</label>
        <locationX>717</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Address_Have_a_System_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objOppLineItem.Service_Address__c</elementReference>
            </value>
        </filters>
        <object>Service_Address__c</object>
        <outputAssignments>
            <assignToReference>vSystemID</assignToReference>
            <field>System_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Save_Opportunity_Changes</name>
        <label>Save Opportunity Changes</label>
        <locationX>1368</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Update_Turn_Down_Asset_Status</targetReference>
        </connector>
        <inputReference>objOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Assets are flagged as Selected for Turn-Down when the Opportunity is created and changed here to In Turn-Down when being submitted to Service Delivery.</description>
        <name>Update_Turn_Down_Asset_Status</name>
        <label>Update Turn-Down Asset Status</label>
        <locationX>1367</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Refresh_Screen</targetReference>
        </connector>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected for Turn-Down</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Turn-Down</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Display_Button</name>
        <label>Display Button</label>
        <locationX>176</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Submit</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submit to CSD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1049</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_Screen</targetReference>
        </connector>
        <fields>
            <name>UpperLine</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;{!ErrorMessage}&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Button</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancel Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LowerLine</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Execution_Mode</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttErrContractNotComplete</name>
        <text>All required fields must be populated and a copy of the Service Agreement must be attached to the Contract record before an Opportunity can be submitted to Service Delivery!</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrNotClosedWon</name>
        <text>Opportunity Stage must be Closed Won before you can Submit this Opportunity to Service Delivery!</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorNoSystemID</name>
        <text>Fiber Product Line Item Service Address must have a System ID before you can Submit this Opportunity to Service Delivery!</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vGwiFiber</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is this running as a Flow on a Tab or from a Button?</description>
        <name>vMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSystemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
