force-app/main/default/flows/P6_Kickoff_Project_Test6_Custom_Stage_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Stage_Labels</name>
        <label>Set Stage Labels</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vFlowStage_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_02</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_03</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_04</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_05</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_06</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_07</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_08</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_09</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_12</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_13</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_14</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_15</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_16</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_16</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_17</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_17</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_18</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_19</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_19</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_20</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_20</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_21</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_21</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_22</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_22</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_23</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_23</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_24</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_24</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_25</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_26</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_26</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_27</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_27</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_28</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_28</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_29</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_29</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowStage_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Add New Rate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_02</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Select CFA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_03</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Place New Loop Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_04</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Monitor Loop Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_05</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Schedule Dispatch for Install</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_06</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Move in Switch</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_07</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Update TA5K</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_08</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Place Disconnect for Old Loop Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_09</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Prov - Remove Old CFA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L_Residential - Billing Enable (Remove Old Rate and Bill New Rate)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_11</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_12</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_13</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_13</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_14</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_14</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_15</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_16</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_16</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_17</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_17</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_18</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_18</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_19</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_19</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_20</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_20</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_21</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_21</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_22</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_22</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_23</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_24</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_24</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_25</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_25</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_26</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_26</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_27</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_27</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_28</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_28</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_29</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_29</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStageLabel_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyStageLabel_30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential - Loop Replacement Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Master_Project_Flow</targetReference>
        </connector>
    </assignments>
    <description>Gets created by metadata flow and is named for the Project(Template)</description>
    <interviewLabel>P6 Kickoff Project - Test6 - Custom Stage Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P6 Kickoff Project - Test6 - Custom Stage Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <stages>
        <name>Stage_01</name>
        <isActive>false</isActive>
        <label>S_Prov - Add New Rate</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage_02</name>
        <isActive>false</isActive>
        <label>S_Prov - Select CFA</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Stage_03</name>
        <isActive>false</isActive>
        <label>S_Prov - Place New Loop Order</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Stage_04</name>
        <isActive>false</isActive>
        <label>S_Prov - Monitor Loop Order</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Stage_05</name>
        <isActive>false</isActive>
        <label>S_Prov - Schedule Dispatch for Install</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Stage_06</name>
        <isActive>false</isActive>
        <label>S_Prov - Move in Switch</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Stage_07</name>
        <isActive>false</isActive>
        <label>S_Prov - Update TA5K</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>Stage_08</name>
        <isActive>false</isActive>
        <label>S_Prov - Place Disconnect for Old Loop Order</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <name>Stage_09</name>
        <isActive>false</isActive>
        <label>S_Prov - Remove Old CFA</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>Stage_10</name>
        <isActive>false</isActive>
        <label>S_Residential - Billing Enable (Remove Old Rate and Bill New Rate)</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Stage_11</name>
        <isActive>false</isActive>
        <label>MyStageLabel_11</label>
        <stageOrder>110</stageOrder>
    </stages>
    <stages>
        <name>Stage_12</name>
        <isActive>false</isActive>
        <label>MyStageLabel_12</label>
        <stageOrder>120</stageOrder>
    </stages>
    <stages>
        <name>Stage_13</name>
        <isActive>false</isActive>
        <label>MyStageLabel_13</label>
        <stageOrder>130</stageOrder>
    </stages>
    <stages>
        <name>Stage_14</name>
        <isActive>false</isActive>
        <label>MyStageLabel_14</label>
        <stageOrder>140</stageOrder>
    </stages>
    <stages>
        <name>Stage_15</name>
        <isActive>false</isActive>
        <label>MyStageLabel_15</label>
        <stageOrder>150</stageOrder>
    </stages>
    <stages>
        <name>Stage_16</name>
        <isActive>false</isActive>
        <label>MyStageLabel_16</label>
        <stageOrder>160</stageOrder>
    </stages>
    <stages>
        <name>Stage_17</name>
        <isActive>false</isActive>
        <label>MyStageLabel_17</label>
        <stageOrder>170</stageOrder>
    </stages>
    <stages>
        <name>Stage_18</name>
        <isActive>false</isActive>
        <label>MyStageLabel_18</label>
        <stageOrder>180</stageOrder>
    </stages>
    <stages>
        <name>Stage_19</name>
        <isActive>false</isActive>
        <label>MyStageLabel_19</label>
        <stageOrder>190</stageOrder>
    </stages>
    <stages>
        <name>Stage_20</name>
        <isActive>false</isActive>
        <label>MyStageLabel_20</label>
        <stageOrder>200</stageOrder>
    </stages>
    <stages>
        <name>Stage_21</name>
        <isActive>false</isActive>
        <label>MyStageLabel_21</label>
        <stageOrder>210</stageOrder>
    </stages>
    <stages>
        <name>Stage_22</name>
        <isActive>false</isActive>
        <label>MyStageLabel_22</label>
        <stageOrder>220</stageOrder>
    </stages>
    <stages>
        <name>Stage_23</name>
        <isActive>false</isActive>
        <label>MyStageLabel_23</label>
        <stageOrder>230</stageOrder>
    </stages>
    <stages>
        <name>Stage_24</name>
        <isActive>false</isActive>
        <label>MyStageLabel_24</label>
        <stageOrder>240</stageOrder>
    </stages>
    <stages>
        <name>Stage_25</name>
        <isActive>false</isActive>
        <label>MyStageLabel_25</label>
        <stageOrder>250</stageOrder>
    </stages>
    <stages>
        <name>Stage_26</name>
        <isActive>false</isActive>
        <label>MyStageLabel_26</label>
        <stageOrder>260</stageOrder>
    </stages>
    <stages>
        <name>Stage_27</name>
        <isActive>false</isActive>
        <label>MyStageLabel_27</label>
        <stageOrder>270</stageOrder>
    </stages>
    <stages>
        <name>Stage_28</name>
        <isActive>false</isActive>
        <label>MyStageLabel_28</label>
        <stageOrder>280</stageOrder>
    </stages>
    <stages>
        <name>Stage_29</name>
        <isActive>false</isActive>
        <label>MyStageLabel_29</label>
        <stageOrder>290</stageOrder>
    </stages>
    <stages>
        <name>Stage_30</name>
        <isActive>false</isActive>
        <label>MyStageLabel_30</label>
        <stageOrder>300</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Stage_Labels</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Run_Master_Project_Flow</name>
        <label>Run Master Project Flow</label>
        <locationX>375</locationX>
        <locationY>50</locationY>
        <flowName>P6_Kickoff_Project_Test6_MasterProject_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>vCallingRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProjectName</name>
            <value>
                <elementReference>vProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_01</name>
            <value>
                <elementReference>vStageLabel_01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_02</name>
            <value>
                <elementReference>vStageLabel_02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_03</name>
            <value>
                <elementReference>vStageLabel_03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_04</name>
            <value>
                <elementReference>vStageLabel_04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_05</name>
            <value>
                <elementReference>vStageLabel_05</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_06</name>
            <value>
                <elementReference>vStageLabel_06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_07</name>
            <value>
                <elementReference>vStageLabel_07</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_08</name>
            <value>
                <elementReference>vStageLabel_08</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_09</name>
            <value>
                <elementReference>vStageLabel_09</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_10</name>
            <value>
                <elementReference>vStageLabel_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_11</name>
            <value>
                <elementReference>vStageLabel_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_12</name>
            <value>
                <elementReference>vStageLabel_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_13</name>
            <value>
                <elementReference>vStageLabel_13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_14</name>
            <value>
                <elementReference>vStageLabel_14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_15</name>
            <value>
                <elementReference>vStageLabel_15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_16</name>
            <value>
                <elementReference>vStageLabel_16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_17</name>
            <value>
                <elementReference>vStageLabel_17</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_18</name>
            <value>
                <elementReference>vStageLabel_18</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_19</name>
            <value>
                <elementReference>vStageLabel_19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_20</name>
            <value>
                <elementReference>vStageLabel_20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_21</name>
            <value>
                <elementReference>vStageLabel_21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_22</name>
            <value>
                <elementReference>vStageLabel_22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_23</name>
            <value>
                <elementReference>vStageLabel_23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_24</name>
            <value>
                <elementReference>vStageLabel_24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_25</name>
            <value>
                <elementReference>vStageLabel_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_26</name>
            <value>
                <elementReference>vStageLabel_26</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_27</name>
            <value>
                <elementReference>vStageLabel_27</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_28</name>
            <value>
                <elementReference>vStageLabel_28</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_29</name>
            <value>
                <elementReference>vStageLabel_29</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageLabel_30</name>
            <value>
                <elementReference>vStageLabel_30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_01</name>
            <value>
                <elementReference>vFlowStage_01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_02</name>
            <value>
                <elementReference>vFlowStage_02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_03</name>
            <value>
                <elementReference>vFlowStage_03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_04</name>
            <value>
                <elementReference>vFlowStage_04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_05</name>
            <value>
                <elementReference>vFlowStage_05</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_06</name>
            <value>
                <elementReference>vFlowStage_06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_07</name>
            <value>
                <elementReference>vFlowStage_07</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_08</name>
            <value>
                <elementReference>vFlowStage_08</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_09</name>
            <value>
                <elementReference>vFlowStage_09</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_10</name>
            <value>
                <elementReference>vFlowStage_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_11</name>
            <value>
                <elementReference>vFlowStage_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_12</name>
            <value>
                <elementReference>vFlowStage_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_13</name>
            <value>
                <elementReference>vFlowStage_13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_14</name>
            <value>
                <elementReference>vFlowStage_14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_15</name>
            <value>
                <elementReference>vFlowStage_15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_16</name>
            <value>
                <elementReference>vFlowStage_16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_17</name>
            <value>
                <elementReference>vFlowStage_17</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_18</name>
            <value>
                <elementReference>vFlowStage_18</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_19</name>
            <value>
                <elementReference>vFlowStage_19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_20</name>
            <value>
                <elementReference>vFlowStage_20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_21</name>
            <value>
                <elementReference>vFlowStage_21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_22</name>
            <value>
                <elementReference>vFlowStage_22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_23</name>
            <value>
                <elementReference>vFlowStage_23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_24</name>
            <value>
                <elementReference>vFlowStage_24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_25</name>
            <value>
                <elementReference>vFlowStage_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_26</name>
            <value>
                <elementReference>vFlowStage_26</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_27</name>
            <value>
                <elementReference>vFlowStage_27</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_28</name>
            <value>
                <elementReference>vFlowStage_28</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_29</name>
            <value>
                <elementReference>vFlowStage_29</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStageName_30</name>
            <value>
                <elementReference>vFlowStage_30</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Id of the record on the page the Project was called from</description>
        <name>vCallingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_04</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_06</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_07</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_08</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_09</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_13</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_16</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_17</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_18</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_19</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_20</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_25</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_26</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_27</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_28</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_29</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowStage_30</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_04</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_06</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_07</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_08</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_09</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_13</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_16</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_17</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_18</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_19</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_20</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_25</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_26</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_27</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_28</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_29</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStageLabel_30</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
