force-app/main/default/flows/P6_Project_Sub_Remove_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Remove_Ticket_01</name>
        <label>Remove Ticket 01</label>
        <locationX>787</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName01</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_02</name>
        <label>Remove Ticket 02</label>
        <locationX>864</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName02</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_03</name>
        <label>Remove Ticket 03</label>
        <locationX>937</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName03</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_04</name>
        <label>Remove Ticket 04</label>
        <locationX>1012</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName04</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_05</name>
        <label>Remove Ticket 05</label>
        <locationX>1087</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName05</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_06</name>
        <label>Remove Ticket 06</label>
        <locationX>1162</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName06</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_07</name>
        <label>Remove Ticket 07</label>
        <locationX>1237</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName07</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_08</name>
        <label>Remove Ticket 08</label>
        <locationX>1312</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName08</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_09</name>
        <label>Remove Ticket 09</label>
        <locationX>1387</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName09</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Ticket_10</name>
        <label>Remove Ticket 10</label>
        <locationX>1461</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>vTicketName10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTicketName10</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_Ticket</name>
        <label>Which Ticket?</label>
        <locationX>1041</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>T01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_01</targetReference>
            </connector>
            <label>T01</label>
        </rules>
        <rules>
            <name>T02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_02</targetReference>
            </connector>
            <label>T02</label>
        </rules>
        <rules>
            <name>T03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted03</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_03</targetReference>
            </connector>
            <label>T03</label>
        </rules>
        <rules>
            <name>T04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted04</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_04</targetReference>
            </connector>
            <label>T04</label>
        </rules>
        <rules>
            <name>T05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted05</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_05</targetReference>
            </connector>
            <label>T05</label>
        </rules>
        <rules>
            <name>T06</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted06</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_06</targetReference>
            </connector>
            <label>T06</label>
        </rules>
        <rules>
            <name>T07</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted07</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_07</targetReference>
            </connector>
            <label>T07</label>
        </rules>
        <rules>
            <name>T08</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted08</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_08</targetReference>
            </connector>
            <label>T08</label>
        </rules>
        <rules>
            <name>T09</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted09</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_09</targetReference>
            </connector>
            <label>T09</label>
        </rules>
        <rules>
            <name>T10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Ticket_10</targetReference>
            </connector>
            <label>T10</label>
        </rules>
    </decisions>
    <description>Sub Flow to remove the selected ticket (Stage)</description>
    <interviewLabel>P6 Project - Sub - Remove Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P6 Project - Sub - Remove Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <startElementReference>Which_Ticket</startElementReference>
    <status>Active</status>
    <variables>
        <name>vTicketCompleted01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted02</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted03</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted04</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted05</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted06</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted07</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted08</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted09</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName04</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName06</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName07</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName08</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName09</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
