force-app/main/default/flows/P6_Project_Template_Kickoff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add all tickets that should show up right after kickoff</description>
        <name>Add_Post_Kickoff_Tickets</name>
        <label>Add Post Kickoff Tickets</label>
        <locationX>521</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>vAddTicket</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>***NONE ASSIGNED YET***</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kickoff_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName04</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Process_Flags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ticket_01</name>
        <label>Add Ticket 01</label>
        <locationX>321</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName01</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_02</name>
        <label>Add Ticket 02</label>
        <locationX>440</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName02</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_03</name>
        <label>Add Ticket 03</label>
        <locationX>570</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName03</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_04</name>
        <label>Add Ticket 04</label>
        <locationX>700</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName03</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_05</name>
        <label>Add Ticket 05</label>
        <locationX>830</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName05</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_06</name>
        <label>Add Ticket 06</label>
        <locationX>960</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName06</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_07</name>
        <label>Add Ticket 07</label>
        <locationX>1090</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName07</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_08</name>
        <label>Add Ticket 08</label>
        <locationX>1220</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName08</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_09</name>
        <label>Add Ticket 09</label>
        <locationX>1350</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName09</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Ticket_10</name>
        <label>Add Ticket 10</label>
        <locationX>1480</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketName10</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Current_Stage</name>
        <label>Reset Current Stage</label>
        <locationX>840</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kickoff_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ticket_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Ticket_Names</name>
        <label>Save Ticket Names</label>
        <locationX>201</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>vTicketName01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName02</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName03</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName04</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName05</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName06</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName07</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName08</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName09</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketName10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketName10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kickoff_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set a Ticket number to True if you want to branch to a process/flow rather than just marking as Completed</description>
        <name>Set_Process_Flags</name>
        <label>Set Process Flags</label>
        <locationX>683</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>vTicketProcess01</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess02</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess03</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess04</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess05</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess06</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess07</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess08</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess09</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess10</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ticket_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cLineColor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grey</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProjectDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Put_your_project_description_here</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ProjectName</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Ticket_Completion</name>
        <label>Check for Ticket Completion</label>
        <locationX>1156</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>T01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T01</label>
        </rules>
        <rules>
            <name>T02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T02</label>
        </rules>
        <rules>
            <name>T03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted03</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T03</label>
        </rules>
        <rules>
            <name>T04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted04</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T04</label>
        </rules>
        <rules>
            <name>T05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted05</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T05</label>
        </rules>
        <rules>
            <name>T06</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted06</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T06</label>
        </rules>
        <rules>
            <name>T07</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted07</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T07</label>
        </rules>
        <rules>
            <name>T08</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted08</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T08</label>
        </rules>
        <rules>
            <name>T09</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted09</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T09</label>
        </rules>
        <rules>
            <name>T10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTicketCompleted10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Current_Stage</targetReference>
            </connector>
            <label>T10</label>
        </rules>
    </decisions>
    <description>Template Flow for creating a P6 Project Template with a Kickoff Ticket and dependent tickets</description>
    <formulas>
        <name>fButtonLabel01</name>
        <dataType>String</dataType>
        <expression>IF({!vTicketProcess01},&quot;Process&quot;,&quot;Completed&quot;)</expression>
    </formulas>
    <formulas>
        <name>fButtonVariant01</name>
        <dataType>String</dataType>
        <expression>IF({!vTicketProcess01},&quot;success&quot;,&quot;brand&quot;)</expression>
    </formulas>
    <interviewLabel>P6 Project - Kickoff Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P6 Project - Template Kickoff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1537</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentStage}&lt;/p&gt;&lt;p&gt;{!$Flow.ActiveStages}&lt;/p&gt;&lt;p&gt;{!vTicketCompleted01}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted02}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted03}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted04}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted05}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted06}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted07}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted08}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted09}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vTicketCompleted10}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Kickoff_Screen</name>
        <label>Kickoff Screen</label>
        <locationX>356</locationX>
        <locationY>73</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Post_Kickoff_Tickets</targetReference>
        </connector>
        <fields>
            <name>ProjectName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;{!cProjectName}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!cProjectDescription}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KickoffButtons</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>pause</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Kickoff Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType2</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is where it all happens.  Collect any information here, set variable values, run components, etc.

Individual components can have their visibility filtered by whether or not athe current Flow Active Stages contains the ticket (Stage) name.</description>
        <name>Ticket_Screen</name>
        <label>Ticket Screen</label>
        <locationX>840</locationX>
        <locationY>73</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_Completed_Ticket</targetReference>
        </connector>
        <fields>
            <name>ProjectHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;{!cProjectName}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ticket01Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName01}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName01</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton01</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>fButtonLabel01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <elementReference>fButtonVariant01</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted01</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName01</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine01</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName01</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket02Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName02}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName02</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton02</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted02</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName02</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine02</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName02</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket03Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName03}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName03</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton03</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted03</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName03</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine03</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName03</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket04Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName04}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName04</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton04</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted04</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName04</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine04</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName04</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket05Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName05}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName05</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton05</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted05</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName05</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine05</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName05</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket06Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName06}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName06</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton06</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted06</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName06</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine06</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName06</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket07Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName07}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName07</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton07</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted07</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName07</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine07</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName07</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket08Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName08}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName08</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton08</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted08</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName08</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine08</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName08</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket09Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName09}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName09</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton09</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted09</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName09</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine09</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName09</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ticket10Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TicketName10}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName10</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketButton10</name>
            <extensionName>c:navigationButtonFSC2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTicketCompleted10</assignToReference>
                <name>fire</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName10</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TicketLine10</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.ActiveStages</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>TicketName10</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BottomLine</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>cLineColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>Initial Kickoff Ticket</description>
        <name>Kickoff_Project</name>
        <isActive>true</isActive>
        <label>Kickoff Project</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>TicketName01</name>
        <isActive>false</isActive>
        <label>TicketName01</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>TicketName02</name>
        <isActive>false</isActive>
        <label>TicketName02</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>TicketName03</name>
        <isActive>false</isActive>
        <label>TicketName03</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>TicketName04</name>
        <isActive>false</isActive>
        <label>TicketName04</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>TicketName05</name>
        <isActive>false</isActive>
        <label>TicketName05</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TicketName06</name>
        <isActive>false</isActive>
        <label>TicketName06</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TicketName07</name>
        <isActive>false</isActive>
        <label>TicketName07</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>TicketName08</name>
        <isActive>false</isActive>
        <label>TicketName08</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <name>TicketName09</name>
        <isActive>false</isActive>
        <label>TicketName09</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>TicketName10</name>
        <isActive>false</isActive>
        <label>TicketName10</label>
        <stageOrder>100</stageOrder>
    </stages>
    <startElementReference>Save_Ticket_Names</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Remove_Completed_Ticket</name>
        <label>Remove Completed Ticket</label>
        <locationX>1164</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Check_for_Ticket_Completion</targetReference>
        </connector>
        <flowName>P6_Project_Sub_Remove_Ticket</flowName>
        <inputAssignments>
            <name>vTicketCompleted01</name>
            <value>
                <elementReference>vTicketCompleted01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted02</name>
            <value>
                <elementReference>vTicketCompleted02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted03</name>
            <value>
                <elementReference>vTicketCompleted03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted04</name>
            <value>
                <elementReference>vTicketCompleted04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted05</name>
            <value>
                <elementReference>vTicketCompleted05</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted06</name>
            <value>
                <elementReference>vTicketCompleted06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted07</name>
            <value>
                <elementReference>vTicketCompleted07</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted08</name>
            <value>
                <elementReference>vTicketCompleted08</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted09</name>
            <value>
                <elementReference>vTicketCompleted09</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketCompleted10</name>
            <value>
                <elementReference>vTicketCompleted10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName01</name>
            <value>
                <elementReference>vTicketName01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName02</name>
            <value>
                <elementReference>vTicketName02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName03</name>
            <value>
                <elementReference>vTicketName03</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName04</name>
            <value>
                <elementReference>vTicketName04</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName05</name>
            <value>
                <elementReference>vTicketName05</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName06</name>
            <value>
                <elementReference>vTicketName06</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName07</name>
            <value>
                <elementReference>vTicketName07</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName08</name>
            <value>
                <elementReference>vTicketName08</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName09</name>
            <value>
                <elementReference>vTicketName09</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTicketName10</name>
            <value>
                <elementReference>TicketName10</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the Record ID of the record on the Lightning Record Page that this component is called from</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAddTicket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDoNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted02</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted03</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted04</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted05</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted06</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted07</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted08</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted09</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName04</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName06</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName07</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName08</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName09</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketName10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketProcess01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess02</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess03</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess04</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess05</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess06</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess07</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess08</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess09</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vTicketProcess10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
