force-app/main/default/flows/P6_Project_Sub_Retrieve_Ticket_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Complete_Ticket_01</name>
        <label>Complete Ticket 01</label>
        <locationX>1016</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketParent_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTemplateTicket.Parent_Ticket_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketType_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTemplateTicket.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketFlow_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTemplateTicket.Flow_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketGroup_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTemplateTicket.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketProcess_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTicketProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTicketAssign_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTicketAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_02</name>
        <label>Complete Ticket 02</label>
        <locationX>1146</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_02</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_03</name>
        <label>Complete Ticket 03</label>
        <locationX>1276</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_03</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_04</name>
        <label>Complete Ticket 04</label>
        <locationX>1406</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_04</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_05</name>
        <label>Complete Ticket 05</label>
        <locationX>1536</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_05</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_06</name>
        <label>Complete Ticket 06</label>
        <locationX>1666</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_06</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_07</name>
        <label>Complete Ticket 07</label>
        <locationX>1796</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_07</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_08</name>
        <label>Complete Ticket 08</label>
        <locationX>1926</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_08</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_09</name>
        <label>Complete Ticket 09</label>
        <locationX>2056</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_09</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_10</name>
        <label>Complete Ticket 10</label>
        <locationX>2186</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_11</name>
        <label>Complete Ticket 11</label>
        <locationX>1017</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_12</name>
        <label>Complete Ticket 12</label>
        <locationX>1147</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_12</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_13</name>
        <label>Complete Ticket 13</label>
        <locationX>1277</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_13</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_14</name>
        <label>Complete Ticket 14</label>
        <locationX>1407</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_14</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_15</name>
        <label>Complete Ticket 15</label>
        <locationX>1537</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_15</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_16</name>
        <label>Complete Ticket 16</label>
        <locationX>1667</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_16</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_17</name>
        <label>Complete Ticket 17</label>
        <locationX>1797</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_17</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_18</name>
        <label>Complete Ticket 18</label>
        <locationX>1927</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_18</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_19</name>
        <label>Complete Ticket 19</label>
        <locationX>2057</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_19</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_20</name>
        <label>Complete Ticket 20</label>
        <locationX>2187</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_20</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_21</name>
        <label>Complete Ticket 21</label>
        <locationX>1017</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_21</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_22</name>
        <label>Complete Ticket 22</label>
        <locationX>1147</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_22</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_23</name>
        <label>Complete Ticket 23</label>
        <locationX>1277</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_23</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_24</name>
        <label>Complete Ticket 24</label>
        <locationX>1407</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_24</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_25</name>
        <label>Complete Ticket 25</label>
        <locationX>1537</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_25</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_26</name>
        <label>Complete Ticket 26</label>
        <locationX>1667</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_26</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_27</name>
        <label>Complete Ticket 27</label>
        <locationX>1797</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_27</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_28</name>
        <label>Complete Ticket 28</label>
        <locationX>1927</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_28</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_29</name>
        <label>Complete Ticket 29</label>
        <locationX>2057</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_29</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Ticket_30</name>
        <label>Complete Ticket 30</label>
        <locationX>2187</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>vTicketCompleted_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Ticket_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Ticket_Count</name>
        <label>Return Ticket Count</label>
        <locationX>1607</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>vTotalTicketCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ticket_Data</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_Ticket</name>
        <label>Which Ticket?</label>
        <locationX>1599</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Which_Ticket_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>T01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_01</targetReference>
            </connector>
            <label>T01</label>
        </rules>
        <rules>
            <name>T02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_02</targetReference>
            </connector>
            <label>T02</label>
        </rules>
        <rules>
            <name>T03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_03</targetReference>
            </connector>
            <label>T03</label>
        </rules>
        <rules>
            <name>T04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_04</targetReference>
            </connector>
            <label>T04</label>
        </rules>
        <rules>
            <name>T05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_05</targetReference>
            </connector>
            <label>T05</label>
        </rules>
        <rules>
            <name>T06</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_06</targetReference>
            </connector>
            <label>T06</label>
        </rules>
        <rules>
            <name>T07</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_07</targetReference>
            </connector>
            <label>T07</label>
        </rules>
        <rules>
            <name>T08</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_08</targetReference>
            </connector>
            <label>T08</label>
        </rules>
        <rules>
            <name>T09</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_09</targetReference>
            </connector>
            <label>T09</label>
        </rules>
        <rules>
            <name>T10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_10</targetReference>
            </connector>
            <label>T10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Ticket_0</name>
        <label>Which Ticket?</label>
        <locationX>1599</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Which_Ticket_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>T11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_11</targetReference>
            </connector>
            <label>T11</label>
        </rules>
        <rules>
            <name>T12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_12</targetReference>
            </connector>
            <label>T12</label>
        </rules>
        <rules>
            <name>T13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_13</targetReference>
            </connector>
            <label>T13</label>
        </rules>
        <rules>
            <name>T14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_14</targetReference>
            </connector>
            <label>T14</label>
        </rules>
        <rules>
            <name>T15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_15</targetReference>
            </connector>
            <label>T15</label>
        </rules>
        <rules>
            <name>T16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_16</targetReference>
            </connector>
            <label>T16</label>
        </rules>
        <rules>
            <name>T17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_17</targetReference>
            </connector>
            <label>T17</label>
        </rules>
        <rules>
            <name>T18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_18</targetReference>
            </connector>
            <label>T18</label>
        </rules>
        <rules>
            <name>T19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_19</targetReference>
            </connector>
            <label>T19</label>
        </rules>
        <rules>
            <name>T20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_20</targetReference>
            </connector>
            <label>T20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Ticket_2</name>
        <label>Which Ticket?</label>
        <locationX>1600</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Return_Ticket_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>T21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_21</targetReference>
            </connector>
            <label>T21</label>
        </rules>
        <rules>
            <name>T22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>22.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_22</targetReference>
            </connector>
            <label>T22</label>
        </rules>
        <rules>
            <name>T23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>23.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_23</targetReference>
            </connector>
            <label>T23</label>
        </rules>
        <rules>
            <name>T24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_24</targetReference>
            </connector>
            <label>T24</label>
        </rules>
        <rules>
            <name>T25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_25</targetReference>
            </connector>
            <label>T25</label>
        </rules>
        <rules>
            <name>T26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>26.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_26</targetReference>
            </connector>
            <label>T26</label>
        </rules>
        <rules>
            <name>T27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>27.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_27</targetReference>
            </connector>
            <label>T27</label>
        </rules>
        <rules>
            <name>T28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_28</targetReference>
            </connector>
            <label>T28</label>
        </rules>
        <rules>
            <name>T29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>29.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_29</targetReference>
            </connector>
            <label>T29</label>
        </rules>
        <rules>
            <name>T30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objProjectTemplateTicket.Ticket_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Ticket_30</targetReference>
            </connector>
            <label>T30</label>
        </rules>
    </decisions>
    <description>Sub flow to read in the Ticket Records and set the individual variable in the Master flow</description>
    <formulas>
        <name>fTicketAssign</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!objProjectTemplateTicket.Flow_API_Name__c} &lt;&gt; &quot;&quot;,
{!objProjectTemplateTicket.Type__c} = &quot;Assign&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fTicketProcess</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!objProjectTemplateTicket.Flow_API_Name__c} &lt;&gt; &quot;&quot;,
{!objProjectTemplateTicket.Type__c} = &quot;Action&quot;
)</expression>
    </formulas>
    <interviewLabel>P6 Project - Sub - Retrieve Ticket Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P6 Project - Sub - Retrieve Ticket Data</label>
    <loops>
        <name>Loop_through_Ticket_Data</name>
        <label>Loop through Ticket Data</label>
        <locationX>453</locationX>
        <locationY>172</locationY>
        <assignNextValueToReference>objProjectTemplateTicket</assignNextValueToReference>
        <collectionReference>Get_Ticket_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Ticket_Data</name>
        <label>Get Ticket Data</label>
        <locationX>263</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Ticket_Data</targetReference>
        </connector>
        <filters>
            <field>Project_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProjectTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Template_Ticket__c</object>
        <sortField>Ticket_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Get_Ticket_Data</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>objProjectTemplateTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Template_Ticket__c</objectType>
    </variables>
    <variables>
        <name>vProjectTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketAssign_01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_02</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_03</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_04</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_05</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_06</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_07</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_08</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_09</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_11</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_12</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_13</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_14</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_15</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_16</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_17</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_18</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_19</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_20</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_21</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_22</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_23</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_24</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_25</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_26</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_27</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_28</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_29</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketCompleted_30</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketFlow_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketGroup_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketParent_01</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vTicketProcess_01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_02</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_03</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_04</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_05</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_06</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_07</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_08</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_09</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_11</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_12</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_13</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_14</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_15</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_16</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_17</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_18</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_19</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_20</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_21</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_22</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_23</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_24</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_25</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_26</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_27</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_28</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_29</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketSelected_30</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTicketType_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTotalTicketCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
