force-app/main/default/flows/P6_Project_Create_Stage_Labels_XML.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Label_01</name>
        <label>Label_01</label>
        <locationX>529</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_02</name>
        <label>Label_02</label>
        <locationX>616</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_03</name>
        <label>Label_03</label>
        <locationX>703</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_04</name>
        <label>Label_04</label>
        <locationX>790</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_04</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_05</name>
        <label>Label_05</label>
        <locationX>877</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_05</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_06</name>
        <label>Label_06</label>
        <locationX>964</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_06</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_07</name>
        <label>Label_07</label>
        <locationX>1051</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_07</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_08</name>
        <label>Label_08</label>
        <locationX>1138</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_08</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_09</name>
        <label>Label_09</label>
        <locationX>1225</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_09</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_10</name>
        <label>Label_10</label>
        <locationX>1312</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_11</name>
        <label>Label_11</label>
        <locationX>1087</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_12</name>
        <label>Label_12</label>
        <locationX>1174</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_13</name>
        <label>Label_13</label>
        <locationX>1262</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_13</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_14</name>
        <label>Label_14</label>
        <locationX>1349</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_14</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_15</name>
        <label>Label_15</label>
        <locationX>1435</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_15</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_16</name>
        <label>Label_16</label>
        <locationX>1522</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_16</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_17</name>
        <label>Label_17</label>
        <locationX>1610</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_17</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_18</name>
        <label>Label_18</label>
        <locationX>1697</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_18</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_19</name>
        <label>Label_19</label>
        <locationX>1783</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_19</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_20</name>
        <label>Label_20</label>
        <locationX>1870</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_21</name>
        <label>Label_21</label>
        <locationX>1643</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_21</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_22</name>
        <label>Label_22</label>
        <locationX>1730</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_22</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_23</name>
        <label>Label_23</label>
        <locationX>1817</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_23</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_24</name>
        <label>Label_24</label>
        <locationX>1903</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_24</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_25</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_25</name>
        <label>Label_25</label>
        <locationX>1991</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_25</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_26</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_26</name>
        <label>Label_26</label>
        <locationX>2078</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_26</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_27</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_27</name>
        <label>Label_27</label>
        <locationX>2165</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_27</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_28</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_28</name>
        <label>Label_28</label>
        <locationX>2251</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_28</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_29</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_29</name>
        <label>Label_29</label>
        <locationX>2339</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_29</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Label_30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_30</name>
        <label>Label_30</label>
        <locationX>2426</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>vStageXML</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabel_30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_XML</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&amp;lt;label&amp;gt;</stringValue>
        </value>
    </constants>
    <description>Run this flow to create the XML data with the correct Stage Labels for your P6 Kickoff Project templates.</description>
    <dynamicChoiceSets>
        <name>ProjectNames</name>
        <dataType>String</dataType>
        <displayField>Project_Name__c</displayField>
        <object>P6_Project_Template__mdt</object>
        <outputAssignments>
            <assignToReference>vLabel01</assignToReference>
            <field>Ticket_01_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel02</assignToReference>
            <field>Ticket_02_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel03</assignToReference>
            <field>Ticket_03_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel04</assignToReference>
            <field>Ticket_04_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel05</assignToReference>
            <field>Ticket_05_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel06</assignToReference>
            <field>Ticket_06_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel07</assignToReference>
            <field>Ticket_07_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel08</assignToReference>
            <field>Ticket_08_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel09</assignToReference>
            <field>Ticket_09_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel10</assignToReference>
            <field>Ticket_10_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel11</assignToReference>
            <field>Ticket_11_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel12</assignToReference>
            <field>Ticket_12_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel13</assignToReference>
            <field>Ticket_13_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel14</assignToReference>
            <field>Ticket_14_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel15</assignToReference>
            <field>Ticket_15_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel16</assignToReference>
            <field>Ticket_16_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel17</assignToReference>
            <field>Ticket_17_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel18</assignToReference>
            <field>Ticket_18_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel19</assignToReference>
            <field>Ticket_19_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel20</assignToReference>
            <field>Ticket_20_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel21</assignToReference>
            <field>Ticket_21_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel22</assignToReference>
            <field>Ticket_22_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel23</assignToReference>
            <field>Ticket_23_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel24</assignToReference>
            <field>Ticket_24_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel25</assignToReference>
            <field>Ticket_25_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel26</assignToReference>
            <field>Ticket_26_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel27</assignToReference>
            <field>Ticket_27_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel28</assignToReference>
            <field>Ticket_28_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel29</assignToReference>
            <field>Ticket_29_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLabel30</assignToReference>
            <field>Ticket_30_Name__c</field>
        </outputAssignments>
        <sortField>Project_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fLabel_01</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel01})),SUBSTITUTE({!ttStageLabels},{!cLabel} &amp; &quot;TicketName_01&quot;,{!cLabel} &amp; {!vLabel01}),{!ttStageLabels})</expression>
    </formulas>
    <formulas>
        <name>fLabel_02</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel02})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_02&quot;,{!cLabel} &amp; {!vLabel02}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_03</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel03})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_03&quot;,{!cLabel} &amp; {!vLabel03}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_04</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel04})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_04&quot;,{!cLabel} &amp; {!vLabel04}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_05</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel05})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_05&quot;,{!cLabel} &amp; {!vLabel05}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_06</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel06})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_06&quot;,{!cLabel} &amp; {!vLabel06}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_07</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel07})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_07&quot;,{!cLabel} &amp; {!vLabel07}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_08</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel08})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_08&quot;,{!cLabel} &amp; {!vLabel08}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_09</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel09})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_09&quot;,{!cLabel} &amp; {!vLabel09}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_10</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel10})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_10&quot;,{!cLabel} &amp; {!vLabel10}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_11</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel11})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_11&quot;,{!cLabel} &amp; {!vLabel11}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_12</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel12})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_12&quot;,{!cLabel} &amp; {!vLabel12}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_13</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel13})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_13&quot;,{!cLabel} &amp; {!vLabel13}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_14</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel14})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_14&quot;,{!cLabel} &amp; {!vLabel14}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_15</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel15})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_15&quot;,{!cLabel} &amp; {!vLabel15}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_16</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel16})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_16&quot;,{!cLabel} &amp; {!vLabel16}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_17</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel17})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_17&quot;,{!cLabel} &amp; {!vLabel17}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_18</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel18})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_18&quot;,{!cLabel} &amp; {!vLabel18}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_19</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel19})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_19&quot;,{!cLabel} &amp; {!vLabel19}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_20</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel20})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_20&quot;,{!cLabel} &amp; {!vLabel20}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_21</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel21})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_21&quot;,{!cLabel} &amp; {!vLabel21}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_22</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel22})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_22&quot;,{!cLabel} &amp; {!vLabel22}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_23</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel23})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_23&quot;,{!cLabel} &amp; {!vLabel23}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_24</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel24})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_24&quot;,{!cLabel} &amp; {!vLabel24}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_25</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel25})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_25&quot;,{!cLabel} &amp; {!vLabel25}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_26</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel26})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_26&quot;,{!cLabel} &amp; {!vLabel26}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_27</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel27})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_27&quot;,{!cLabel} &amp; {!vLabel27}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_28</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel28})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_28&quot;,{!cLabel} &amp; {!vLabel28}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_29</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel29})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_29&quot;,{!cLabel} &amp; {!vLabel29}),{!vStageXML})</expression>
    </formulas>
    <formulas>
        <name>fLabel_30</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!vLabel30})),SUBSTITUTE({!vStageXML},{!cLabel} &amp; &quot;TicketName_30&quot;,{!cLabel} &amp; {!vLabel30}),{!vStageXML})</expression>
    </formulas>
    <interviewLabel>P6 Project - Create Stage Labels XML {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P6 Project - Create Stage Labels XML</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>385</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Label_01</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectNames</elementReference>
            </value>
        </filters>
        <object>P6_Project_Template__mdt</object>
        <outputReference>Metadata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Name__c</queriedFields>
        <queriedFields>Ticket_01_Name__c</queriedFields>
        <queriedFields>Ticket_02_Name__c</queriedFields>
        <queriedFields>Ticket_03_Name__c</queriedFields>
        <queriedFields>Ticket_04_Name__c</queriedFields>
        <queriedFields>Ticket_05_Name__c</queriedFields>
        <queriedFields>Ticket_06_Name__c</queriedFields>
        <queriedFields>Ticket_07_Name__c</queriedFields>
        <queriedFields>Ticket_08_Name__c</queriedFields>
        <queriedFields>Ticket_09_Name__c</queriedFields>
        <queriedFields>Ticket_10_Name__c</queriedFields>
        <queriedFields>Ticket_11_Name__c</queriedFields>
        <queriedFields>Ticket_12_Name__c</queriedFields>
        <queriedFields>Ticket_13_Name__c</queriedFields>
        <queriedFields>Ticket_14_Name__c</queriedFields>
        <queriedFields>Ticket_15_Name__c</queriedFields>
        <queriedFields>Ticket_16_Name__c</queriedFields>
        <queriedFields>Ticket_17_Name__c</queriedFields>
        <queriedFields>Ticket_18_Name__c</queriedFields>
        <queriedFields>Ticket_19_Name__c</queriedFields>
        <queriedFields>Ticket_20_Name__c</queriedFields>
        <queriedFields>Ticket_21_Name__c</queriedFields>
        <queriedFields>Ticket_22_Name__c</queriedFields>
        <queriedFields>Ticket_23_Name__c</queriedFields>
        <queriedFields>Ticket_24_Name__c</queriedFields>
        <queriedFields>Ticket_25_Name__c</queriedFields>
        <queriedFields>Ticket_26_Name__c</queriedFields>
        <queriedFields>Ticket_27_Name__c</queriedFields>
        <queriedFields>Ticket_28_Name__c</queriedFields>
        <queriedFields>Ticket_29_Name__c</queriedFields>
        <queriedFields>Ticket_30_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_XML</name>
        <label>Display XML</label>
        <locationX>2433</locationX>
        <locationY>103</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(9, 157, 49);&quot;&gt;Replace the &lt;/b&gt;&lt;b style=&quot;font-size: 22px; color: rgb(86, 156, 214);&quot;&gt;&amp;lt;stages&amp;gt;&lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(9, 157, 49);&quot;&gt; sections of your Flow XML with this data.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>XML</name>
            <fieldText>&lt;p&gt;{!vStageXML}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Selection</name>
        <label>Project Selection</label>
        <locationX>229</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
        <fields>
            <name>Select_Template_Name2</name>
            <choiceReferences>ProjectNames</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Template Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Project_Selection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttStageLabels</name>
        <text>&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;description&amp;gt;Initial Kickoff Ticket&amp;lt;/description&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;Kickoff_Project&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;true&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;Kickoff Project&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;1&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_01&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_01&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;10&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_02&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_02&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;20&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_03&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_03&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;30&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_04&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_04&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;40&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_05&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_05&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;50&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_06&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_06&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;60&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_07&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_07&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;70&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_08&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_08&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;80&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_09&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_09&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;90&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_10&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_10&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;100&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_11&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_11&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;110&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_12&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_12&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;120&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_13&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_13&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;130&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_14&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_14&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;140&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_15&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_15&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;150&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_16&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_16&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;160&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_17&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_17&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;170&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_18&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_18&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;180&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_19&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_19&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;190&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_20&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_20&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;200&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_21&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_21&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;210&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_22&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_22&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;220&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_23&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_23&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;230&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_24&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_24&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;240&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_25&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_25&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;250&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_26&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_26&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;260&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_27&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_27&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;270&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_28&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_28&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;280&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_29&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_29&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;290&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;stages&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;name&amp;gt;TicketName_30&amp;lt;/name&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;isActive&amp;gt;false&amp;lt;/isActive&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;label&amp;gt;TicketName_30&amp;lt;/label&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;lt;stageOrder&amp;gt;300&amp;lt;/stageOrder&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;lt;/stages&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>P6_Project_Template__mdt</objectType>
    </variables>
    <variables>
        <name>vLabel01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel04</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel06</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel07</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel08</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel09</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel13</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel16</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel17</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel18</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel19</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel20</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel25</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel26</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel27</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel28</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel29</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLabel30</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Copy the body of this text variable and replace the designated section in the P6 Kickoff Project flow</description>
        <name>vStageXML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
