force-app/main/default/flows/Product_Insert_Pricebook_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_PricebookEntry_to_Collection</name>
        <label>Add PricebookEntry to Collection</label>
        <locationX>722</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>colPricebookEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objPricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PricebookEntry_to_Collection_0</name>
        <label>Add PricebookEntry to Collection</label>
        <locationX>348</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>colPricebookEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objPricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Pricebook_Entry</name>
        <label>Create Pricebook Entry</label>
        <locationX>721</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>objPricebookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PricebookEntry_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Pricebook_Entry_0</name>
        <label>Create Std Pricebook Entry</label>
        <locationX>180</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>objPricebookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vStdPBID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PricebookEntry_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>22</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>vProdID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01tK0000005rVmm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_PB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Pricebook</name>
        <label>Which Pricebook?</label>
        <locationX>719</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Create_Pricebook_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CUSTOM</defaultConnectorLabel>
        <rules>
            <name>STANDARD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objPricebook.IsStandard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Pricebooks</targetReference>
            </connector>
            <label>STANDARD</label>
        </rules>
    </decisions>
    <interviewLabel>Product - Insert Pricebook Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - Insert Pricebook Entries</label>
    <loops>
        <name>Loop_through_Pricebooks</name>
        <label>Loop through Pricebooks</label>
        <locationX>511</locationX>
        <locationY>340</locationY>
        <assignNextValueToReference>objPricebook</assignNextValueToReference>
        <collectionReference>colPricebook</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Pricebook</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_PricebookEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_PricebookEntries</name>
        <label>Save PricebookEntries</label>
        <locationX>516</locationX>
        <locationY>455</locationY>
        <inputReference>colPricebookEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Standard_PB</name>
        <label>Get Standard PB</label>
        <locationX>179</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Pricebook_Entry_0</targetReference>
        </connector>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>vStdPBID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Pricebooks</name>
        <label>Lookup Pricebooks</label>
        <locationX>511</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Pricebooks</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>colPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsStandard</queriedFields>
    </recordLookups>
    <startElementReference>Get_Standard_PB</startElementReference>
    <status>Active</status>
    <variables>
        <name>colPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>colPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>objPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>objPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>vProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStdPBID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
