force-app/main/default/flows/Stage_Test_Flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Stages_1</name>
        <label>Add Stages 1</label>
        <locationX>554</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketStage_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketStage_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TicketStage_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actives_Stages_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages_2</name>
        <label>Add Stages 2</label>
        <locationX>913</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSL_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSL_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSL_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actives_Stages_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Values</name>
        <label>Save Values</label>
        <locationX>221</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>vSL_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketStage_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSL_02</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketStage_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSL_03</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TicketStage_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stages</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Stage Test - Flow 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stage Test - Flow 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Actives_Stages_1</name>
        <label>Actives Stages 1</label>
        <locationX>728</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Stages_2</targetReference>
        </connector>
        <fields>
            <name>AS1</name>
            <fieldText>&lt;p&gt;{!$Flow.ActiveStages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Actives_Stages_2</name>
        <label>Actives Stages 2</label>
        <locationX>1090</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AS1_0</name>
            <fieldText>&lt;p&gt;{!$Flow.ActiveStages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stages</name>
        <label>Stages</label>
        <locationX>385</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Stages_1</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Stages&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!TicketStage_01}&lt;/p&gt;&lt;p&gt;{!TicketStage_02}&lt;/p&gt;&lt;p&gt;{!TicketStage_03}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Variables&lt;/p&gt;&lt;p&gt;{!vSL_01}&lt;/p&gt;&lt;p&gt;{!vSL_02}&lt;/p&gt;&lt;p&gt;{!vSL_03}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>TicketStage_01</name>
        <isActive>false</isActive>
        <label>StageLabel_01</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>TicketStage_02</name>
        <isActive>false</isActive>
        <label>StageLabel_02</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>TicketStage_03</name>
        <isActive>false</isActive>
        <label>StageLabel_03</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Save_Values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vSL_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSL_02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSL_03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
