force-app/main/default/flows/Stage_Test_Flow_2_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Pop_SL_01</name>
        <label>Pop SL 01</label>
        <locationX>226</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>vSL_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPopStageLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colStageLabels</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pop_SL_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_SL_02</name>
        <label>Pop SL 02</label>
        <locationX>301</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>vSL_02</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPopStageLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colStageLabels</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pop_SL_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_SL_03</name>
        <label>Pop SL 03</label>
        <locationX>375</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>vSL_03</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPopStageLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Stages</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fPopStageLabel</name>
        <dataType>String</dataType>
        <expression>LEFT({!colStageLabels},FIND(&quot;,&quot;,{!colStageLabels})-1)</expression>
    </formulas>
    <interviewLabel>Stage Test - Flow 2 - Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stage Test - Flow 2 - Master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Stages</name>
        <label>Display Stages</label>
        <locationX>383</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;[{!$Flow.ActiveStages}]&lt;/p&gt;&lt;p&gt;[{!colStageLabels}]&lt;/p&gt;&lt;p&gt;1/{!vSL_01}&lt;/p&gt;&lt;p&gt;2/{!vSL_02}&lt;/p&gt;&lt;p&gt;3/{!vSL_03}&lt;/p&gt;&lt;p&gt;{!vSN_01}&lt;/p&gt;&lt;p&gt;{!vSN_02}&lt;/p&gt;&lt;p&gt;{!vSN_03}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Call_Set_Stage_Sub</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Call_Set_Stage_Sub</name>
        <label>Call Set Stage Sub</label>
        <locationX>226</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Display_Stages</targetReference>
        </connector>
        <flowName>Stage_Test_Flow_2_Sub_Set_Stages</flowName>
        <outputAssignments>
            <assignToReference>colStageLabels</assignToReference>
            <name>colStageLabels</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSL_01</assignToReference>
            <name>vSL_01</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSL_02</assignToReference>
            <name>vSL_02</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSL_03</assignToReference>
            <name>vSL_03</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSN_01</assignToReference>
            <name>vSN_01</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSN_02</assignToReference>
            <name>vSN_02</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSN_03</assignToReference>
            <name>vSN_03</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colStageLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSL_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSL_02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSL_03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSN_01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSN_02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSN_03</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
