force-app/main/default/flows/Sub_Flow_Get_Group_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>25</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>vGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Last_Comma</name>
        <label>Remove Last Comma</label>
        <locationX>347</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>vEmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveLast</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Save_Email</name>
        <label>Save Email</label>
        <locationX>555</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>vEmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Member</targetReference>
        </connector>
    </assignments>
    <description>Input a Group Name and return a delimited list of email addresses</description>
    <formulas>
        <name>fAddEmail</name>
        <dataType>String</dataType>
        <expression>{!vEmailList}&amp;{!vUserEmail}&amp;&quot;,&quot;</expression>
    </formulas>
    <formulas>
        <name>fRemoveLast</name>
        <dataType>String</dataType>
        <expression>LEFT({!vEmailList},LEN({!vEmailList})-1)</expression>
    </formulas>
    <interviewLabel>Sub Flow - Get Group Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Flow - Get Group Emails</label>
    <loops>
        <name>For_Each_Member</name>
        <label>For Each Member</label>
        <locationX>345</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>objGroupMember</assignNextValueToReference>
        <collectionReference>colGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Last_Comma</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_ID</name>
        <label>Get Group ID</label>
        <locationX>165</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Members</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vGroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Members</name>
        <label>Get Members</label>
        <locationX>162</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Member</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>colGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Email</name>
        <label>Get User Email</label>
        <locationX>551</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objGroupMember.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Group_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>colGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>objGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
