force-app/main/default/flows/test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>us00</name>
        <label>us</label>
        <locationX>406</locationX>
        <locationY>301</locationY>
        <actionName>c:updateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vRecId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vRecErr</assignToReference>
            <name>recordError</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>1415</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputHere</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>29</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001rb4AmAAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>save_id</name>
        <label>save id</label>
        <locationX>958</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>vSaveId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objOpp.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ID</name>
        <label>Set ID</label>
        <locationX>734</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0010e00001JUkEpAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ID0</name>
        <label>Set ID</label>
        <locationX>342</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>vRecId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0010e00001JUkEpAAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Values</name>
        <label>Start Values</label>
        <locationX>643</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0060e00001rOKLSAA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_F_Opp</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>Reformat date to DD/MM/YY format</description>
        <name>formattedDate</name>
        <dataType>Date</dataType>
        <expression>text(DAY({!date}))&amp;&quot;/&quot;&amp;text(MONTH({!date}))&amp;&quot;/&quot;&amp;text(YEAR({!date}))</expression>
    </formulas>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>156</locationX>
        <locationY>615</locationY>
        <assignNextValueToReference>objCST</assignNextValueToReference>
        <collectionReference>vCST</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>debug</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_for_Conga_Signed_Doc</name>
        <label>Check for Conga Signed Doc</label>
        <locationX>234</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
        <filters>
            <field>APXT_CongaSign__ExternalObjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETE</stringValue>
            </value>
        </filters>
        <object>APXT_CongaSign__Transaction__c</object>
        <outputAssignments>
            <assignToReference>vSAId</assignToReference>
            <field>APXT_CongaSign__ContentDocumentId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCongaSignTrxId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>APXT_CongaSign__CompletedOn__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>fl</name>
        <label>Check for Conga Signed Doc</label>
        <locationX>82</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETE</stringValue>
            </value>
        </filters>
        <object>APXT_CongaSign__Transaction__c</object>
        <outputReference>vCST</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>APXT_CongaSign__ExternalObjectId__c</queriedFields>
        <queriedFields>APXT_CongaSign__Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>APXT_CongaSign__ContentDocumentId__c</queriedFields>
        <sortField>APXT_CongaSign__CompletedOn__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get</name>
        <label>Get</label>
        <locationX>629</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dd0</targetReference>
        </connector>
        <filters>
            <field>CommentBody</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>#</stringValue>
            </value>
        </filters>
        <object>FeedComment</object>
        <outputAssignments>
            <assignToReference>vBody</assignToReference>
            <field>CommentBody</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>521</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>us00</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vHp</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>1014</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dd0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSaveId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>vBody</assignToReference>
            <field>ContractNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_F_Opp</name>
        <label>Get F Opp</label>
        <locationX>825</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>save_id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpp</outputReference>
        <queriedFields>ContractId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>819</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dd0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vContractId</assignToReference>
            <field>ContractId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Tandem</name>
        <label>Tandem</label>
        <locationX>1437</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>disp0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acton</stringValue>
            </value>
        </filters>
        <object>E911_Tandem_Assignments__mdt</object>
        <outputAssignments>
            <assignToReference>dn</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>l</assignToReference>
            <field>Label</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ml</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>q</assignToReference>
            <field>QualifiedApiName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>t</assignToReference>
            <field>Tandem__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>dd0</name>
        <label>d</label>
        <locationX>823</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ddd</name>
            <fieldText>{!vBody}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>dd0_0</name>
        <label>d</label>
        <locationX>1205</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ddd_0</name>
            <fieldText>[{!objOpp.ContractId}]
[{!vBody}]</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>266</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <fields>
            <name>d0</name>
            <fieldText>{!vSAId}||{!vOppId}
{!vCST}
___
{!objCST.Name}|{!objCST.APXT_CongaSign__ExternalObjectId__c}|{!objCST.APXT_CongaSign__Status__c}|{!objCST.APXT_CongaSign__ContentDocumentId__c}|
___</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>disp0</name>
        <label>disp</label>
        <locationX>1441</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dddd</name>
            <fieldText>dn:{!dn}
label:{!l}
ml:{!ml}
qual:{!q}
t:{!t}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_File</name>
        <label>Get File</label>
        <locationX>933</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ColFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vMulti</assignToReference>
                <name>multiple</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vHoverText</assignToReference>
                <name>title</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>1148</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <fields>
            <name>InputHere</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>date</elementReference>
            </defaultValue>
            <fieldText>InputHere</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>I2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dd</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>date</elementReference>
            </defaultValue>
            <fieldText>dd</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>df</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formattedDate</elementReference>
            </defaultValue>
            <fieldText>df</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lightning</name>
        <label>Lightning</label>
        <locationX>88</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>result</targetReference>
        </connector>
        <fields>
            <name>Picklist</name>
            <extensionName>c:PicklistSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Low</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>This get set back to field name after being displayed</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vResult</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>1147</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oo</name>
            <fieldText>{!inp}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Default_Inp</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>inp</elementReference>
            </defaultValue>
            <fieldText>Default Inp</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>out</name>
            <fieldText>{!copy}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>copy</elementReference>
            </defaultValue>
            <fieldText>Copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlowDate</name>
            <fieldText>FlowDate</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>d1</name>
            <fieldText>{!date}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>result</name>
        <label>result</label>
        <locationX>80</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dr</name>
            <fieldText>{!vResult}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>973</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp</name>
            <fieldText>Files: {!ColFileNames}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Set_ID0</startElementReference>
    <status>InvalidDraft</status>
    <variables>
        <name>ColFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>copy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>l</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objCST</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APXT_CongaSign__Transaction__c</objectType>
    </variables>
    <variables>
        <name>objOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>q</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>t</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCongaSignTrxId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APXT_CongaSign__Transaction__c</objectType>
    </variables>
    <variables>
        <name>vHoverText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hover Text</stringValue>
        </value>
    </variables>
    <variables>
        <name>vHp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMulti</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecErr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSaveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
