force-app/main/default/flows/Test_Redirect_to_VF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>test</name>
        <label>test</label>
        <locationX>411</locationX>
        <locationY>345</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>e</targetReference>
        </connector>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>ttURL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>fGWI</name>
        <dataType>String</dataType>
        <expression>&quot;https://gwi--c.visualforce.com&quot;</expression>
    </formulas>
    <interviewLabel>Test Redirect to VF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Redirect to VF</label>
    <processType>Flow</processType>
    <screens>
        <name>e</name>
        <label>e</label>
        <locationX>679</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ee</name>
            <fieldText>End</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s</name>
        <label>s</label>
        <locationX>241</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <fields>
            <name>ss</name>
            <fieldText>Start</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>s</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttURL</name>
        <text>{!fGWI}/apex/OLI_Update?oid={!recordId}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
