force-app/main/default/flows/Test_Redirect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Calling_Record_ID</name>
        <label>Get Calling Record ID</label>
        <locationX>78</locationX>
        <locationY>63</locationY>
        <actionName>c:GetCurrentRecordId</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>D1</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>vRecordId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>goto_Contract</name>
        <label>goto Contract</label>
        <locationX>639</locationX>
        <locationY>206</locationY>
        <actionName>c:navigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>vContractId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>load_vf_page</name>
        <label>load vf page</label>
        <locationX>458</locationX>
        <locationY>269</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>ttUrl</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>id</name>
        <label>id</label>
        <locationX>60</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>vRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEnviron</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Classic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>button</name>
        <label>button</label>
        <locationX>73</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>get_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>id</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>Test Redirect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Redirect</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Opp</name>
        <label>get Opp</label>
        <locationX>277</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vContractId</assignToReference>
            <field>ContractId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>D1</name>
        <label>D1</label>
        <locationX>495</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>load_vf_page</targetReference>
        </connector>
        <fields>
            <name>dd1</name>
            <fieldText>Calling Record ID: {!vRecordId}
Contract ID: {!vContractId}
Opp ID: {!vOppId}
Environment: {!vEnviron}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Calling_Record_ID</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttUrl</name>
        <text>https://gwi.lightning.force.com/lightning/r/Opportunity/{!vRecordId}/edit</text>
    </textTemplates>
    <variables>
        <name>vContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnviron</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lightning</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
