force-app/main/default/flows/Test_Sample_Loop_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_admin</name>
        <label>Email admin</label>
        <locationX>229</locationX>
        <locationY>394</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_SA_s</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>c1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>c1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assignment_1</name>
        <label>A1 (Update Object variables)</label>
        <locationX>744</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>objSA.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1_0</name>
        <label>A2 (Add Object vars to Collection vars)</label>
        <locationX>742</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>objSA.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SA_s</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>If_Mobile_Phone</name>
        <label>If Mobile Phone</label>
        <locationX>537</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Email_admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <interviewLabel>Test - Sample Loop Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - Sample Loop Flow</label>
    <loops>
        <name>Loop_SA_s</name>
        <label>Loop SA&#39;s</label>
        <locationX>425</locationX>
        <locationY>169</locationY>
        <assignNextValueToReference>objSA</assignNextValueToReference>
        <collectionReference>Get_SA_s_needing_SMS_Sent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Mobile_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SMS_Action_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SMS_Action_records</name>
        <label>Create SMS Action records</label>
        <locationX>742</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Update_SMS_Sent</targetReference>
        </connector>
        <inputReference>colAcc</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SA_s_needing_SMS_Sent</name>
        <label>Get SA&#39;s needing SMS Sent</label>
        <locationX>225</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA_s</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SMS_Sent</name>
        <label>Update SMS Sent</label>
        <locationX>919</locationX>
        <locationY>79</locationY>
        <inputReference>objSA</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA_s_needing_SMS_Sent</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
