force-app/main/default/flows/Update_NNI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostWait</name>
        <label>PostWait</label>
        <locationX>413</locationX>
        <locationY>568</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>005600000019cXW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>PostWait</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PreWait</name>
        <label>PreWait</label>
        <locationX>413</locationX>
        <locationY>409</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>005600000019cXW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>PreWait</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Field_Value_s</name>
        <label>Set Field Value(s)</label>
        <locationX>213</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>objCO.NNI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Testing</name>
        <label>Testing</label>
        <locationX>31</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>recID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Y32000009HvWp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passedValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Production</description>
    <interviewLabel>Update NNI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update NNI</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Record</name>
        <label>Load Record</label>
        <locationX>213</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Field_Value_s</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recID</elementReference>
            </value>
        </filters>
        <object>CO__c</object>
        <outputReference>objCO</outputReference>
        <queriedFields>NNI__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>215</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>PreWait</targetReference>
        </connector>
        <inputReference>objCO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordx</name>
        <label>Update Record</label>
        <locationX>212</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NNI__c</field>
            <value>
                <elementReference>passedValue</elementReference>
            </value>
        </inputAssignments>
        <object>CO__c</object>
    </recordUpdates>
    <startElementReference>Update_Recordx</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>objCO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO__c</objectType>
    </variables>
    <variables>
        <name>passedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>216</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>PostWait</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
