force-app/main/default/flows/Update_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Users</name>
        <label>Update Users</label>
        <locationX>246</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>objUser.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objUser.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Users</label>
    <loops>
        <name>Process_Users</name>
        <label>Process Users</label>
        <locationX>244</locationX>
        <locationY>214</locationY>
        <assignNextValueToReference>objUser</assignNextValueToReference>
        <collectionReference>coluser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Users</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>245</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Users</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PortalRole</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e32000000rXlS</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>coluser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>EmailEncodingKey</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>451</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Process_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Users</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>objUser.FirstName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Get_Users</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>colUpdUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>coluser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>objUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
